<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{ width: '50px', height: '50px' }" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<section class="potential-customer-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="/assets/icons/components/customer-list.svg" class="Money-2" />
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">
                    {{appName == 'VNS' ? 'Danh sách khách hàng tiềm năng' : 'Danh sách tiềm năng'}}</div>
                  <div class="box-header-subtitle">
                    {{ listPotentialCustomer.length }} bản ghi -
                    {{appName == 'VNS' ? 'Sắp xếp theo ngày cập nhật gần nhất' : 'Sắp xếp theo ngày tạo gần nhất'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="col-md-12">
          <div class="box-header-group-btn mode-section">
            <span *ngIf="currentMode == true" style="margin-right: 3px;">
              Hiển thị dạng danh sách
            </span>
            <span *ngIf="currentMode == false" style="margin-right: 3px;">
              Hiển thị dạng bản đồ
            </span>
            <p-inputSwitch (onChange)="switchMode($event)" [(ngModel)]="currentMode"></p-inputSwitch>
            <div style="clear: both;"></div>
          </div>
          <div *ngIf="currentMode == true" class="row no-margin no-padding">
            <div class="col-md-12 no-padding header-button" style="text-align: right;">
              <button type="button" class="export-exel" *ngIf="actionDownload" (click)="exportExcel()">
                <span class="export-exel-text">Xuất Excel</span>
              </button>

              <button type="button" class="import-exel" *ngIf="actionImport" (click)="importCustomer()">
                <span class="import-exel-text">Nhập từ Excel</span>
              </button>

              <button type="button" class="btn-create" *ngIf="actionAdd" (click)="openAddPotentialCusDialog()">
                <span class="btn-create-text">Tạo mới</span>
              </button>
              <div style="clear: both;"></div>
            </div>
            <div class="col-md-12 no-padding">
              <div class="box-header-group-btn">
                <button type="button" class="btn-refresh" (click)="refreshFilter()">
                  <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh" />
                </button>
                <button type="button" class="btn-filter" (click)="showFilter()">
                  <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel" />
                  <span class="btn-filter-text">Bộ lọc</span>
                </button>
                <input [(ngModel)]="filterGlobal" type="text" class="iput-text global-filter"
                  placeholder="Tìm kiếm trong danh sách" (input)="
                  table.filterGlobal($event.target.value.trim(), 'contains')
                " />
                <div style="clear: both;"></div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div *ngIf="isShowFilterTop && currentMode == true" class="col-md-12 no-padding">
      <div class="box-filter">
        <form [formGroup]="filterForm">
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              BỘ LỌC DỮ LIỆU
            </div>
          </div>
          <div class="row no-margin pb-1" *ngIf="appName == 'VNS'">
            <div class="col-md-6 mt-5">
              <p-checkbox formControlName="khachDuAn" binary="true" label="Khách dự án"></p-checkbox>
            </div>
            <div class="col-md-6 mt-5">
              <p-checkbox formControlName="khachBanLe" binary="true" label="Khách bán lẻ"></p-checkbox>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="CareState" [options]="listCareState" [virtualScroll]="true"
                defaultLabel="Trạng thái chăm sóc" optionLabel="categoryName" [style]="{'width': '100%'}"
                [resetFilterOnHide]="true" selectedItemsLabel="{0} nguồn trạng thái chắm sóc" [filter]="true">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listCusGroup" formControlName="CusGroup" defaultLabel="Chọn nhóm khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} nhóm khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listCusType" formControlName="CusType" defaultLabel="Chọn loại khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} loại khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="Pic" class="customer-dropdown" [options]="listPersonalInChange"
                [virtualScroll]="true" [style]="{'width': '100%'}" optionLabel="employeeName" [filter]="true"
                selectedItemsLabel="{0} người phụ trách" defaultLabel="Người phụ trách">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="ListInvestmentFund" [options]="listInvestFund" [virtualScroll]="true"
                defaultLabel="Nguồn tiềm năng" optionLabel="categoryName" [style]="{'width': '100%'}"
                [resetFilterOnHide]="true" selectedItemsLabel="{0} nguồn tiềm năng" [filter]="true">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listArea" formControlName="Area" defaultLabel="Chọn khu vực"
                optionLabel="geographicalAreaName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} khu vực được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listPotential" formControlName="potential" defaultLabel="Chọn mức độ tiềm năng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} mức độ tiềm năng"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-6">
              <p-calendar formControlName="StartDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [maxDate]="filterForm.get('EndDate').value"
                placeholder="Từ ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
            <div class="col-md-6 pd-10" style="padding-top: 10px;">
              <p-calendar formControlName="EndDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [minDate]="filterForm.get('StartDate').value"
                placeholder="Đến ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Name" type="text" class="quote-code-text"
                placeholder="Họ tên" />
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Phone" type="text" class="quote-code-text"
                placeholder="Số điện thoại" />
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Email" type="text" class="quote-code-text"
                placeholder="Email" />
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Address" type="text" class="quote-code-text"
                placeholder="Địa chỉ" />
            </div>
          </div>
        </form>

        <div class="row no-margin pb-1">
          <div class="col-md-12 mt-5" style="text-align: right;">
            <button type="button" class="btn-search" (click)="searchCustomer()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentMode == true" class="col-md-12 action-wrapper buttons-header">
      <div class="row no-padding no-margin">
        <div class="col-md-12 no-padding" style="text-align: right;">
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>

    <div class="col-md-{{ leftColNumber }} no-padding">
      <p-table *ngIf="currentMode == true" dataKey="customerId" #table [columns]="selectedColumns"
        [value]="listPotentialCustomer" [resizableColumns]="true" columnResizeMode="expand" [paginator]="true"
        [rows]="rows" [rowsPerPageOptions]="[10, 20, 30]" [responsive]="true" (onPage)="pageChange($event)"
        [(selection)]="selectedCustomers">
        <ng-template pTemplate="caption">
          <div style="text-align: left;">
            <p-multiSelect [options]="colsCustomer" optionLabel="header" [(ngModel)]="selectedColumns"
              [ngModelOptions]="{ standalone: true }" selectedItemsLabel="{0} cột được chọn"
              [style]="{ minWidth: '200px' }" defaultLabel="Chọn cột"></p-multiSelect>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3.5em; text-align: center;">
              #
            </th>
            <th style="width: 3em;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="text-align: center; width: 100px;">
              <span>Thao tác</span>
            </th>
            <th *ngFor="let col of columns" pResizableColumn
              [ngStyle]="{ 'text-align': col.textAlign, display: col.display }">
              <span>
                {{ col.header }}
              </span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td style="text-align: center;">
              {{rowData.index}}
            </td>
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td style="text-align: center; width: 100px;">
              <p-splitButton label="Thao tác" icon="" (onDropdownClick)="onChangeAction(rowData)" [model]="actions"
                appendTo="body" styleClass="ui-button-secondary"></p-splitButton>
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
              [ngStyle]="{ 'text-align': col.textAlign, display: col.display }">
              <span class="ui-column-title">{{ col.header }}</span>
              <span *ngSwitchCase="'customerName'" (click)="goToDetail(rowData)" class="link">
                {{ rowData[col.field] }}
              </span>
              <span *ngSwitchCase="'statusName'" class="status"
                [ngStyle]="{'background-color': rowData['backgroupStatus']}" style="display: inline-block;
                  padding: 3px 3px;
                  color: white;
                  width: 100%;
                  text-align: center;">
                {{ rowData[col.field] }}
              </span>
              <span *ngSwitchCase="'careStateName'" class="status"
                [ngStyle]="{'background-color': rowData['backgroupCareState'], 'color': rowData['color']}" style="display: inline-block;
                  padding: 3px 3px;
                  width: 100%;
                  text-align: center;">
                {{ rowData[col.field] }}
              </span>
              <span *ngSwitchCase="'statusSupportName'" class="status"
                [ngStyle]="{'background-color': rowData['backgroupStatus']}" style="display: inline-block;
                padding: 3px 3px;
                color: white;
                width: 100%;
                text-align: center;">
                {{ rowData[col.field] }}
              </span>
              <span *ngSwitchCase="'createdDate'">
                {{ rowData[col.field] | date:'dd/MM/yyyy'}}
              </span>
              <span *ngSwitchCase="'updatedDate'">
                {{ rowData[col.field] | date:'dd/MM/yyyy'}}
              </span>
              <span *ngSwitchDefault>
                {{ rowData[col.field] }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="currentMode == false" class="col-md-12 no-padding">
      <div class="row">
        <div class="col-md-12">
          <p-gmap #gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','min-height':'650px'}"
            (onOverlayClick)="handleOverlayClick($event)" (onMapReady)="setMap($event)"></p-gmap>
        </div>
      </div>
    </div>

    <div *ngIf="isShowFilterLeft && currentMode == true" class="col-md-{{ rightColNumber }} no-padding">
      <div class="box-filter">
        <form [formGroup]="filterForm">
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              BỘ LỌC DỮ LIỆU
            </div>
          </div>
          <div class="row no-margin pb-1" *ngIf="appName == 'VNS'">
            <div class="col-md-6 mt-5">
              <p-checkbox formControlName="khachDuAn" binary="true" label="Khách dự án"></p-checkbox>
            </div>
            <div class="col-md-6 mt-5">
              <p-checkbox formControlName="khachBanLe" binary="true" label="Khách bán lẻ"></p-checkbox>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="CareState" [options]="listCareState" [virtualScroll]="true"
                defaultLabel="Trạng thái chăm sóc" optionLabel="categoryName" [style]="{'width': '100%'}"
                [resetFilterOnHide]="true" selectedItemsLabel="{0} nguồn trạng thái chắm sóc" [filter]="true">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listCusGroup" formControlName="CusGroup" defaultLabel="Chọn nhóm khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} nhóm khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listCusType" formControlName="CusType" defaultLabel="Chọn loại khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} loại khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="Pic" class="customer-dropdown" [options]="listPersonalInChange"
                [virtualScroll]="true" [style]="{'width': '100%'}" optionLabel="employeeName" [filter]="true"
                selectedItemsLabel="{0} người phụ trách" defaultLabel="Người phụ trách">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="employeeTakeCare" [options]="listEmpTakeCare" [virtualScroll]="true"
                defaultLabel="Nhân viên chăm sóc" optionLabel="employeeName" [style]="{'width': '100%'}"
                [resetFilterOnHide]="true" selectedItemsLabel="{0} nhân viên chăm sóc" [filter]="true">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect formControlName="ListInvestmentFund" [options]="listInvestFund" [virtualScroll]="true"
                defaultLabel="Nguồn tiềm năng" optionLabel="categoryName" [style]="{'width': '100%'}"
                [resetFilterOnHide]="true" selectedItemsLabel="{0} nguồn tiềm năng" [filter]="true">
              </p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listArea" formControlName="Area" defaultLabel="Chọn khu vực"
                optionLabel="geographicalAreaName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} khu vực được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <p-multiSelect [options]="listPotential" formControlName="potential" defaultLabel="Chọn mức độ tiềm năng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} mức độ tiềm năng"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-6">
              <p-calendar formControlName="StartDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [maxDate]="filterForm.get('EndDate').value"
                placeholder="Từ ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
            <div class="col-md-6">
              <p-calendar formControlName="EndDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [minDate]="filterForm.get('StartDate').value"
                placeholder="Đến ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Name" type="text" class="quote-code-text"
                placeholder="Họ tên" />
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Phone" type="text" class="quote-code-text"
                placeholder="Số điện thoại" />
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Email" type="text" class="quote-code-text"
                placeholder="Email" />
            </div>
          </div>
          <div class="row no-margin pb-1">
            <div class="col-md-12">
              <input (keypress)="checkEnterPress($event)" formControlName="Address" type="text" class="quote-code-text"
                placeholder="Địa chỉ" />
            </div>
          </div>
        </form>

        <div class="row no-margin pb-1">
          <div class="col-md-12 mt-5" style="text-align: right;">
            <button type="button" class="btn-search" (click)="searchCustomer()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Thông tin chi tiết" [(visible)]="displayCustomerDetailDialog" [style]="{width: '300px'}">
    <div class="row">
      <div class="col-md-12">

        <div class="row no-margin pb-1">
          <div class="col-md-6">
            Tên khách hàng:
          </div>
          <div class="col-md-6">
            {{selectedCustomerOnMap.customerName}}
          </div>
        </div>

        <div class="row no-margin pb-1">
          <div class="col-md-6">
            Số điện thoại:
          </div>
          <div class="col-md-6">
            {{selectedCustomerOnMap.customerPhone}}
          </div>
        </div>

        <div class="row no-margin pb-1">
          <div class="col-md-6">
            Email:
          </div>
          <div class="col-md-6">
            {{selectedCustomerOnMap.customerEmail}}
          </div>
        </div>

        <div class="row no-margin pb-1">
          <div class="col-md-6">
            Người phụ trách:
          </div>
          <div class="col-md-6">
            {{selectedCustomerOnMap.picName}}
          </div>
        </div>

      </div>
    </div>
  </p-dialog>

  <p-dialog header="Nhập file excel" [(visible)]="displayChooseFileImportDialog" [modal]="true" [responsive]="true"
    [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000" [closable]="true"
    (onHide)="closeChooseFileImportDialog()">
    <div class="col-md-4 mt-25">
      <span>File mẫu</span>
    </div>
    <div class="col-md-8 mt-25">
      <button class="choose-file" type="button" (click)="downloadTemplateExcel()">
        <span class="text-choose-file">Tải file mẫu</span>
      </button>
    </div>
    <div class="col-md-4 mt-25">
      <span>Chọn file</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom: 25px;">
      <button class="btn btn-primary btn-file import-file">
        <span class="text-import">Chọn file</span>
        <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)"
          accept=".xlsx, .xls">
      </button>
      <div>{{fileName}}</div>
    </div>
    <p-footer>
      <button class="btn-create" type="button" #save (click)="importExcel()">
        <span class="btn-create-text">Nhập</span>
      </button>
    </p-footer>
  </p-dialog>
</section>