.quote-create {
  font-family: 'Inter UI';
}

.quote-create .quote-create-content {
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.quote-create .button-group {
  width: 100%;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
}

.quote-create .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #ffffff;
  border: 1px solid #cccccc;
}

.quote-create .fixed4 {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #ffffff;
  width: 960px;
  border: 1px solid #cccccc;
}

.quote-create .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.quote-create .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
  line-height: 32px;
}
.quote-create .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.quote-create .notification {
  position: absolute;
  top: 38px;
  width: 380px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */
.quote-create .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.quote-create .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}
/*End: Tạo góc nhọn trên hộp thoại */

.quote-create .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.quote-create .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.quote-create .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.quote-create .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.quote-create .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.quote-create .button-group .cancel {
  /* width: 64px; */
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.import-file{
  width: 170px;
  height: 32px;
  border-radius: 4px;
  color: black;
  border: solid 1px #c1c7cd;
}
.text-import{
  color: white;
}
.quote-create .button-group .cancel .text-cancel, .text-import-file {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-create .button-group .save-and-new {
  width: 142px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.quote-create .button-group .save-and-new .text-save-and-new {
  width: 102px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-create .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.quote-create .button-group .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/*Begin: Customize Accordion */

::ng-deep .quote-create .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .quote-create .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .quote-create .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .quote-create .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .quote-create .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .quote-create .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.quote-create .require {
  color: #F94E4E;
}

.quote-create .error-message-span {
  color: red !important;
}

.quote-create .w100 {
  width: 100% !important;
}

.quote-create .input-text {
  min-height: 2.55em !important;
}

.quote-create .mt-5 {
  margin-top: 5px;
}
.mt-25{
  margin-top: 25px;
}
.quote-create .mt-10 {
  margin-top: 10px;
}

.quote-create .quote-code-text {
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #878d96;
}

.quote-create .quote-date-text {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-create .ios-add-circle-outline {
  width: 16px;
  height: 16px;
  object-fit: contain;
  cursor: pointer;
}

.quote-create .add-product-text {
  width: 146px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #0f62fe;
  cursor: pointer;
}

/* Phần tổng hợp bên phải */
.quote-create .overview {
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.quote-create .overview .button-group {
  width: 100% !important;
  height: 42px;
  border-radius: 4px;
  background: #ffffff;
  border-bottom: 1px solid #dde1e6;
  padding-top: 10px;
}

.quote-create .overview .button-group .text-title {
  width: 152px;
  height: 17px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-create .overview .button-group .ios-print {
  width: 17.5px;
  height: 17.5px;
  object-fit: contain;
  float: right;
  cursor: pointer;
}

.quote-create .box-part-1 {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.quote-create .overview .total-monney-label {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.quote-create .overview .total-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #121619;
}

.quote-create .result-monney-label {
  height: 14px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
}

.quote-create .result-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
}

.quote-create .result-monney-text {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
/* End */
