.contract-dashboard {
	background-color: #ffffff;
  	/* border: solid 1px #dde1e6; */
}

.contract-dashboard .title {
	width: 171px;
	height: 39px;
	font-family: 'Inter UI';
	font-size: 32px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #121619;
}

.contract-dashboard .box-search {
	text-align: right;
	margin-top: 15px;
}

.contract-dashboard .text-search {
	width: 364px;
	height: 32px;
	border-radius: 4px;
	border: solid 1px #dde1e6;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 30px;
}

.contract-dashboard .customize-icons-search {
	position: absolute;
	right: 25px;
	top: 22px;
	cursor: pointer;
}

.contract-dashboard .btn-create {
	width: 116px;
	height: 32px;
	border: solid 1px #c1c7cd;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
	background-color: #0f62fe;
}

.contract-dashboard .btn-create-text {
	width: 68px;
	height: 16px;
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.contract-dashboard .box-chart {
	border-radius: 4px;
	border: solid 1px #dde1e6;
	height: 410px;
	padding-top: 5px;
    padding-bottom: 5px;
}

.contract-dashboard .chart-1-title {
	height: 19px;
	font-family: 'Inter UI';
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: left;
	color: #121619;
}

.contract-dashboard .chart {
	margin-top: 30px;
}

.contract-dashboard .chart-infor {
	margin-top: 20px;
}

.contract-dashboard .chart-infor-text {
	margin-left: 5px;
}

.contract-dashboard .color-icon {
	width: 10px;
    height: 10px;
	display: inline-block;
	position: relative;
	border-radius: 50%;
}

.contract-dashboard .box-table-1 {
	min-height: 315px;
	border-radius: 4px;
	border: solid 1px #dde1e6;
	background-color: #ffffff;
	padding-top: 5px;
    padding-bottom: 5px;
}

.contract-dashboard .box-table-1-title {
	height: 19px;
	font-family: 'Inter UI';
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: left;
	color: #121619;
	padding-top: 10px;
}

.contract-dashboard .box-table-1-handle {
	/* height: 16px; */
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.46;
	letter-spacing: normal;
	color: #0f62fe;
	cursor: pointer;
}
.contract-dashboard .mt-8{
	margin-top: 8px;
}
.contract-dashboard .Double-Arrow-Left-3 {
	position: relative;
	right: 5px;
	width: 16px;
	height: 16px;
	object-fit: contain;
}

.contract-dashboard .link {
	font-family: 'Inter UI';
	color: #007ad9;
	cursor: pointer;
	font-size: 13px;
}

.contract-dashboard .table-title{
	display: flex;
}


.contract-dashboard .btn-create-order {
	width: 132px;
	height: 30px;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
	background-color: #0f62fe;
	border: solid 1px #cccccc;
}

.contract-dashboard .btn-create-order-text {
	width: 84px;
	height: 16px;
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.46;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.contract-dashboard .no-data {
	height: 270px;
	border: solid 1px #d7dbe0;
	background-color: #f2f4f8;
	text-align: center;
	margin-top: 10px;
}

.contract-dashboard .box-no-data {
	position: relative; 
	top: 25%;
}

.contract-dashboard .box-icon {
	width: 57.1px;
	height: 58px;
	object-fit: contain;
}

.contract-dashboard .box-table-2 {
	min-height: auto;
	border-radius: 4px;
	border: solid 1px #dde1e6;
	background-color: #ffffff;
	padding-top: 5px;
    padding-bottom: 5px;
}
.contract-dashboard span.ui-column-title{
	min-width: 133px;
}
@media only screen and (max-width: 376px) {
	.contract-dashboard .box-search {
		padding-bottom: 5px;
	}

	.contract-dashboard .text-search {
	  width: 175px;
	}
	.contract-dashboard .table-title{
		display: contents;
	}
	.contract-dashboard .customize-icons-search {
	  right: unset;
	  left: -7%;
	  top: 3px;
	}

	.contract-dashboard .chart-1-title {
		font-size: 15px;
	}
	.contract-dashboard .mb-mb-15{
		margin-bottom: 15px;
	}

}
  
@media only screen and (max-width: 415px) and (min-width: 376px) {
	.contract-dashboard .box-search {
		padding-bottom: 5px;
	}

	.contract-dashboard .table-title{
		display: contents;
	}
	.contract-dashboard .text-search {
		width: 220px;
	}
	.contract-dashboard .customize-icons-search {
		top: 8px;
	}
	.contract-dashboard .choose-month {
		margin-top: 8px;
	}
}
  
@media only screen and (max-width: 1423px) and (min-width: 416px) {
	.contract-dashboard .box-search {
		padding-bottom: 5px;
	}

	.contract-dashboard .text-search {
		width: 220px;
	}
}

::ng-deep canvas#canvas_status,
::ng-deep canvas#canvas_month {
	height: 336px !important;
  }
@media only screen and (max-width: 768px) {
	::ng-deep canvas#canvas_status,
	::ng-deep canvas#canvas_month {
	  min-height: 291px !important;
	}
  }