<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
    </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="list-congcu">
    <div class="row no-margin">
        <div class="box-header">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header-group">
                            <div class="row">
                                <div class="col-md-11 col-xs-10">
                                    <div class="box-header-title">Danh sách công cụ, dụng cụ
                                    </div>
                                    <div class="box-waring" *ngIf="isInvalidForm" #toggleButton
                                        (click)="toggleNotifiError()">
                                        <img src="/assets/icons/components/ios-warning-active.svg"
                                            class="ios-warning-active">
                                    </div>
                                    <div class="notification" #notifi *ngIf="isOpenNotifiError">
                                        <div *ngFor="let mes of messErrFile" class="notifi-row">
                                            <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                                            <span *ngIf="!isValidation" class="notifi-text">{{mes}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn-create" *ngIf="actionAdd" (click)="goToCreate()"><span
                                class="btn-create-text">Tạo mới</span></button>
                        <button pButton type="button" class="excel" style="margin-right: 5px;"
                            (click)="showDialogImport()" label="Import file"></button>
                        <!-- <button pButton type="button" class="excel" label="Xuất excel" (click)="exportExcel()"></button> -->

                        <div style="clear: both;"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-header-group-btn">

                            <button type="button" class="btn-refresh" (click)="refreshFilter()">
                                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
                            </button>
                            <button type="button" class="btn-filter" (click)="showFilter()">
                                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                                <span class="btn-filter-text">Bộ lọc</span>
                            </button>
                            <input (keypress)="checkEnterPress($event)" [(ngModel)]="filterGlobal" type="text"
                                class="iput-text" placeholder="Tìm kiếm trong danh sách"
                                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin" style="background-color: #f2f4f8;">

        <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
            <form [formGroup]="searchForm">
                <div class="box-filter">
                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Nhà cung cấp</span>
                        </div>
                        <div class="col-md-12">
                            <p-multiSelect formControlName="Vendor" [options]="listVendor"
                                defaultLabel="Chọn nhà cung cấp" optionLabel="vendorName" [style]="{'width': '100%'}"
                                [resetFilterOnHide]="true"
                                selectedItemsLabel="{0} nhà cung cấp được chọn"></p-multiSelect>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Nhóm</span>
                        </div>
                        <div class="col-md-12">
                            <p-multiSelect formControlName="ProductCategory" [options]="listProductCategory"
                                defaultLabel="Chọn nhóm" optionLabel="productCategoryName" [style]="{'width': '100%'}"
                                [resetFilterOnHide]="true" selectedItemsLabel="{0} nhóm được chọn"></p-multiSelect>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-12">
                            <span>Tên sản phẩm, dịch vụ</span>
                        </div>
                        <div class="col-md-12">
                            <input (keypress)="checkEnterPress($event)" type="text" class="quote-code-text"
                                placeholder="" formControlName="ProductName">
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <span>Mã sản phẩm, dịch vụ</span>
                        </div>
                        <div class="col-md-12">
                            <input (keypress)="checkEnterPress($event)" type="text" class="quote-code-text"
                                placeholder="" formControlName="ProductCode">
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-12 mt-5">
                            <button type="button" class="btn-search" (click)="searchProduct()">
                                <span class="btn-search-text">Tìm kiếm</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <p-table #myTable [columns]="colsListProduct" [value]="listProduct" [resizableColumns]="true"
                [(first)]="first" columnResizeMode="expand" [paginator]="true" [rows]="rows"
                [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                            [ngStyle]="{'text-align': 'center', 'display': col.display}">
                            <span>
                                {{col.header}}
                            </span>
                        </th>
                        <th style="text-align: center; width: 10rem;">
                            <span>Thao tác</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <!-- <td>
              <span *ngSwitchCase="'STT'">
                {{rowIndex + 1}}
              </span>
            </td> -->
                        <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                            [ngStyle]="{'text-align': col.textAlign, 'display': col.display}">
                            <span class="ui-column-title">{{col.header}}</span>
                            <span *ngSwitchCase="'STT'">
                                {{rowIndex + 1}}
                            </span>
                            <span *ngSwitchCase="'productCode'" (click)="goToDetail(rowData['productId'])" class="link">
                                {{rowData[col.field]}}
                            </span>
                            <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                        </td>
                        <td style="text-align: center;  width: 10rem;">
                            <span *ngIf="rowData['countProductInformation'] === 0 && actionDelete"
                                class="ui-column-title">Chức
                                năng</span>
                            <button class="ui-button-danger"
                                *ngIf="rowData['countProductInformation'] === 0 && actionDelete" pButton
                                icon="pi pi-trash" (click)="deleteProduct(rowData['productId'])"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog header="Nhập file excel" [(visible)]="displayDialog" [modal]="true" [responsive]="true"
    [style]="{width: '550px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
    <div class="col-md-4 mt-25">
        <span>File mẫu</span>
    </div>
    <div class="col-md-8 mt-25">
        <button class="import-file" type="button" (click)="downloadTemplateExcel()">
            <span class="text-import-file">Tải file mẫu</span>
        </button>
    </div>
    <div class="col-md-4 mt-25">
        <span>Chọn file</span>
    </div>
    <div class="col-md-8 mt-25" style="margin-bottom: 25px;">
        <button class="btn btn-primary btn-file import-file">
            <span class="text-import">Chọn file</span>
            <input type="file" id="importFileProduct" (click)="onClickImportBtn($event)" (change)="chooseFile($event)" accept=".xlsx, .xls">
        </button>
        <span>{{fileName}}</span>
        <span *ngIf="fileName != ''" (click)="cancelFile()" style="cursor: pointer;margin-left: 10px;">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <p-footer>
        <button class="btn btn-primary btn-file import-file" type="button" #save (click)="importExcel()">
            <span class="text-import">Lưu</span>
        </button>
    </p-footer>
</p-dialog>