.salebidding-approved {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(18, 22, 25, 0.08);
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
}

.salebidding-approved .box-header {
    width: 100%;
    background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
}

.salebidding-approved .btn-create {
    float: right;
    width: 98px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
}

.salebidding-approved .btn-create-text {
    width: 50px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.salebidding-approved .set-pic {
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #f3f4f8;
    margin-left: 5px;
}

.salebidding-approved .set-pic .set-pic-text {
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.salebidding-approved .box-header-group {
    margin-top: 10px;
}

.salebidding-approved .box-header-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #0f62fe;
    text-align: center;
}

.salebidding-approved .Money-2 {
    width: 20.4px;
    height: 18.5px;
    object-fit: contain;
    margin-top: 10px;
}

.salebidding-approved .box-header-title {
    height: 24px;
    font-family: 'Inter UI';
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.salebidding-approved .box-header-subtitle {
    font-family: 'Inter UI';
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #4d5358;
}

.salebidding-approved .box-header-group-btn {
    text-align: right;
    padding-top: 5px;
}

.salebidding-approved .btn-refresh {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
}

.salebidding-approved .ios-refresh {
    width: 12px;
    height: 14px;
    object-fit: contain;
}

.salebidding-approved .btn-filter {
    width: 104px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #007aff;
    background-color: #007aff;
    margin-left: 5px;
}

.salebidding-approved .ios-funnel {
    width: 12.3px;
    height: 11.3px;
    object-fit: contain;
    margin-right: 5px;
}

.salebidding-approved .btn-filter-text {
    width: 36px;
    height: 13px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.salebidding-approved .iput-text {
    width: 283px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding-left: 5px;
    margin-left: 5px;
}

.salebidding-approved .box-filter {
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding: 10px 0px;
}

.salebidding-approved .quote-code-text {
    width: 100%;
    height: 32px;
    font-family: 'Inter UI';
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
    padding-left: 5px;
}

.salebidding-approved .quote-code-text:focus {
    border-color: #007ad9;
    outline: 0 none;
}

.salebidding-approved .mt-5 {
    margin-top: 5px;
}

.salebidding-approved .btn-search {
    width: 72px;
    height: 32px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
}

.salebidding-approved .btn-search:focus {
    border-color: #007ad9;
    outline: 0 none;
}

.salebidding-approved .btn-search-text {
    width: 36px;
    height: 13px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

/* Config rows Per Page Options */

::ng-deep .salebidding-approved .ui-inputtext {
    padding: 0.3em;
}

.salebidding-approved .link {
    font-family: 'Inter UI';
    color: #007ad9;
    cursor: pointer;
    font-size: 13px;
}

.salebidding-approved .no-data {
    height: 330px;
    border: solid 1px #d7dbe0;
    background-color: #f2f4f8;
    text-align: center;
}

.salebidding-approved .box-no-data {
    position: relative;
    top: 25%;
}

.salebidding-approved .box-icon {
    width: 57.1px;
    height: 58px;
    object-fit: contain;
}

::ng-deep .salebidding-approved .ui-datepicker {
    top: 28px !important;
}

.salebidding-approved .btn-reject {
    /* width: 118px; */
    height: 28px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffcc00;
    /* margin-left: 2px; */
    margin-right: 9px;
}

.salebidding-approved .btn-reject-text {
    width: 70px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #121619;
}

.salebidding-approved .btn-approval {
    /* width: 118px; */
    height: 28px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #007aff;
    margin-right: 2px;
}

.salebidding-approved .btn-approval-text {
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.salebidding-approved .d-inline {
    display: inline; 
}
.salebidding-approved .float-right {
    float: right;
}
::ng-deep .salebidding-approved .ui-multiselect-panel {
    top:32px !important;
}


/* Máy để bàn */

@media only screen and (min-width: 1025px) and (max-width: 1423px) {}

/* Ipad Pro */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .salebidding-approved .box-header-icon {
        width: 27px;
        height: 27px;
    }
    .salebidding-approved .Money-2 {
        width: 15.4px;
        height: 11.5px;
        margin-top: 7px;
    }
    .salebidding-approved .iput-text {
        margin-top: 5px;
    }
    
    .salebidding-approved .btn-reject .btn-reject-text {
        padding: 0px 8px;
    }
}

/* Ipad */

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .salebidding-approved .btn-create {
        margin-top: 5px;
    }

    .salebidding-approved .btn-reject {
        height: auto;
        margin-right: 2px;
    }

    .salebidding-approved .btn-approval {
        height: auto;
    }
}

/* Iphone 6/7/8 Plus */

@media only screen and (min-width: 375px) and (max-width: 414px) {
    .salebidding-approved .box-header-title {
        font-size: 17px;
    }

    .salebidding-approved .box-header-subtitle {
        font-size: 12px;
        margin: 5px 0px;
    }

    .salebidding-approved .btn-filter {
        width: auto;
    }

    .salebidding-approved .iput-text {
        width: 265px;
    }

    .salebidding-approved span.ui-column-title {
        width: 170px;
    }
}

/* Iphone 6/7/8/X */

@media only screen and (max-width: 375px) {

    .salebidding-approved .box-header-title {
        font-size: 17px;
    }

    .salebidding-approved .box-header-subtitle {
        font-size: 12px;
        margin: 5px 0px;
    }

    .salebidding-approved .btn-filter {
        width: auto;
    }

    .salebidding-approved .iput-text {
        width: 225px;
    }

    .salebidding-approved span.ui-column-title {
        width: 150px;
    }
}