<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="lead-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="/assets/icons/components/lead_search.svg" class="Money-2">
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Danh sách cơ hội</div>
                  <div class="box-header-subtitle">
                    {{listLead.length}} bản ghi - sắp xếp theo ngày tạo gần nhất
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding">
        <div class="row no-margin no-padding">
          <div class="col-md-12 no-padding header-button" style="text-align: right;">
            <button type="button" class="export-exel" *ngIf="actionDownload" (click)="exportExcel()">
              <span class="export-exel-text">Xuất Excel</span>
            </button>
            <button type="button" class="btn-create" *ngIf="actionAdd" (click)="goToCreateLead()"><span
                class="btn-create-text">Tạo mới</span></button>
            <div style="clear: both;"></div>
          </div>
          <div class="col-md-12 no-padding">
            <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter" (click)="showFilter()">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách" [(ngModel)]="isGlobalFilter"
                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin btn-group-header" style="background-color: #fff;">
    <div class="col-md-12" style="display: flex;
      justify-content: flex-end;
      padding: 10px;
      border-top: 1px solid #ccc;">
    </div>
  </div>
  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
      <form [formGroup]="searchLeadForm">
        <div class="box-filter">
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Nhóm khách hàng</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listCusGroup" formControlName="LeadGroup" defaultLabel="Chọn nhóm khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} nhóm khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Loại khách hàng</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listLeadType" formControlName="LeadType" defaultLabel="Chọn loại khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} loại khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Người phụ trách</span>
            </div>
            <div class="col-md-12">
              <p-dropdown formControlName="Pic" [options]="listPersonalInchange" optionLabel="employeeName"
                placeholder="Chọn người phụ trách" [filter]="true" [showClear]="true" [resetFilterOnHide]="true"
                [style]="{'width': '100%'}"></p-dropdown>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Nguồn tiềm năng</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listSource" formControlName="LeadSource" defaultLabel="Chọn nguồn tiềm năng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} nguồn tiềm năng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Khu vực</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listArea" formControlName="LeadArea" defaultLabel="Chọn khu vực"
                optionLabel="geographicalAreaName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} khu vực được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Ngày tạo</span>
            </div>
            <div class="col-md-6">
              <p-calendar formControlName="StartDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [maxDate]="searchLeadForm.get('EndDate').value"
                placeholder="Từ ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
            <div class="col-md-6">
              <p-calendar formControlName="EndDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [minDate]="searchLeadForm.get('StartDate').value"
                placeholder="Đến ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Tên cơ hội tiềm năng</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="" formControlName="FullName">
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Số điện thoại</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="" formControlName="Phone">
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Email</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="" formControlName="Email">
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <p-checkbox binary="true" label="Chưa có người phụ trách" formControlName="IsHasPic"></p-checkbox>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <button type="button" class="btn-search" (click)="searchLead()">
                <span class="btn-search-text">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="listLead.length > 0" class="col-md-{{leftColNumber}} no-padding">
      <p-table #myTable [columns]="selectedColumns" [value]="listLead" [resizableColumns]="true"
        (sortFunction)="customSort($event)" [customSort]="true" [paginator]="true" [(selection)]="listSelectedLead"
        [rows]="rows" [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align:left">
            <p-multiSelect [options]="colsListLead" [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}"
              optionLabel="header" selectedItemsLabel="{0} cột được chọn" [style]="{minWidth: '200px'}"
              defaultLabel="Chọn cột"></p-multiSelect>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em; text-align: center;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 3.5em; text-align: center;">
              #
            </th>
            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
              [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.width}">
              <span>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </span>
            </th>
            <th style="text-align: center; width: 70px !important">
              <span>Thao tác</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
          <tr>
            <td style="width: 3em; text-align: center;">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td style="text-align: center;">
              {{i + 1}}
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
              [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width' : col.width}">
              <span class="ui-column-title">{{col.header}}</span>
              <span *ngSwitchCase="'fullName'" (click)="goToDetail(rowData)" class="link">
                {{rowData[col.field]}}
              </span>

              <span *ngSwitchCase="'expectedSale'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchCase="'percent'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchCase="'forecastSales'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchCase="'statusName'" class="stt" [ngStyle]="{'background-color': rowData['backgroundColorForStatus']}" style="width: 100%;
              text-align: center;">
                {{rowData[col.field]}}
              </span>

              <span *ngSwitchCase="'statusSupportName'" class="stt"
                [ngStyle]="{'background-color': rowData['backgroundColorForstatusSupportName']}" style="width: 100%;
                text-align: center;">
                {{rowData[col.field]}}
              </span>
              <span *ngSwitchDefault>
                {{rowData[col.field]}}
              </span>
            </td>
            <td style="text-align: center; width: 170px !important">
              <p-splitButton (onDropdownClick)="onChangeAction(rowData)" [model]="actions" appendTo="body"
                styleClass="ui-button-secondary"></p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!(listLead.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
      <div class="box-no-data">
        <img src="/assets/icons/components/box.svg" class="box-icon">
        <div>
          <span>Hiện tại không có dữ liệu</span>
        </div>
      </div>
    </div>
    <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
      <form [formGroup]="searchLeadForm">
        <div class="box-filter">
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Nhóm khách hàng</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listCusGroup" formControlName="LeadGroup" defaultLabel="Chọn nhóm khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} nhóm khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Loại khách hàng</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listLeadType" formControlName="LeadType" defaultLabel="Chọn loại khách hàng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} loại khách hàng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Người phụ trách</span>
            </div>
            <div class="col-md-12">
              <p-dropdown formControlName="Pic" [options]="listPersonalInchange" optionLabel="employeeName"
                placeholder="Chọn người phụ trách" [filter]="true" [showClear]="true" [resetFilterOnHide]="true"
                [style]="{'width': '100%'}"></p-dropdown>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Nguồn tiềm năng</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listSource" formControlName="LeadSource" defaultLabel="Chọn nguồn tiềm năng"
                optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} nguồn tiềm năng được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Khu vực</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listArea" formControlName="LeadArea" defaultLabel="Chọn khu vực"
                optionLabel="geographicalAreaName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                selectedItemsLabel="{0} khu vực được chọn"></p-multiSelect>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Ngày tạo</span>
            </div>
            <div class="col-md-6">
              <p-calendar formControlName="StartDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [maxDate]="searchLeadForm.get('EndDate').value"
                placeholder="Từ ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
            <div class="col-md-6">
              <p-calendar formControlName="EndDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [minDate]="searchLeadForm.get('StartDate').value"
                placeholder="Đến ngày" showButtonBar="true" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999">
              </p-calendar>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Tên cơ hội tiềm năng</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="" formControlName="FullName">
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Số điện thoại</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="" formControlName="Phone">
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Email</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="" formControlName="Email">
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <p-checkbox binary="true" label="Chưa có người phụ trách" formControlName="IsHasPic"></p-checkbox>
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <button type="button" class="btn-search" (click)="searchLead()">
                <span class="btn-search-text">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>