.order-detail {
  font-family: 'Inter UI';
}

.order-detail .box-content{
  display: flex;
  justify-content: flex-end;
  height: 'auto';
  border-radius: 4px;
  border-top: 1px solid #dde1e6;
  padding: 5px 5px;
  flex-wrap: wrap;
}

.order-detail .btn-payment{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.order-detail .tab-content {
  display: flex;
  height: 'auto';
  padding: 5px 5px;
  flex-wrap: wrap;
}

.order-detail .order-detail-content {
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.order-detail .button-group {
  width: 100%;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
}

.order-detail .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #ffffff;
  border: 1px solid #cccccc;
}

.order-detail .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.order-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}

.order-detail .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.order-detail .notification {
  position: absolute;
  top: 38px;
  width: 307px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */
.order-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.order-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}
/*End: Tạo góc nhọn trên hộp thoại */

.order-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.order-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.order-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.order-detail .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.order-detail .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.order-detail .button-group .cancel {
  min-width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.order-detail .button-group .cancel .text-cancel {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-detail .button-group .save-and-new {
  width: 142px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.order-detail .button-group .save-and-new .text-save-and-new {
  width: 102px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-detail .export {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #ffffff;
  margin-left: 5px;
}

.order-detail .button-group .export .text-export {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-detail .delete {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #e91224;
  margin-left: 5px;
}

.order-detail .button-group .delete .text-delete {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.order-detail .link {
  font-family: 'Inter UI';
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  padding: 2px 2px;
}

.order-detail .btn-group {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.order-detail .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.order-detail .button-group .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/*Begin: Customize Accordion */

::ng-deep .order-detail .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .order-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .order-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .order-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .order-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .order-detail .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.order-detail .text-order-code {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.order-detail .sub-text-order-code {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-detail .btn-move {
  width: 20px !important;
  height: 20px !important;
}

.order-detail .mr-5 {
  margin-right: 5px;
}

.order-detail .icons-move {
  font-size: 10px !important;
}

.order-detail .mt-5 {
  margin-top: 5px;
}

.order-detail .mt-10 {
  margin-top: 10px;
}

::ng-deep .order-detail .ui-datepicker {
  top: 31px !important;
}

.order-detail .require {
  color: #F94E4E;
}

.order-detail .error-message-span {
  color: red !important;
}

.order-detail .w100 {
  width: 100%;
}

.order-detail .option-customer {
  height: 64px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #f2f4f8;
}

.order-detail .border-customer-infor {
  /* border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  border-left: 1px dashed #ccc; */
  padding-bottom: 10px;
  padding-top: 10px;
}

.order-detail .input-text {
  min-height: 2.55em !important;
}

.order-detail .ios-add-circle-outline {
  width: 16px;
  height: 16px;
  object-fit: contain;
  cursor: pointer;
}

.order-detail .add-product-text {
  width: 146px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #0f62fe;
  cursor: pointer;
}

.order-detail .btn-cancel-note {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.order-detail .save-cancel-lable {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.order-detail .btn-save-note {
  width: 158px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
  margin-left: 5px;
}

.order-detail .save-note-lable {
  width: 110px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* CSS time line */
.order-detail .timeline>li {
  margin-right: 0 !important;
}

.order-detail .style-delete {
  color: #FE747A;
  cursor: pointer;
  font-size: 1.55em;
}

.order-detail .style-edit {
  cursor: pointer;
  font-size: 1.55em;
}

.order-detail .note-user {
  font-family: 'Inter UI';
  font-weight: bold;
}

.order-detail .timeline>li>.timeline-item {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.order-detail .timeline-content {
  margin-top: 20px;
}

.order-detail .bg-blueX {
  background-color: #4E6BA5 !important;
}

.order-detail .color-w {
  color: #fff !important;
}

.order-detail .timeline-item .onHover {
  display: none;
}

.order-detail .timeline-item:hover .onHover {
  display: block;
}

.order-detail .material-icons {
  cursor: pointer;
}

.order-detail .timeline-user-avatar {
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}

.order-detail .note-title {
  font-size: 11px !important;
  color: #222 !important;
  font-weight: normal !important;
}

.order-detail .time-note {
  font-size: 10px !important;
  color: #5d5a5a !important;
  font-weight: normal !important;
}

.order-detail .timeline-body {
  padding: 10px 15px;
}

.order-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
  padding-right: 5px !important;
}

.order-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.order-detail .file-upload-zone .col-md-4:nth-child(3n) {
  padding-left: 5px !important;
}

.order-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
  padding-right: 5px !important;
}

.order-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.order-detail .file-upload-zone .col-md-4:nth-child(3n) {
  padding-left: 5px !important;
}

.order-detail .file-item div:nth-child(1),
.order-detail .file-item div:nth-child(3) {
  padding-left: 0 !important;
}

.order-detail .file-item div:nth-child(2) {
  padding: 0 5px !important;
}

.order-detail .item-name {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.order-detail .preview-doc {
  cursor: pointer;
}

.order-detail .box-search {
  text-align: right;
  margin-top: 15px;
}

.order-detail .text-search {
  width: 364px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.order-detail .btn-create {
  width: 116px;
  height: 32px;
  border: solid 1px #c1c7cd;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.order-detail .btn-create-text {
  width: 68px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/* End */

/* Phần tổng hợp bên phải */
.order-detail .overview {
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.order-detail .overview .button-group {
  width: 100% !important;
  height: 42px;
  /* border-radius: 4px; */
  background: #ffffff;
  /* border-bottom: 1px solid #dde1e6; */
  /* padding-top: 10px; */
}

.order-detail .overview .button-group .text-title {
  width: 152px;
  height: 17px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-detail .overview .button-group .ios-print {
  /* width: 17.5px;
  height: 17.5px; */
  object-fit: contain;
  float: right;
  cursor: pointer;
  padding-top: 3.5px;
  margin-right: 2.5px;
}

.order-detail .box-part-1 {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.order-detail .overview .total-monney-label {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.order-detail .overview .total-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #121619;
}

.order-detail .result-monney-label {
  height: 14px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.order-detail .result-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
.order-detail span.ui-column-title{
  min-width: 145px;
}
.order-detail .result-monney-text {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.order-detail .overview .box-content .payment {
  min-width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  margin-left: 5px;
  background-color: #0f62fe;
}

.order-detail .overview .box-content .payment .text-payment {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/* End */

/* Máy để bàn */
@media only screen and (min-width: 1025px) and (max-width: 1423px)  {
  
}

/* Ipad Pro */
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
  
}

/* Ipad */
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .order-detail .fixed{
    position: relative;
  }
  /* .order-detail .button-group .cancel{
    width: 92px;
  } */
  ::ng-deep body .ui-steps .ui-steps-item .ui-menuitem-link{
    font-size: 12px !important;
  }
  .order-detail .button-group .cancel{
    min-width:143px;
  }
  .order-detail .save {
    min-width: 143px;
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
    min-width: 102px;
  }

  .order-list .btn-filter {
    width: auto;
  }
}

/* Iphone 6/7/8 Plus */
@media only screen and (min-width: 375px) and (max-width: 414px) {
  
}

/* Iphone 6/7/8/X */
@media only screen and (max-width: 375px) {
  .order-detail .button-group .cancel{
    min-width: 130px;
  }
  .order-detail .fixed{
    position: relative;
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
    min-width: 95px;
    font-size: 12px;
  }

  .order-list .btn-filter {
    width: auto;
  }

  .order-list .input-text {
    width: 210px;
  }
}