<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="product-order-workflow-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title d-content">DANH SÁCH CẤU HÌNH QUY TRÌNH SẢN XUẤT</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter" (click)="showFilter()">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách"
                     (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <button type="button" class="btn-create" *ngIf="actionAdd" (click)="goToCreate()">
                <span class="btn-create-text">Tạo mới</span>
              </button>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-margin" style="background-color: #f2f4f8;">
      <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
        <div class="box-filter">
          <div class="row no-margin">
            <div class="col-md-12">
              <span>Mã quy trình</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="code-text" placeholder="Nhập mã quy trình" [(ngModel)]="code">
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Tên quy trình</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="code-text" placeholder="Nhập tên quy trình" [(ngModel)]="name">
            </div>
          </div>

          <!-- <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Trạng thái</span>
            </div>
            <div class="col-md-12">
              <p-dropdown [options]="listActive"
                placeholder="Tất cả"
                [(ngModel)]="selectedActive"
                optionLabel="name"
                showClear="true"
                [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
          </div> -->

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Mô tả</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="code-text" placeholder="Nhập mô tả" [(ngModel)]="description">
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5" style="text-align: right;">
              <button type="button" class="btn-search" (click)="searchProductOrderWorkflow()">
                <span class="btn-search-text">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="productOrderWorkflowList.length > 0" class="col-md-{{leftColNumber}} no-padding">
        <p-table #myTable [columns]="selectedColumns" [value]="productOrderWorkflowList" [resizableColumns]="true"
                 columnResizeMode="expand" [paginator]="true" [rows]="10"
                 [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns"
                  [ngStyle]="{'text-align': 'center', 'display': col.display, 'width': col.width }">
                <span>
                  {{col.header}}
                </span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field" 
                  [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.width }">
                <span class="ui-column-title">{{col.header}}</span>
                <span *ngSwitchCase="'STT'">{{ rowIndex + 1 }}</span>
                <span *ngSwitchCase="'code'" (click)="goToDetail(rowData['id'])" class="link">
                  {{rowData[col.field]}}
                </span>
                <span *ngSwitchCase="'availability'">
                  <i *ngIf="rowData[col.field] == true" class="pi pi-check check-icon-css" style="font-size: 2rem"></i>
                  <!--<p-checkbox *ngIf="actionEdit" [(ngModel)]="rowData[col.field]" [binary]="true" (onChange)="updateDefault(rowData['id'], rowData['availability'])"></p-checkbox>-->
                </span>
                <span *ngSwitchCase="'setting'">
                  <button class="ui-button-danger" pButton *ngIf="actionDelete"
                          icon="pi pi-trash" (click)="removeRowdata(rowData)"></button>
                </span>

                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!(productOrderWorkflowList.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
        <div class="box-no-data">
          <img src="/assets/icons/components/box.svg" class="box-icon">
          <div>
            <span>Hiện tại không có dữ liệu</span>
          </div>
        </div>
      </div>
      <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
        <div class="box-filter">
          <div class="row no-margin">
            <div class="col-md-12">
              <span>Mã quy trình</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="code-text" placeholder="Nhập mã quy trình" [(ngModel)]="code">
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Tên quy trình</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="code-text" placeholder="Nhập tên quy trình" [(ngModel)]="name">
            </div>
          </div>

          <!-- <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Trạng thái</span>
            </div>
            <div class="col-md-12">
              <p-dropdown [options]="listActive"
                placeholder="Tất cả"
                [(ngModel)]="selectedActive"
                optionLabel="name"
                showClear="true"
                [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
          </div> -->

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Mô tả</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="code-text" placeholder="Nhập mô tả" [(ngModel)]="description">
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5" style="text-align: right;">
              <button type="button" class="btn-search" (click)="searchProductOrderWorkflow()">
                <span class="btn-search-text">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
