.order-create .btn-move {
  width: 20px !important;
  height: 20px !important;
}

.order-create .mr-5 {
  margin-right: 5px;
}

.order-create .icons-move {
  font-size: 10px !important;
}

.order-create {
  font-family: 'Inter UI';
}

.order-create .order-create-content {
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.order-create .button-group {
  width: 100%;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
}

.order-create .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #eee;
  border: 1px solid #cccccc;
}

.order-create .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.order-create .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}

.order-create .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.order-create .notification {
  position: absolute;
  top: 38px;
  width: 307px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */

.order-create .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.order-create .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}

/*End: Tạo góc nhọn trên hộp thoại */

.order-create .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.order-create .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.order-create .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.order-create .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.order-create .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.order-create .button-group .cancel {
  width: 64px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.order-create .button-group .cancel .text-cancel {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-create .button-group .save-and-new {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.order-create .button-group .save-and-new .text-save-and-new {
  width: 102px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-create .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.order-create .button-group .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/*Begin: Customize Accordion */

::ng-deep .order-create .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .order-create .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .order-create .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .order-create .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .order-create .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .order-create .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.order-create .text-order-code {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.order-create .sub-text-order-code {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-create .mt-5 {
  margin-top: 5px;
}

.order-create .mt-10 {
  margin-top: 10px;
}

::ng-deep .order-create .ui-datepicker {
  top: 31px !important;
}

.order-create .require {
  color: #F94E4E;
}

.order-create .error-message-span {
  color: red !important;
}

.order-create .w100 {
  width: 100%;
}

.order-create .option-customer {
  height: 64px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #f2f4f8;
}

.order-create .border-customer-infor {
  /* border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    border-left: 1px dashed #ccc; */
  padding-bottom: 10px;
  padding-top: 10px;
}

/* 
  .order-create .input-text {
    min-height: 2.55em !important;
  } */

.order-create .ios-add-circle-outline {
  width: 16px;
  height: 16px;
  object-fit: contain;
  cursor: pointer;
}

.order-create .add-product-text {
  width: 146px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #0f62fe;
  cursor: pointer;
}

/* Phần tổng hợp bên phải */

.order-create .overview {
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.order-create .overview .button-group {
  width: 100% !important;
  height: 42px;
  border-radius: 4px;
  background: #ffffff;
  border-bottom: 1px solid #dde1e6;
  padding-top: 10px;
}

.order-create .overview .button-group .text-title {
  width: 152px;
  height: 17px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.order-create .overview .button-group .ios-print {
  width: 17.5px;
  height: 17.5px;
  object-fit: contain;
  float: right;
  cursor: pointer;
}

.order-create .box-part-1 {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.order-create .overview .total-monney-label {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.order-create .overview .total-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #121619;
}

.order-create .result-monney-label {
  height: 14px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.order-create .result-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.order-create .result-monney-text {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.order-create span.ui-column-title {
  width: 200px;
}

/* End */

/*iphone 6/7/8*/

@media only screen and (max-width: 375px) {
  .order-create .save {
    margin-left: 0px;
    margin-top: 10px;
  }
  .order-create .button-group .cancel {
    width: 68px;
  }
  .order-create .button-group .save-and-new {
    width: 140px;
    margin-right: 4px;
  }
  .order-create .save {
    width: 65px;
  }
  .order-create .fixed {
    position: relative;
    /* padding-right: 35px; */
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    font-size: 12px;
    min-width: 102px;
  }
  ::ng-deep .ui-dialog {
    width: 90% !important;
  }
}

/*iphone 6/7/8 plus*/

@media only screen and (max-width:414px) and (min-width:376px) {
  .order-create .fixed {
    position: relative;
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    min-width: 113px;
  }
  ::ng-deep .ui-dialog {
    width: 90% !important;
  }
}

@media only screen and (min-width: 415px) and (max-width:1024px) {
  ::ng-deep .ui-dialog {
    width: 70% !important;
  }
}

@media only screen and (max-width: 768px) {
  ::ng-deep .add-edit-product-dialog .group-button-footer {
    display: inline-block !important;
    width: 100%;
  }
  ::ng-deep .add-edit-product-dialog .group-button-footer>div:not(.btn-group) {
    text-align: left;
    margin-bottom: 15px;
  }
}