<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<!-- Confirm... -->
<p-confirmDialog header="{{ 'order.messages_title.title_confirm' | translate }}" icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'order.buttons.accept' | translate }}" rejectLabel="{{ 'order.buttons.reject' | translate }}">
</p-confirmDialog>

<div class="pay-order-service">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="/assets/icons/components/money-2.svg" class="Money-2">
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Danh sách đơn hàng</div>
                  <!-- <div class="box-header-subtitle">
                    {{listOrder.length}} bản ghi
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách" [(ngModel)]="isGlobalFilter"
              (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col-md-7 no-padding">
      <div class="row no-margin">
        <div *ngIf="listOrder.length > 0" class="col-md-12">
          <p-table #myTable [columns]="selectedColumns" [value]="listOrder" [resizableColumns]="true" [paginator]="true"
            (sortFunction)="customSort($event)" [customSort]="true"
            [rows]="10" [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
            <ng-template pTemplate="caption">
              <div style="text-align:left">
                <p-multiSelect [options]="colsListOrder" [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}"
                  optionLabel="header" selectedItemsLabel="{0} cột được chọn" [style]="{minWidth: '200px'}"
                  defaultLabel="Chọn cột"></p-multiSelect>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                  [ngStyle]="{'text-align': col.textAlign, 'display': col.display}">
                  <span>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                  [ngStyle]="{'text-align': col.textAlign, 'display': col.display}">
                  <span class="ui-column-title">{{col.header}}</span>
                  <span *ngSwitchCase="'orderCode'" (click)="goToOrderDetail(rowData['orderId'])" class="link">
                    {{rowData[col.field]}}
                  </span>
                  <span *ngSwitchCase="'customerName'" (click)="goToCustomerDetail(rowData['customerId'])" class="link">
                    {{rowData[col.field]}}
                  </span>
                  <span *ngSwitchCase="'orderDate'">
                    {{rowData[col.field]}}
                  </span>
                  <span *ngSwitchCase="'amount'">
                    {{rowData[col.field] | number}}
                  </span>
                  <span *ngSwitchCase="'orderStatusName'"
                    [ngStyle]="{'background-color': rowData['backgroundColorForStatus']}" style="display: inline-block;
                      padding: 3px 3px;
                      color: white;
                      width: 130px;">
                    {{rowData[col.field]}}
                  </span>
                  <span *ngSwitchCase="'listOrderDetail'" pTooltip="{{rowData[col.field]}}" tooltipPosition="bottom">
                    {{rowData[col.field].trim().length > 25 ? rowData[col.field].trim().slice(0,25)+'...' : rowData[col.field].trim()}}
                  </span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="!(listOrder.length > 0)" class="col-md-12 no-data">
          <div class="box-no-data">
            <img src="/assets/icons/components/box.svg" class="box-icon">
            <div>
              <span>Hiện tại không có dữ liệu</span>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px; text-align: right;">
          <button class="pay-order" type="button" (click)="openDialog()">Thanh Toán</button>
        </div>
      </div>
    </div>
    <div class="col-md-5" style="border-top: 1px solid #cccccc;">
      <div class="row">
        <div class="col-md-12">
          <span *ngFor="let item of listLocalAddress">
            <button type="button" class="chips" (click)="changeLocalAddress(item)"
              [ngClass]="{'active-chips': item.active}"
            >
            {{item.localAddressName}}
            </button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span *ngFor="let item of listCurrentLocalPoint">
            <div class="box-point" (click)="changeLocalPoint(item)"
              [ngClass]="{'active-box-point': item.active, 'using-box-point': (item.statusId == 0 && item.active != true)}"
            >
              <span class="center">{{item.localPointName}}</span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="payOrderForm">
    <p-dialog header="Thông tin thanh toán" [(visible)]="dialogCustomer" [style]="{width: '40vw'}" [baseZIndex]="10000"
      [closable]="false" [modal]="true">
      <div class="row no-margin" style="padding: 10px;">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Số điện thoại*</span>
                </div> 
                <div class="col-md-12">
                  <input class="w100 input-text" type="text" (keydown.enter)="$event.preventDefault()" pInputText
                  formControlName="customerPhoneControl" 
                  (focusout)="checkExistsCustomer()"
                  [ngClass]="(customerPhoneControl.invalid && (customerPhoneControl.dirty || customerPhoneControl.touched)) ? 'error-border' : ''"/>
                </div>
                <div class="col-md-12"
                  [hidden]="customerPhoneControl.valid || customerPhoneControl.untouched">
                  <span *ngIf="customerPhoneControl.hasError('pattern')"
                    class="error-message-span">Sai định dạng Số điện thoại</span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Họ Tên Khách Hàng</span>
                </div>
                <div class="col-md-12">
                  <input formControlName="customerNameControl"  class="w100 input-text" type="text" 
                  (keydown.enter)="$event.preventDefault()" pInputText />
                </div>
              </div>
            </div>

            <div *ngIf="isShowPointCustomer" class="col-md-12 mt-10">
              <span>Số điểm hiện có: <span style="font-weight: bold;">{{pointCustomer}}</span></span>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-12">
              (*) <span style="font-style: italic;">Nếu không nhập số điện thoại thì mặc định thanh toán cho Khách lẻ</span>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <span style="font-weight: bold;">Tổng tiền hàng: {{totalPrice | number}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Loại chiết khấu</span>
                </div>
                <div class="col-md-12">
                  <p-dropdown [options]="listDiscountType" [autoDisplayFirst]="false"
                    (onChange)="changeDiscountType()"
                    formControlName="discountTypeControl"
                    optionLabel="name" [style]="{'width': '100%'}"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Giá trị</span>
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="discountValueControl"
                    (change)="changeDiscountValue()"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: defaultNumberType}"
                    (keydown.enter)="$event.preventDefault()">
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Thanh toán bằng điểm</span>
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="pointControl"
                    (change)="changePoint()"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: defaultNumberType}"
                    (keydown.enter)="$event.preventDefault()">
                </div>
              </div>
            </div> 
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Tổng điểm sau hóa đơn</span>
                </div>
                <div class="col-md-12" style="margin-top: 7px">
                  <span style="font-weight: bold;">{{pointAfterControl.value}}</span>
                  <input style="display: none;" type="text" class="number-input" formControlName="pointAfterControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: defaultNumberType}"
                    (keydown.enter)="$event.preventDefault()">
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <span style="font-weight: bold;" [ngClass]="{'error-money': totalPriceAfter < 0}">Tổng tiền phải thanh toán: {{totalPriceAfter | number}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Tiền khách đưa<span style="color: red;">*</span></span>
                </div>
                <div class="col-md-12">
                  <input type="text" class="number-input" formControlName="customerMoneyControl"
                    (change)="changeCustomerMoney()"
                    [ngClass]="(customerMoneyControl.invalid && (customerMoneyControl.dirty || customerMoneyControl.touched)) ? 'error-border': ''"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: defaultNumberType}"
                    (keydown.enter)="$event.preventDefault()">
                </div>
                <div class="col-md-12" [hidden]="customerMoneyControl.valid || customerMoneyControl.untouched">
                  <span *ngIf="customerMoneyControl.hasError('required')" class="error-message-span">Không được để trống</span>
                  <span *ngIf="customerMoneyControl?.errors?.numberInvalid"
                    class="error-message-span">Tiền khách đưa không đủ thanh toán</span>
                </div>
              </div>
            </div> 
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span>Tiền thừa trả khách</span>
                </div>
                <div class="col-md-12" style="margin-top: 7px">
                  <span style="font-weight: bold;">{{feedbackMoneyControl.value}}</span>
                  <input style="display: none;" type="text" class="number-input" formControlName="feedbackMoneyControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: defaultNumberType}"
                    (keydown.enter)="$event.preventDefault()">
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-12">
              <strong>Danh sách mặt hàng</strong>
            </div>
            <div class="col-md-12 mt-10">
              <p-table #tableOrderetail [columns]="colsOrderDetail" [value]="listOrderDetail" [resizableColumns]="true" [paginator]="true"
                [rows]="5" [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.width}">
                      <span>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </span>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.width}">
                      <span *ngSwitchCase="'productName'" pTooltip="{{rowData[col.field]}}" tooltipPosition="bottom" tooltipZIndex="99999">
                        {{rowData[col.field].trim().length > 25 ? rowData[col.field].trim().slice(0,25)+'...' : rowData[col.field].trim()}}
                      </span>
                      <span *ngSwitchCase="'unitPrice'">
                        {{rowData[col.field] | number}}
                      </span>
                      <span *ngSwitchCase="'quantity'">
                        {{rowData[col.field] | number}}
                      </span>
                      <span *ngSwitchCase="'sumAmount'">
                        {{rowData[col.field] | number}}
                      </span>
                      <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="3">Tổng tiền hàng</td>
                    <td style="text-align: right;">{{totalPrice | number}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <div style="text-align: left;">
          <p-checkbox [binary]="true" label="Lấy hóa đơn VAT"></p-checkbox>
        </div>
        <div style="text-align: center;">
          <button type="button" pButton (click)="payOrder()" label="Đồng ý" [disabled]="awaitResult"></button>
          <button type="button" pButton (click)="cancelPayOrder()" label="Hủy" class="ui-button-secondary"></button>
        </div>
      </p-footer>
    </p-dialog>
  </form>
</div>
