<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</div>

<!-- Message Response... -->
<p-toast position="bottom-right" key="popup"></p-toast>

<div class="add-edit-contract-cost-dialog">
  <div class="row no-margin">
    <form [formGroup]="contractCostForm" style="height: 100%;">
    <div class="col-md-12 mt-10">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <!-- Hàng 1 -->
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Chọn chi phí<span class="require">*</span></label>
                    </div>
                    <div class="col-md-12">
                      <p-dropdown [options]="listCost" [virtualScroll]="true" itemSize="30" 
                                  formControlName="costControl" 
                                  [styleClass]="(costControl.invalid && (costControl.dirty || costControl.touched)) ? 'error-border' : ''"
                                  [filter]="true" [showClear]="true" [resetFilterOnHide]="true"
                                  placeholder="Chọn chi phí" 
                                  optionLabel="costCodeName" [style]="{'width': '100%'}"
                                  (onChange)="changeCost($event.value)"></p-dropdown>
                    </div>
                    <div class="col-md-12" [hidden]="costControl.valid || costControl.untouched">
                      <span *ngIf="costControl.hasError('required')" class="error-message-span">Chưa chọn chi phí</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Hàng 2 -->
            <div class="col-md-12" style="margin-top: 5px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Tên chi phí</label>
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="w100" pInputText disabled
                            formControlName="costNameControl"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Hàng 3 -->
            <div class="col-md-12 mt-5">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Số lượng<span class="require">*</span></label>
                    </div>
                    <div class="col-md-12">
                      <input  type="text" class="number-input" formControlName="quantityControl"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                              (change)="changeQuantityCost()">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label  [ngStyle]="{'color': (isHetHan ? 'red' : '')}">Đơn giá<span class="require">*</span></label>
                    </div>
                    <div class="col-md-12">
                      <input  type="text" class="number-input" formControlName="priceControl"
                              [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                              (change)="changePriceCost()">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Hàng 4 -->
            <div class="col-md-12 mt-5">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Thành tiền (VND)</label>
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="w100" style="text-align: right;" pInputText value="{{amount | number:0}}" pInputText disabled="true"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>

    <div class="col-md-12 mt-10">
      <div style="padding-bottom: 10px;">
        <p-checkbox [(ngModel)]="isInclude" [binary]="true" label="Đã bao gồm trong giá bán"></p-checkbox>
      </div>
      <div class="group-button-footer">
        <button type="button" class="cancel" (click)="cancel()"><span class="cancel-label">Hủy</span></button>
        <button *ngIf = "isEdit" type="button" class="save" (click)="save()"><span class="save-label">Lưu</span></button>
      </div>
    </div>
  </div>
</div>