<aside class="main-sidebar" style="background-color:#121619; position:fixed;">
  <section class="sidebar">
    <ul class="sidebar-menu custom-sidebar-home">
      <li *ngFor="let item of lstBreadCrumLeftMenu; let i = index" [attr.data-index]="i" class="treeview"
          >
        <!--[hidden]="item.Active"-->
        <a target="_blank" class="cursor menu-item-1" (click)="addRemoveIcon(i)">
          <img *ngIf="item.nameIcon.includes('.png')" class="img_conf_cus_lead"
               src="../../assets/icons/Menu/menu_crm/{{item.nameIcon}}">
          <i *ngIf="!item.nameIcon.includes('.png')" class="{{item.nameIcon}}" aria-hidden="true"></i>
          <span class="menu-item-name-1" pTooltip="{{item.Name}}">
            {{item.Name.trim()|uppercase}}
          </span>
          <span class="pull-right-container">
            <i class="fa fa-plus-circle module-add{{i}}" aria-hidden="true"></i>
            <i class="fa fa-minus-circle module-remove{{i}}" aria-hidden="true"></i>
          </span>
        </a>
        <ul *ngIf="item.LstChildren.length>0" class="treeview-menu report treeview-menu-1">
          <li *ngFor="let resource of item.LstChildren; let j = index" [attr.data-index]="j" class="treeview">
              <!--[hidden]="resource.Active">-->
            <div *ngIf="resource.LstChildren.length>0">
              <a href="#" target="_blank" class="cursor menu-item-2"
                 (click)="addRemoveIconParren(j, item.LstChildren.length)">
                <img *ngIf="resource.nameIcon.includes('.png')" class="img_conf_cus_lead"
                     src="../../assets/icons/Menu/menu_crm/{{resource.nameIcon}}">

                <i *ngIf="!item.nameIcon.includes('.png')" class="{{resource.nameIcon}}" aria-hidden="true"></i>

                <span class="menu-item-name-2" pTooltip="{{resource.Name}}">
                  {{resource.Name.trim()|uppercase}}
                </span>
                <span class="pull-right-container">
                  <i class="fa fa-plus-circle module-add-parent{{j}}" aria-hidden="true"></i>
                  <i class="fa fa-minus-circle module-remove-parent{{j}}" aria-hidden="true"></i>
                </span>
              </a>
              <ul *ngIf="resource.LstChildren.length>0" class="treeview-menu report treeview-menu-2">
                <li *ngFor="let resourceItem of resource.LstChildren" (click)="goToPage(resourceItem)">
                    <!--[hidden]="resourceItem.Active">-->
                  <a class="cursor">
                    <span [ngStyle]="{'color':resourceItem.Active? '#ffff':'#f2f4f8','font-weight':resourceItem.Active? 'bold':'normal','font-size':'12px'}"
                          pTooltip="{{resourceItem.Name}}">
                      {{resourceItem.Name.trim()}}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div *ngIf="resource.LstChildren.length==0">
              <a class="cursor" (click)="goToPage(resource)">
                <span [ngStyle]="{'color':resource.Active ? '#ffff' : '#f2f4f8',
                  'font-weight':resource.Active? 'bold' : 'normal',
                  'font-size':'12px','margin-left':'30px','line-height':'30px'}" pTooltip="{{resource.Name}}">
                  {{resource.Name.trim()}}
                </span>
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
