.content-wrapper {
  background: #ecf0f5;
  padding-top: 90px;
}

::ng-deep .sidebar-mini:not(.sidebar-collapse) .dashboard-home .main-sidebar {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}

::ng-deep .sidebar-mini:not(.sidebar-collapse) .dashboard-home .main-sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-menu>li {
  border-bottom: 2px solid #262a2d;
}

.sidebar-menu .treeview-menu .treeview .treeview-menu>li:hover {
  background-color: #262a2d !important;
}

.sidebar-menu .treeview-menu >li:hover .menu2 {
  background-color: #262a2d !important;
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 {
  padding: 15px 0 !important;
  padding-left: 10px !important;
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 img {
  margin-right: 17px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 i {
  margin-right: 17px;
  width: 17px;
  line-height: 18px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 .menu-item-name-1 {
  color: #78a9ff;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  width: 143px;
  height: auto;
  line-height: 18px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 .pull-right-container {
  display: block;
  top: 45%;
  width: 16px;
  height: 16px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 span.pull-right-container .fa-plus-circle {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #78a9ff
}

::ng-deep .sidebar-mini .custom-sidebar-home .menu-item-1 span.pull-right-container .fa-minus-circle {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #78a9ff;
  display: none
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 {
  line-height: 14px !important;
  background: #121619 !important;
  padding-top: 10px;
  margin-top: unset;
  padding-left: 20px;
  border-left: 0;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 {
  display: inline-flex;
  margin: 13px 0;
  height: 14px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 img {
  margin-right: 0px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 i {
  margin-right: 0px;
  width: 17px;
  height: 18px
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 .menu-item-name-2 {
  display: block;
  color: #78a9ff;
  font-weight: bold;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 25px;
  width: auto;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 .pull-right-container {
  position: absolute;
  right: 10px;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 .pull-right-container i {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #78a9ff
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-1 .menu-item-2 .pull-right-container i.fa-minus-circle {
  display: none !important;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-2 {
  line-height: 19px !important;
  padding-left: 0;
}

::ng-deep .sidebar-mini .custom-sidebar-home .treeview-menu-2 a {
  padding-left: 26px;
  padding-right: 15px;
}

::ng-deep .sidebar-mini.sidebar-collapse:not(.sidebar-open) .custom-sidebar-home .menu-item-1 .menu-item-name-1 {
  width: 230px;
  height: 50px;
}

::ng-deep .sidebar-mini.sidebar-collapse:not(.sidebar-open) .custom-sidebar-home .menu-item-1 span.pull-right-container, ::ng-deep .sidebar-mini.sidebar-collapse:not(.sidebar-open) .custom-sidebar-home .menu-item-1 span.pull-right-container i {
  display: none !important;
  padding: 0;
}

::ng-deep .sidebar-mini.sidebar-collapse:not(.sidebar-open) .custom-sidebar-home .treeview-menu-1 {
  margin-top: 6px;
  padding-left: 10px;
  border-left: 1px solid;
}

::ng-deep .sidebar-mini.sidebar-collapse:not(.sidebar-open) .custom-sidebar-home .treeview-menu-1 .menu-item-2 .menu-item-name-2 {
  width: 180px;
}

.dashboard-home .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
  position: relative;
}

.dashboard-home .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.dashboard-home .title {
  color: #6D98E7;
}

.dashboard-home a {
  color: #6d98e7;
}

.dashboard-home .alignIcon {
  top: -3px;
  position: relative;
  font-size: 20px !important;
}

.dashboard-home .cursor {
  cursor: pointer;
}

.dashboard-home .img_conf_cus_lead {
  width: 17px;
  height: 18px;
}

.dashboard-home .sidebar-menu {
  white-space: normal !important;
  margin-top: 22px;
}

.dashboard-home .notification-icon {
  position: absolute;
  bottom: 25px;
  left: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #ff4081;
  border-radius: 50%;
  display: block;
  padding: 3px 5px;
  font-size: 10px;
}

.dashboard-home #notification-content {
  position: absolute;
  background-color: #fff;
  top: 101%;
  right: 0%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  z-index: 3000;
}

.dashboard-home #notification-content .notification-row {
  padding: 15px;
  margin: 0 15px;
}

.dashboard-home #notification-content .notification-row:hover {
  cursor: pointer;
  background-color: rgb(191, 191, 191) !important;
}

.dashboard-home #user-content {
  position: absolute;
  background-color: #fff;
  top: 101%;
  right: 0%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  z-index: 3000;
}

.dashboard-home #user-content .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboard-home #user-content .user-name {
  font-weight: 600;
  font-size: 16px;
}

.dashboard-home #user-content .user-avatar, .dashboard-home .small-user-avatar {
  border-radius: 50%;
}

.dashboard-home #sys-config {
  position: absolute;
  background-color: #fff;
  top: 101%;
  right: 0%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  z-index: 3000;
}

.dashboard-home #sys-config .sys-config-row {
  padding: 15px 15px 15px 15px;
  margin: 0 15px;
}

#sys-config .sys-config-row:hover {
  cursor: pointer;
  background-color: rgb(191, 191, 191) !important;
}

.dashboard-home .box {
  width: 100%;
  height: 160px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 5px 5px;
}

.dashboard-home .box .box-title {
  font-family: 'Inter UI';
  font-weight: 700;
  font-size: 16px;
}

.dashboard-home .box .box-sub-title {
  font-family: 'Inter UI';
  font-weight: 400;
  font-size: 11px;
}

.dashboard-home .box .box-content {
  font-family: 'Inter UI';
  font-weight: 700;
  font-size: 28px;
  color: #0f62fe;
}

.dashboard-home .box .box-detail {
  font-family: 'Inter UI';
  font-weight: 500;
  font-size: 12px;
  color: #0f62fe;
  cursor: pointer;
}

.dashboard-home .box-medium {
  width: 100%;
  height: 352px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 5px 5px;
}

.dashboard-home .box-medium .box-medium-title {
  font-family: 'Inter UI';
  font-weight: 700;
  font-size: 16px;
}

.dashboard-home .box-medium .box-medium-sub-title {
  font-family: 'Inter UI';
  font-weight: 400;
  font-size: 11px;
}

.dashboard-home .box-medium .box-medium-content {
  font-family: 'Inter UI';
  font-weight: 700;
  font-size: 28px;
}

.dashboard-home .box-medium .box-medium-detail {
  font-family: 'Inter UI';
  font-weight: 500;
  font-size: 12px;
  color: #0f62fe;
  cursor: pointer;
}

.dashboard-home .box-large {
  width: 100%;
  height: 542px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 5px 5px;
}

.dashboard-home .box-large .box-large-title {
  font-family: 'Inter UI';
  font-weight: 700;
  font-size: 16px;
}

.dashboard-home .box-large .box-large-sub-title {
  font-family: 'Inter UI';
  font-weight: 400;
  font-size: 11px;
}

.dashboard-home .box-large .box-large-content {
  font-family: 'Inter UI';
  font-weight: 700;
  font-size: 28px;
}

.dashboard-home .box-large .label-color {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.dashboard-home .box-large .label-text {
  font-family: 'Inter UI';
  font-weight: 400;
  font-size: 11px;
}

.dashboard-home .box-large .box-large-detail {
  font-family: 'Inter UI';
  font-weight: 500;
  font-size: 12px;
  color: #0f62fe;
  cursor: pointer;
}

.dashboard-home .box-quote-large {
  height: 275px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
}

.dashboard-home .box-calendar {
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
}

.dashboard-home .box-metting-large {
  height: auto;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
}

.dashboard-home .box-quote-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboard-home .box-quote-title {
  height: 19px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.dashboard-home .box-quote-handle {
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #0f62fe;
  cursor: pointer;
}

.dashboard-home .Double-Arrow-Left-3 {
  position: relative;
  right: 5px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.dashboard-home .link {
  font-family: 'Inter UI';
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
}

.dashboard-home .box-no-data {
  position: relative;
  top: 25%;
}

.dashboard-home .box-icon {
  width: 57.1px;
  height: 58px;
  object-fit: contain;
}

.dashboard-home .no-data-quote {
  height: 200px;
  border: solid 1px #d7dbe0;
  background-color: #f2f4f8;
  text-align: center;
}

.dashboard-home .no-data {
  margin-top: 10px;
  height: 330px;
  border: solid 1px #d7dbe0;
  background-color: #f2f4f8;
  text-align: center;
}

.dashboard-home #create-config {
  position: absolute;
  background-color: #fff;
  top: 101%;
  right: 10%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  z-index: 3000;
}

.dashboard-home #create-config .create-config-row {
  padding: 15px 15px 15px 15px;
  margin: 0 15px;
}

.dashboard-home #create-config .create-config-row:hover {
  cursor: pointer;
  background-color: rgb(191, 191, 191) !important;
}

::ng-deep .dashboard-home .fc {
  border-left: 1px solid lightgray !important;
  border-right: 1px solid lightgray !important;
  background-color: white !important;
}

::ng-deep .dashboard-home .fc-view-container {
  background-color: white !important;
  border-left: 1px solid lightgray !important;
  width: 60% !important;
  margin-left: 20% !important;
}

::ng-deep .dashboard-home .fc-toolbar.fc-header-toolbar {
  background-color: white !important;
  border: 1px solid lightgray !important;
  box-shadow: 2px;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .dashboard-home .box .box-title {
    font-size: 6px;
  }
  .dashboard-home .box .box-sub-title {
    font-size: 10px;
  }
  .dashboard-home .box .box-content {
    font-size: 15px;
  }
  .dashboard-home .box .box-detail {
    font-size: 8px;
  }
  .dashboard-home .box-medium .box-medium-title {
    font-size: 10px;
  }
  .dashboard-home .box-large .box-large-title {
    font-size: 13px;
  }
  ::ng-deep .dashboard-home .fc-view-container {
    background-color: white !important;
    border-left: 1px solid lightgray !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-home .box-medium .box-medium-title {
    font-size: 15px;
  }
  .dashboard-home .box-medium .box-medium-sub-title {
    font-size: 10px;
  }
  .dashboard-home .box-quote-large {
    height: auto;
  }
  .dashboard-home .space_create {
    display: none;
  }
  .dashboard-home .margin-box-mobile {
    margin-top: 20px;
  }
  ::ng-deep .dashboard-home .fc-view-container {
    background-color: white !important;
    border-left: 1px solid lightgray !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  ::ng-deep .dashboard-home .fc-toolbar.fc-header-toolbar {
    text-align: center;
    margin-bottom: 50px;
  }
  ::ng-deep .dashboard-home .fc-left {
    position: absolute;
    top: 50px;
  }
  ::ng-deep .dashboard-home .fc-left .fc-button-group button.fc-button {
    font-size: 12px;
  }
  ::ng-deep .dashboard-home .fc-center {
    width: 100%;
  }
  ::ng-deep .dashboard-home .fc-right {
    position: absolute;
    top: 50px;
    right: 25px;
  }
  .content-wrapper {
    background: #ecf0f5;
    padding-top: 90px;
  }
}

/* Iphone 6/7/8 Plus */

@media only screen and (min-width: 376px) and (max-width: 414px) {
  .dashboard-home span.ui-column-title {
    width: 170px;
  }
  .dashboard-home .search {
    padding-top: 10px;
    padding-left: 23px;
  }
}

/* Iphone 6/7/8/X */

@media only screen and (max-width: 375px) {
  .dashboard-home span.ui-column-title {
    width: 155px;
  }
  .dashboard-home .search {
    padding-top: 10px;
    padding-left: 23px;
  }
  .content-wrapper {
    background: #ecf0f5;
    padding-top: 90px;
  }
}