
.bank-receipts-detail {
  font-family: 'Inter UI';
}

.bank-receipts-detail .btn-confirm {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.bank-receipts-detail .button-group .btn-confirm .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
}

.bank-receipts-detail .btn-flex {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.bank-receipts-detail .bank-receipts-detail-content{
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.bank-receipts-detail .button-group{
  width: 100% !important;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
}

.bank-receipts-detail .header-box-icon {
  width: 40px;
  border-radius: 50%;
}

.bank-receipts-detail .text-header{
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.bank-receipts-detail .content-bank-pay{
  height: 601px;
  border-radius: 4px;
  border: solid 1px var(--sub-bg-2);
  background-color: var(--white-text-bg);
}

.bank-receipts-detail .help-block > div {
  position: absolute;
  top: 58px;
}

.bank-receipts-detail .head button{
  margin-bottom: 15px;
}

.bank-receipts-detail .btn-cancel {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.bank-receipts-detail .button-group .btn-cancel .text-cancel{
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.bank-receipts-detail .btn-create {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}


.bank-receipts-detail .button-group .btn-create .text-save{
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
}

.bank-receipts-detail .mat-raised-button,
.bank-receipts-detail button {
  box-shadow: none !important;
  height: 40px;
  min-width: 124px;
  border-radius: 0.25em;
}


.bank-receipts-detail input[name='moneyToLetter'] {
  font-weight: 600;
  font-style: italic;
  font-size: 13px;
}

.bank-receipts-detail hr{
  margin: 15px;
  border-bottom: none !important;
  border: 1px solid #999999;
}

.bank-receipts-detail .overview .button-group {
  width: 100% !important;
  height: 42px;
  border-radius: 4px;
  background: #ffffff;
  border-bottom: 1px solid #dde1e6;
  padding-top: 10px;
}

.bank-receipts-detail .overview .button-group .text-title {
  width: 152px;
  height: 17px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.bank-receipts-detail .overview {
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.bank-receipts-detail .overview .button-group .ios-print {
  width: 17.5px;
  height: 17.5px;
  object-fit: contain;
  float: right;
  cursor: pointer;
}

.bank-receipts-detail .bank-infop{
  border-radius: 4px; 
  border: solid 1px #dde1e6;
  background-color: var(--sub-bg-1);
  margin-left: 2%;
}

.borderless td, .borderless th {
  border: none !important; 
}

.bank-receipts-detail .text-status{
  color: red;
}
.bank-receipts-detail th{
  font-weight: normal;
}

.bank-receipts-detail td{
  font-weight: bold;
}

.bank-receipts-detail .bank-money{
  height: 270px;
  margin-left: 2%;
  border: dashed 1px #fec163;
  background-color: #fff9f0;
}

.bank-receipts-detail .control-label label,
.bank-receipts-detail .control-label {
  font-weight: 400;
}

.bank-receipts-detail .mt-25{
  margin-top: 25px;
}

input[type="text"]:disabled {
  background: #e7dfdf;
}

.bank-receipts-detail .no-padding {
  padding: 0 !important;
}

.bank-receipts-detail .no-padding-left {
  padding-left: 0 !important
}


.bank-receipts-detail .help-block {
  color: red;
  margin: 0 !important
}

::ng-deep .bank-receipts-detail .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .bank-receipts-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .bank-receipts-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .bank-receipts-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .bank-receipts-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .bank-receipts-detail .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

@media only screen and (max-width: 1423px) {
  .bank-receipts-detail .ios-warning {
      top: 0px;
  }
  .bank-receipts-detail .save {
      margin-left: 0px;
  }
}

/* Responsive iPad */

@media only screen and (max-width: 768px) {
  .bank-receipts-detail .fixed {
      width: 62% !important;
  }
}


/* Responsive iphone 6/7/8 plus */

@media only screen and (max-width: 414px) {
  .btn-confirm {
    margin-top: 5px;
  }
  .btn-flex {
    flex-wrap: wrap;
  }
  .bank-receipts-detail .fixed {
      width: 85.3% !important;
  }
}


/* Responsive iphone 6/7/8 */

@media only screen and (max-width: 375px) {
  .btn-confirm {
    margin-top: 5px;
  }
  .btn-flex {
    flex-wrap: wrap;
  }
  .bank-receipts-detail .fixed {
      width: 83.7% !important;
  }
}
/* Responsive iphone 5/SE */

@media only screen and (max-width: 320px) {
  .bank-receipts-detail .fixed {
      width: 80.7% !important;
  }
}
