<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="N8.DataSource" value="192.168.1.10"/>
    <add key="N8.InitialCatalog" value="N8.HNSME"/>
    <add key="N8.IntegratedSecurity" value="False"/>
    <add key="N8.DBUserId" value="sa"/>
    <add key="N8.DBPassword" value="Password@123"/>
    <add key="N8.Company" value="HNSME"/>
    <add key="N8.ServiceSuffix" value="100"/>
    <add key="Sleep.Interval" value="2000"/>
    <add key="Queue.Received.Number" value="30"/>
    <add key="Communication.ServiceUser" value="SYSTEM"/>
    <add key="Communication.Email.SMTP.Server" value="mail.tringhiatech.vn"/>
    <add key="Communication.Email.SMTP.Port" value="587"/>
    <add key="Communication.Email.SMTP.UserName" value="n8@tringhiatech.vn"/>
    <add key="Communication.Email.SMTP.Password" value="tyuGHJ876"/>
    <add key="Communication.Email.SMTP.SSL" value="false"/>
    <add key="Communication.Email.FromAddress" value="email@hnsme.com"/>
    <add key="Communication.Email.From" value="HNSME"/>
    <add key="Communication.Email.UseFromAddress" value="false"/>
    <add key="Communication.SMS.APIURL" value=""/>
    <add key="Communication.SMS.ISTELCOSUB" value=""/>
    <add key="Communication.SMS.AGENTID" value=""/>
    <add key="Communication.SMS.APIUSER" value=""/>
    <add key="Communication.SMS.APIPASS" value=""/>
    <add key="Communication.SMS.USERNAME" value=""/>
    <add key="Communication.SMS.DATACODING" value=""/>

    <add key="Communication.SMS.LABELID" value=""/>
    <add key="Communication.SMS.CONTRACTID" value=""/>
    <add key="Communication.SMS.TEMPLATEID" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
