.product-revenue {
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(18, 22, 25, 0.08);
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.product-revenue .box-header {
  width: 100%;
  background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
}

.product-revenue .btn-export {
  float: right;
  width: 98px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: white;
}

.product-revenue .btn-export-excel {
  min-width: 122px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

.product-revenue .btn-export-pdf {
  min-width: 122px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

.product-revenue .btn-create {
  float: right;
  width: 98px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
}

.product-revenue .btn-export-text {
  width: 50px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: none;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.product-revenue .btn-create-text {
  width: 50px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.product-revenue .box-header-group {
  margin-top: 10px;
}

.product-revenue .box-header-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0f62fe;
  text-align: center;
}

.product-revenue .Money-2 {
  width: 20.4px;
  height: 18.5px;
  object-fit: contain;
  margin-top: 10px;
}

.product-revenue .box-header-title {
  width: auto;
  /* height: 24px; */
  font-family: 'Inter UI';
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.product-revenue .noun-product {
  width: 20.4px;
  height: 18.5px;
  object-fit: contain;
  margin-top: 10px;
}

.product-revenue .box-header-subtitle {
  font-family: 'Inter UI';
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.product-revenue .box-header-group-btn {
  text-align: right;
  padding-top: 5px;
}

.product-revenue .btn-refresh {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.product-revenue .ios-refresh {
  width: 12px;
  height: 14px;
  object-fit: contain;
}

.product-revenue .btn-filter {
  min-width: 104px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

.product-revenue .ios-funnel {
  width: 12.3px;
  height: 11.3px;
  object-fit: contain;
  margin-right: 5px;
}

.product-revenue .btn-filter-text {
  width: 36px;
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.product-revenue .iput-text {
  width: 248px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding-left: 5px;
  margin-left: 5px;
}

.product-revenue .box-filter {
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding: 10px 0px;
}

.product-revenue .bank-payments-code-text {
  width: 100%;
  height: 32px;
  font-family: 'Inter UI';
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  padding-left: 5px;
}

.product-revenue .mt-5 {
  margin-top: 5px;
}

.product-revenue .btn-search {
  width: 72px;
  height: 32px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
}

.product-revenue .btn-search:focus {
  border-color: #007ad9;
  outline: 0 none;
}

.product-revenue .btn-search-text {
  width: 36px;
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.product-revenue .link {
  font-family: 'Inter UI';
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
}

.product-revenue .no-data {
  height: 435px;
  border: solid 1px #d7dbe0;
  background-color: #f2f4f8;
  text-align: center;
}

.product-revenue .box-no-data {
  position: relative;
  top: 25%;
}

.product-revenue .box-icon {
  width: 57.1px;
  height: 58px;
  object-fit: contain;
}
.product-revenue span.ui-column-title{
  min-width: 110px;
}
::ng-deep .product-revenue .ui-datepicker {
  top: 0px !important;
  left: -188px !important;
}

/* ::ng-deep .product-revenue .ui-multiselect .ui-multiselect-panel {
	display: contents;
  } */

/* Máy để bàn */

@media only screen and (min-width: 1025px) and (max-width: 1423px) {}

/* Ipad Pro */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .product-revenue .box-header-icon {
    width: 27px;
    height: 27px;
  }
  .product-revenue .Money-2 {
    width: 15.4px;
    height: 11.5px;
    margin-top: 7px;
  }
  .product-revenue .iput-text {
    margin-top: 5px;
  }
}

/* Ipad */

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .product-revenue .btn-create {
    margin-top: 5px;
  }
}

/* Iphone 6/7/8 Plus */

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .product-revenue .iput-text {
    margin-top: 5px;
  }
  .product-revenue[_ngcontent-ng-cli-universal-c7] .box-header-subtitle[_ngcontent-ng-cli-universal-c7] {
    height: auto;
  }
}

/* Iphone 6/7/8/X */

@media only screen and (max-width: 375px) {
  .product-revenue .iput-text {
    margin-top: 5px;
  }
  .product-revenue[_ngcontent-ng-cli-universal-c7] .box-header-subtitle[_ngcontent-ng-cli-universal-c7] {
    height: auto;
  }
}
