<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="{{ 'procurement-request.messages_title.title_confirm' | translate }}"
  icon="pi pi-exclamation-triangle"
  acceptLabel="{{ 'procurement-request.messages_title.title_confirm_OK' | translate }}"
  rejectLabel="{{ 'procurement-request.messages_title.title_confirm_NO' | translate }}">
</p-confirmDialog>

<p-dialog header="{{ 'procurement-request.messages_title.title_info_reject' | translate }}" [(visible)]="display"
  [modal]="true" [style]="{width: 'auto', minWidth: '700px'}">
  <div class="col-md-3">
    <span> {{ 'procurement-request.create.description' | translate }} </span>
  </div>
  <div class="col-md-9">
    <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="descriptionApprovalReject"
      (ngModelChange)="changeDescript()" [ngClass]="isMesenger ? 'error-border' : ''"
      class="col-md-10 w100 input-text"></textarea>
    <span [hidden]="!isMesenger" class="col-md-10 error-message-span">{{ 'procurement-request.messages_error.no_input' |
      translate }}</span>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="aprrovalRejectProcurement()"
      label="{{ 'procurement-request.create.save' | translate }}"></button>
  </p-footer>
</p-dialog>

<div class="procurement-request-view">
  <div class="row no-margin">
    <div class="col-md-9 no-padding">
      <div class="row no-margin" id="parent">
        <div class="col-md-12 header" style="padding: 6px;" [ngClass]="{'fixed': fixed}"
          [ngStyle]="{'width':withFiexd}">
          <div class="row">
            <div class="col-md-6 no-padding">
              <div class="row no-margin">
                <div class="col-md-1 col-sm-1 col-xs-3">
                  <div class="header-box-icon">
                    <img src="/assets/icons/components/create_lead.svg" class="header-icon">
                  </div>
                </div>
                <div class="col-md-11 col-sm-10 col-xs-9">
                  <div>
                    <span class="customer-name">{{ 'procurement-request.create.info_title_detail' | translate }}</span>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="display: flex; justify-content: flex-end; margin-top: 5px;">
                  <button (click)="cancel()" type="button" class="btn-remove">
                    <span class="btn-remove-text">{{ 'procurement-request.create.exit' | translate }}</span>
                  </button>
                  <button (click)="approveOrReject(null)"
                    *ngIf="actionAdd && procurementRequestModel.statusCode === 'DR'" #saveAndCreate class="save-and-new"
                    type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.send_approval' | translate }}</span>
                  </button>
                  <button (click)="changeStatus('DELETE')"
                    *ngIf="actionAdd && procurementRequestModel.statusCode === 'DR'" #saveAndCreate class="save-and-new"
                    type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.delete' | translate }}</span>
                  </button>
                  <button (click)="approveOrReject(true)"
                    *ngIf="actionAdd && isManager && procurementRequestModel.statusCode === 'WaitForAp'" #saveAndCreate
                    class="save-and-new" type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.approval' | translate }}</span>
                  </button>
                  <button (click)="approveOrReject(false)"
                    *ngIf="actionAdd && isManager && procurementRequestModel.statusCode === 'WaitForAp'" #saveAndCreate
                    class="save-and-new" type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.reject' | translate }}</span>
                  </button>
                  <button (click)="changeStatus('CANCEL')"
                    *ngIf="actionAdd && procurementRequestModel.statusCode === 'Rejected'" #saveAndCreate
                    class="save-and-new" type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.cancel' | translate }}</span>
                  </button>
                  <button (click)="changeStatus('NEW')"
                    *ngIf="actionAdd && (procurementRequestModel.statusCode === 'Rejected' || procurementRequestModel.statusCode === 'Cancel')"
                    #saveAndCreate class="save-and-new" type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.new' | translate }}</span>
                  </button>
                  <button (click)="gotoCreateOrderPay()"
                    *ngIf="actionAdd && procurementRequestModel.statusCode === 'Approved'" class="save-and-new"
                    type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.create_order_pay' | translate
                      }}</span>
                  </button>
                  <button (click)="gotoCreateQuoteVendor()"
                    *ngIf="actionAdd && procurementRequestModel.statusCode === 'Approved'" class="save-and-new"
                    type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.create_order_vendor' | translate
                      }}</span>
                  </button>
                  <button (click)="save(false)" *ngIf="actionEdit && procurementRequestModel.statusCode === 'DR'"
                    type="button" class="btn-save">
                    <span class="btn-save-text">{{ 'procurement-request.create.save' | translate }}</span>
                  </button>
                  <button (click)="changeStatus('CANCEL_APPROVAL')"
                    *ngIf="actionAdd && procurementRequestModel.statusCode === 'WaitForAp' && isUserSendAproval"
                    #saveAndCreate class="save-and-new" type="button">
                    <span class="text-save-and-new">{{ 'procurement-request.create.cancel_approval' | translate
                      }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-margin" style="padding-top: 10px;padding-bottom: 20px;">
        <div class="col-md-12 customer-infor">
          <div class="row">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="{{ 'procurement-request.create.title-infor-procurement' | translate }}"
                [selected]="true">
                <form [formGroup]="createPRForm">
                  <div class="col-md-12 no-padding">
                    <div *ngIf="isViewProcurement" class="row no-margin view-card">
                      <div class="btn-group" *ngIf="procurementRequestModel.statusCode === 'DR'">
                        <i (click)="toggleViewVisitCard()" class="pi pi-pencil" style="font-size: 2em"></i>
                      </div>
                      <div class="col-md-12">
                        <div class="row" style="padding: 17px 0px;">
                          <div class="col-md-6">
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.status' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.statusName}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.procurement-request-code' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                <!--  RQP2000035 -->
                                {{viewProcurementRequest.procurementRequestCode}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.create-date' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                <!--     13/02/2020 -->
                                {{viewProcurementRequest.createdDate | date: 'dd/MM/yyyy'}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy" style="padding-right: 0;">
                                {{ 'procurement-request.create.content-request' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.procurementRequestContent}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.person_request' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.requestEmployee}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.phone' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.phone}}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.unit' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.unit}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.person_approval' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.approverEmployee}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.position' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.position}}
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.description' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                {{viewProcurementRequest.desc}}
                              </div>
                            </div>
                            <div class="row buffer-bottom"
                              *ngIf="orderObjProRequest !== null && orderObjProRequest !== undefined">
                              <div class="col-md-4 proposal-to-buy">
                                {{ 'procurement-request.create.map_order' | translate }}
                              </div>
                              <div class="col-md-8 view-card-text">
                                <a target="_blank" class="cursor" (click)="goDetaiOrder()"
                                  pTooltip="{{(orderObjProRequest === null || orderObjProRequest === undefined) ? '' : orderObjProRequest.orderCode}}">
                                  <span>
                                    {{ (orderObjProRequest === null || orderObjProRequest === undefined) ? "" :
                                    (orderObjProRequest.orderCode.trim().length) > 25 ?
                                    orderObjProRequest.orderCode.trim().slice(0,25)+'...' :
                                    orderObjProRequest.orderCode.trim() }}
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="!isViewProcurement" class="row no-margin edit-card">
                      <div class="btn-group">
                        <i (click)="save()" class="pi pi-save" style="font-size: 2em"></i>
                        <i (click)="toggleViewVisitCard()" class="pi pi-times" style="font-size: 2em"></i>
                      </div>
                      <div class="col-md-12 no-padding">
                        <div class="row buffer-bottom">
                          <div class="col-md-12">
                            {{ 'procurement-request.create.status' | translate }}<span class="pr-code-note"
                              style="color: #ff3b30">
                              {{createPRForm.get('Status').value}} </span>
                          </div>
                          <div class="col-md-12">
                            {{ 'procurement-request.create.procurement-request-code' | translate }}<span
                              class="pr-code-note"> {{createPRForm.get('ProcurementRequestCode').value}}
                            </span>
                          </div>
                          <div class="col-md-12">
                            {{ 'procurement-request.create.create-date' | translate }}<span class="create-date-label">
                              {{createdDate | date: 'dd/MM/yyyy'}}</span>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>{{ 'procurement-request.create.content-request' | translate }}</span><span
                                  class="required">*</span>
                              </div>
                              <div class="col-md-12">
                                <input formControlName="PRContent" type="text" class="w100"
                                  [ngClass]="(createPRForm.get('PRContent').invalid && (createPRForm.get('PRContent').dirty || createPRForm.get('PRContent').touched)) ? 'error-border' : ''"
                                  pInputText placeholder="" />
                              </div>
                              <div class="col-md-12">
                                <span
                                  [hidden]="createPRForm.get('PRContent').valid || createPRForm.get('PRContent').untouched"
                                  *ngIf="createPRForm.get('PRContent').hasError('required') || createPRForm.get('PRContent').hasError('blankString')"
                                  class="error-message-span">
                                  {{ 'procurement-request.messages_error.no_input' | translate }}</span>
                              </div>
                            </div>

                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>{{ 'procurement-request.create.person_request' | translate }}</span><span
                                  class="required">*</span>
                              </div>
                              <div class="col-md-12">
                                <input formControlName="RequestEmp" type="text" class="w100" pInputText
                                  placeholder="" />
                              </div>
                            </div>

                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span> {{ 'procurement-request.create.phone' | translate }}</span>
                              </div>
                              <div class="col-md-12">
                                <input formControlName="Phone"
                                  [ngClass]="(createPRForm.get('Phone').invalid && (createPRForm.get('Phone').dirty || createPRForm.get('Phone').touched)) ? 'error-border' : ''"
                                  type="text" class="w100" pInputText placeholder="" />
                              </div>
                              <div class="col-md-12"
                                [hidden]="createPRForm.get('Phone').valid || createPRForm.get('Phone').untouched">
                                <span *ngIf="createPRForm.get('Phone').hasError('pattern')"
                                  class="error-message-span">{{ 'procurement-request.messages_error.error_format_phone'
                                  | translate }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>{{ 'procurement-request.create.position' | translate }}</span>
                              </div>
                              <div class="col-md-12">
                                <input formControlName="Postion" type="text" class="w100" pInputText placeholder="" />
                              </div>
                            </div>

                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>{{ 'procurement-request.create.unit' | translate }}</span>
                              </div>
                              <div class="col-md-12" pTooltip="{{selectedOrganization.selectedOrgName}}">
                                <input formControlName="Organization" (click)="openOrganizationDialog()" readonly
                                  disabled type="text" class="w100" pInputText placeholder="" />
                              </div>
                            </div>
                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label"
                                *ngIf="orderObjProRequest !== null && orderObjProRequest !== undefined">
                                <span>{{ 'procurement-request.create.map_order' | translate }}</span>
                              </div>
                              <div class="col-md-12"
                                *ngIf="orderObjProRequest !== null && orderObjProRequest !== undefined">
                                <div style="padding-bottom: 10px;padding-top: 5px;">
                                  <a target="_blank" class="cursor" (click)="goDetaiOrder()"
                                    pTooltip="{{(orderObjProRequest === null || orderObjProRequest === undefined) ? '' : orderObjProRequest.orderCode}}">
                                    <span>
                                      {{ (orderObjProRequest === null || orderObjProRequest === undefined) ? "" :
                                      (orderObjProRequest.orderCode.trim().length) > 25 ?
                                      orderObjProRequest.orderCode.trim().slice(0,25)+'...' :
                                      orderObjProRequest.orderCode.trim() }}
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="row buffer-bottom">
                              <div class="col-md-12 buffer-bottom-label">
                                <span>{{ 'procurement-request.create.description' | translate }}</span>
                              </div>
                              <div class="col-md-12">
                                <textarea formControlName="Desc" pInputTextarea rows="4"
                                  style="width: 100%; min-height: 102px;"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div *ngIf="actionImport">
                                      <p-fileUpload #fileUpload name="demo[]" [showUploadButton]="false"
                                        multiple="multiple"
                                        accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                                        maxFileSize="10000000"
                                        invalidFileSizeMessageSummary="{0}: {{ 'procurement-request.create.file_max' | translate }},"
                                        invalidFileSizeMessageDetail="{{ 'procurement-request.create.file_max_value' | translate }} {0}."
                                        invalidFileTypeMessageSummary="{0}: {{ 'procurement-request.create.file_no_format' | translate }}, "
                                        invalidFileTypeMessageDetail="{{ 'procurement-request.create.file_choose_format' | translate }} {0}."
                                        chooseLabel="{{ 'procurement-request.create.file_choose' | translate }}"
                                        cancelLabel="{{ 'procurement-request.create.file_cancel' | translate }}"
                                        (onSelect)="handleFile($event, fileUpload)" (onRemove)="removeFile($event)"
                                        (onClear)="clearAllFile()">
                                      </p-fileUpload>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div *ngIf="(listDocument.length > 0)" class="col-md-12" style="margin-top: 5px;">
                                    <p-table [columns]="colsFile" [value]="listDocument" [responsive]="true"
                                      [paginator]="true" [rows]="5" [resizableColumns]="true">
                                      <ng-template pTemplate="header" let-columns>
                                        <tr>
                                          <th *ngFor="let col of columns" pResizableColumn
                                            [ngStyle]="{'text-align': col.textAlign}">
                                            {{col.header}}
                                          </th>
                                          <th style="width:4em"></th>
                                          <th style="width:4em"></th>
                                        </tr>
                                      </ng-template>
                                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                          <td *ngFor="let col of columns" class="ui-resizable-column"
                                            [ngStyle]="{'text-align': col.textAlign}">
                                            <span>{{rowData[col.field]}}</span>
                                          </td>
                                          <td>
                                            <button *ngIf="actionDelete" pButton icon="pi pi-trash"
                                              (click)="deleteFile(rowData)" class="ui-button-danger"></button>
                                          </td>
                                          <td>
                                            <button *ngIf="actionImport" pButton icon="pi pi-download"
                                              (click)="downloadFile(rowData)"></button>
                                          </td>
                                        </tr>
                                      </ng-template>
                                    </p-table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>

      <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-md-12 customer-infor">
          <div class="row">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="{{ 'procurement-request.create.info_list_product' | translate }}"
                [selected]="true">
                <div class="row bottom-buffer">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <p-table #table [columns]="selectedCulumns" [value]="listProcurementRequestItem"
                          [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" [rows]="rows"
                          [rowsPerPageOptions]="[10, 20, 30]" [responsive]="true"
                          [(selection)]="selectedProcurementRequestItem" class="table-border">
                          <ng-template pTemplate="caption">
                            <div class="row">
                              <div class="col-md-6" style="display: flex;">
                                <p-multiSelect [options]="columns" optionLabel="header" [(ngModel)]="selectedCulumns"
                                  [ngModelOptions]="{ standalone: true }" selectedItemsLabel="{0} cột được chọn"
                                  [style]="{ minWidth: '200px' }"
                                  defaultLabel="{{ 'procurement-request.create.column_choose' | translate }}">
                                </p-multiSelect>
                                <span (click)="gotoBudgetList()" style="padding-top:5px; margin-left: 20px;">
                                  <span>
                                    <img src="/assets/icons/components/search-icon.svg" class="ios-add-circle-outline">
                                  </span>
                                  <span class="add-product-text">
                                    {{ 'procurement-request.create.search_code_MDT' | translate }}
                                  </span>
                                </span>
                              </div>
                              <div class="col-md-6"
                                style="display: flex; justify-content: flex-end; padding-right: 15px; padding-top:5px">
                                <span *ngIf="actionAdd &&  procurementRequestModel.statusCode === 'DR'"
                                  (click)="addPRItem()">
                                  <span>
                                    <img src="/assets/icons/components/ios-add-circle-outline.svg"
                                      class="ios-add-circle-outline">
                                  </span>
                                  <span class="add-product-text">
                                    {{ 'procurement-request.create.create_product' | translate }}
                                  </span>
                                </span>
                              </div>
                            </div>
                          </ng-template>
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th style="text-align: center; width: 90px;">#</th>
                              <th *ngFor="let col of columns" pResizableColumn
                                [ngStyle]="{'width': col.width, 'text-align': col.textAlign}">
                                <span>
                                  {{ col.header }}
                                </span>
                              </th>
                              <th style="text-align: center; width: 100px;">
                                <span> {{ 'procurement-request.create.action' | translate }} </span>
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr
                              [ngClass]="rowData.quantityApproval == 0 || rowData.quantityApproval == null ? 'error-message-span' : ''">
                              <td style="text-align: center;">
                                <button *ngIf="listProcurementRequestItem?.length != 1"
                                  [disabled]="rowData.orderNumber == 1" class="btn-move mr-5" pTooltip="Chuyển lên"
                                  tooltipPosition="top" pButton (click)="moveUp(rowData)"><i
                                    class="pi pi-arrow-up icons-move"></i></button>
                                <button *ngIf="listProcurementRequestItem?.length != 1"
                                  [disabled]="rowData.orderNumber == listProcurementRequestItem?.length"
                                  class="btn-move" pTooltip="Chuyển xuống" tooltipPosition="top" pButton
                                  (click)="moveDown(rowData)"><i class="pi pi-arrow-down icons-move"></i></button>
                              </td>

                              <td [ngStyle]="{'width': '150px', 'text-align': 'left'}">
                                <span class="ui-column-title">{{columns[0].header}}</span>
                                <span>{{rowData.productName}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'left'}">
                                <span class="ui-column-title">{{columns[1].header}}</span>
                                <span>{{rowData.productCode}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'left'}">
                                <span class="ui-column-title">{{columns[2].header}}</span>
                                <span>{{rowData.vendorName}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'left'}">
                                <span class="ui-column-title">{{columns[3].header}}</span>
                                <span>{{rowData.productUnit}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'right'}">
                                <span class="ui-column-title">{{columns[4].header}}</span>
                                <span>{{rowData.quantity | number}}</span>
                              </td>
                              <td pEditableColumn *ngIf="procurementRequestModel.statusCode === 'WaitForAp'"
                                [ngStyle]="{'width': '150px', 'text-align': 'right'}">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <input pInputText type="text" class="number-input" id="quantityApproval"
                                      name="quantityApproval" [(ngModel)]="rowData.quantityApproval"
                                      [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                                      (keydown.enter)="$event.preventDefault()"
                                      (change)="changeQuantityApproval(rowData)">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    <span class="ui-column-title">{{columns[5].header}}</span>
                                    <span>{{rowData.quantityApproval}}</span>
                                  </ng-template>
                                </p-cellEditor>
                              </td>
                              <td *ngIf="procurementRequestModel.statusCode !== 'WaitForAp'"
                                [ngStyle]="{'width': '150px', 'text-align': 'right'}">
                                <span class="ui-column-title">{{columns[5].header}}</span>
                                <span>{{rowData.quantityApproval | number}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'left'}">
                                <span class="ui-column-title">{{columns[6].header}}</span>
                                <span>{{rowData.procurementPlanCode}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'right'}">
                                <span class="ui-column-title">{{columns[7].header}}</span>
                                <span>{{rowData.unitPrice|number}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'right'}">
                                <span class="ui-column-title">{{columns[8].header}}</span>
                                <span>{{rowData.exchangeRate|number}}</span>
                              </td>
                              <td [ngStyle]="{'width': '150px', 'text-align': 'right'}">
                                <span class="ui-column-title">{{columns[9].header}}</span>
                                <span>{{rowData.amount|number}}</span>
                              </td>

                              <td style="text-align: center; width: 100px;">
                                <!-- <button style="margin-right: 1px;"
                                  *ngIf="actionEdit && procurementRequestModel.statusCode === 'DR'"
                                  (click)="editPRItem(rowData)" pButton icon="pi pi-pencil"></button>
                                <button style="margin-left: 1px;"
                                  *ngIf="actionDelete && procurementRequestModel.statusCode === 'DR'"
                                  (click)="deletePRItem(rowData)" pButton icon="pi pi-trash"
                                  class="ui-button-danger"></button> -->
                                <button style="margin-right: 1px;"
                                  *ngIf="actionEdit"
                                  (click)="editPRItem(rowData)" pButton icon="pi pi-pencil"></button>
                                <button style="margin-left: 1px;"
                                  *ngIf="actionDelete && procurementRequestModel.statusCode === 'DR'"
                                  (click)="deletePRItem(rowData)" pButton icon="pi pi-trash"
                                  class="ui-button-danger"></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>

      <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-md-12 customer-infor">
          <div class="row">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="{{ 'procurement-request.create.note' | translate }}" [selected]="true">
                <div class="row bottom-buffer">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <p-editor [(ngModel)]="noteContent" [style]="{'height':'180px', 'width': '100%'}"
                          [ngModelOptions]="{standalone: true}" (onTextChange)="changeNoteContent($event)">
                        </p-editor>
                      </div>
                      <div class="col-md-12" style="margin-top: 5px;">
                        <p-fileUpload #fileNoteUpload name="demo[]" [showUploadButton]="false" multiple="multiple"
                          accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                          maxFileSize="10000000"
                          invalidFileSizeMessageSummary="{0}: {{ 'procurement-request.create.file_max' | translate }},"
                          invalidFileSizeMessageDetail="{{ 'procurement-request.create.file_max_value' | translate }} {0}."
                          invalidFileTypeMessageSummary="{0}: {{ 'procurement-request.create.file_no_format' | translate }}, "
                          invalidFileTypeMessageDetail="{{ 'procurement-request.create.file_choose_format' | translate }} {0}."
                          chooseLabel="{{ 'procurement-request.create.file_choose' | translate }}"
                          cancelLabel="{{ 'procurement-request.create.file_cancel' | translate }}"
                          (onSelect)="handleNoteFile($event, fileNoteUpload)" (onRemove)="removeNoteFile($event)"
                          (onClear)="clearAllNoteFile()">
                        </p-fileUpload>
                      </div>
                      <div *ngIf="(listUpdateNoteDocument.length > 0)" class="col-md-12" style="margin-top: 5px;">
                        <p-table [columns]="colsNoteFile" [value]="listUpdateNoteDocument" [responsive]="true"
                          [resizableColumns]="true">
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th *ngFor="let col of columns" pResizableColumn
                                [ngStyle]="{'text-align': col.textAlign}">
                                {{col.header}}
                              </th>
                              <th style="width:4em"></th>
                              <th style="width:4em"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                              <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                                [ngStyle]="{'text-align': col.textAlign}">
                                <span class="ui-column-title">{{col.header}}</span>
                                <span *ngSwitchCase="'documentSize'">
                                  <ng-container *ngIf="convertFileSize(rowData[col.field])">
                                    {{rowData[col.field] / 1024 | number}} KB
                                  </ng-container>
                                  <ng-container *ngIf="!convertFileSize(rowData[col.field])">
                                    {{rowData[col.field] / 1048576 | number}} MB
                                  </ng-container>
                                </span>
                                <span *ngSwitchCase="'updatedDate'">
                                  {{rowData[col.field] | date:'dd/MM/yyyy h:mm a'}}
                                </span>
                                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                              </td>
                              <td>
                                <button pButton icon="pi pi-trash" (click)="deleteNoteFile(rowData)"
                                  class="ui-button-danger"></button>
                              </td>
                              <td>
                                <button pButton icon="pi pi-download" (click)="downloadNoteFile(rowData)"></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>

                      <div class="col-md-12" style="text-align: right; margin-top: 5px;">
                        <button type="button" class="btn-cancel-note" (click)="cancelNote()">
                          <span class="save-cancel-lable">{{ 'procurement-request.create.cancel' | translate }}</span>
                        </button>
                        <button type="button" class="btn-save-note" (click)="saveNote()">
                          <span class="save-note-lable">{{(isEditNote == true ? 'procurement-request.create.edit_note' :
                            'procurement-request.create.create_note') | translate }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>

      <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-md-12 customer-infor">
          <div class="row">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="{{ 'procurement-request.create.history' | translate }}" [selected]="true">
                <div class="row bottom-buffer">
                  <div class="col-md-12">
                    <div class="row">
                      <ul class="timeline">
                        <li *ngFor="let note of noteHistory;let noteIndex = index;">
                          <i *ngIf="note.type == 'ADD'" class="fa fa-file-text-o bg-blueX color-w"></i>
                          <i *ngIf="note.type == 'NOT'" class="fa fa-commenting-o bg-blueX color-w"></i>
                          <i *ngIf="note.type == 'EDT'" class="fa fa-user bg-blueX color-w"></i>
                          <i *ngIf="note.type == 'NEW'" class="fa fa-user-plus bg-blueX color-w"></i>
                          <div class="timeline-item" id="{{note.noteId}}">
                            <span class="time onHover">
                              <i *ngIf="note.type === 'ADD' && ((note.description !== '' && note.description !== null) || note.noteDocList.length > 0) && actionEdit"
                                (click)="onClickEditNote(note.noteId, note.description)" class="pi pi-pencil style-edit"
                                pTooltip="{{ 'lead.tooltip.edit_note' | translate }}" tooltipPosition="bottom"></i>
                              <i *ngIf="actionDelete"
                                pTooltip="{{ 'procurement-request.create.delete_note' | translate }}"
                                tooltipPosition="bottom" (click)="onClickDeleteNote(note.noteId)"
                                class="pi pi-trash style-delete"></i>
                            </span>
                            <h3 class="timeline-header">
                              <span>
                                <i *ngIf="tooLong(note)" class="trigger_node collapse-content-icon pi pi-chevron-right"
                                  (click)="trigger_node(note.noteId,$event)" style="cursor: pointer;"
                                  pTooltip="{{ toggle_note_label }}" tooltipPosition="bottom"></i>
                                <span class="alignment" style="padding: 0 12px;" *ngIf="!tooLong(note)"></span>
                              </span>
                              <div>
                                <img *ngIf="note" [src]="defaultAvatar" height="30" width="30" alt=""
                                  class="timeline-user-avatar" />
                              </div>
                              <span class="note-user">{{note.responsibleName}}</span>

                              <p class="time-note">
                                {{note.noteTitle}} Lúc {{note.createdDate | date:'HH:mm'}} {{ 'lead.note.day' |
                                translate }}
                                {{note.createdDate | date:'dd/MM/yyyy'}}
                              </p>
                            </h3>
                            <div class="timeline-body">
                              <div class="note-content">
                                <span class="short-content" style="word-wrap: break-word;"></span>
                                <span class="full-content" style="display: none;word-wrap: break-word;"></span>
                              </div>

                              <div *ngIf="note.noteDocList.length > 0" class="row no-margin file-upload-zone"
                                style="padding: 0 12px; margin-bottom: 20px !important">
                                <div *ngFor="let item of note.noteDocList.slice(0,3); let i=index"
                                  class="col-md-4 short-content-file" style="padding: 5px 0">
                                  <div class="row no-margin file-item"
                                    style="background-color: rgb(228, 228, 228); padding: 5px 10px">
                                    <div class="col-md-1">
                                      <i class="pi pi-file" style="font-size: 1.55em;"></i>
                                    </div>
                                    <div class="col-md-11">
                                      <div class="item-name" pTooltip="{{ item.documentName }}"
                                        tooltipPosition="bottom">
                                        <span>
                                          <a class="preview-doc"
                                            (click)="openItem(item.documentName, item.documentUrl)">
                                            {{ item.documentName }}
                                          </a>
                                        </span>
                                      </div>
                                      <div style="font-size: 10px; padding: 0 !important">
                                        {{ item.documentSize/1024/1024 | number:'.2' }} MB
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div *ngFor="let item of note.noteDocList;let i=index"
                                  class="col-md-4 full-content-file" style="display: none;padding: 5px 0">
                                  <div class="row no-margin file-item"
                                    style="background-color: rgb(228, 228, 228); padding: 5px 10px">
                                    <div class="col-md-1">
                                      <i class="pi pi-file" style="font-size: 1.55em;"></i>
                                    </div>
                                    <div class="col-md-11">
                                      <div class="item-name" pTooltip="{{ item.documentName }}"
                                        tooltipPosition="bottom">
                                        <span>
                                          <a class="preview-doc" (click)="openItem(item.base64Url)">
                                            {{ item.documentName }}
                                          </a>
                                        </span>
                                      </div>
                                      <div style="font-size: 10px; padding: 0 !important">
                                        {{ item.documentSize/1024/1024 | number:'.2' }} MB
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <p *ngIf="note.noteDocList.length > 3" class="col-md-12 continue"><b>...</b></p>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <div class="col-md-12 customer-infor" [ngClass]="{'fixed': fixed}" [ngStyle]="{'width':withFiexdCol}"
        id="parentTH">
        <div class="row">
          <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
            <p-accordionTab header="Tổng hợp đề xuất" [selected]="true">
              <div class="row sumary-row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <span>{{ 'procurement-request.create.total_amount_text' | translate }}</span>
                </div>
                <div class="col-md-12" style="display: flex; justify-content: flex-end;">
                  <span style="font-weight: bold;">{{amountNumber | number}}</span>
                </div>
                <div *ngIf="amountNumber > 0" class="col-md-12"
                  style="display: flex; justify-content: flex-end; margin-top: 15px;">
                  <span>({{amountText}}./)</span>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
</div>