
.quote-detail {
  font-family: 'Inter UI';
}

.quote-detail .quote-detail-content {
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.quote-detail .button-group {
  width: 100%;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
}

::ng-deep .quote-detail .ui-menu-list {
  text-align: left !important;
}

.quote-detail .hyperlink {
  color: #007ad9;
  cursor: pointer;
}

.quote-detail .hidden-total {
  cursor: pointer;
  float: right;
  object-fit: contain;
}

.quote-detail .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #ffffff;
  width: 960px;
  border: 1px solid #cccccc;
}

.quote-detail .fixed4 {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #ffffff;
  width: 960px;
  border: 1px solid #cccccc;
}

.quote-detail .ios-warning {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.quote-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}

.quote-detail .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.quote-detail .notification {
  position: absolute;
  top: 38px;
  width: 380px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

.quote-detail .btn-move {
  width: 20px !important;
  height: 20px !important;
}

.quote-detail .mr-5 {
  margin-right: 5px;
}

.quote-detail .icons-move {
  font-size: 10px !important;
}

/*Begin: Tạo góc nhọn trên hộp thoại */
.quote-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.quote-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}
/*End: Tạo góc nhọn trên hộp thoại */

.quote-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.quote-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.quote-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.quote-detail .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.quote-detail .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.quote-detail .button-group .cancel {
  /* width: 64px; */
  min-width: 90px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.quote-detail .button-group .cancel .text-cancel {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-detail .button-group .save-and-new {
  width: 150px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.quote-detail .button-group .cencal-approvel {
  width: fit-content;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
}

.quote-detail .button-group .save-and-new .text-save-and-new {
  width: 102px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-detail .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.quote-detail .button-group .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/*Begin: Customize Accordion */

::ng-deep .quote-detail .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .quote-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .quote-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .quote-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .quote-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .quote-detail .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.quote-detail .require {
  color: #F94E4E;
}

.quote-detail .error-message-span {
  color: red !important;
}

.quote-detail .w100 {
  width: 100% !important;
}

.quote-detail .input-text {
  min-height: 2.55em !important;
}

.quote-detail .mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.quote-detail .mt-10 {
  margin-top: 10px;
}

.quote-detail .quote-code-text {
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #878d96;
}

.quote-detail .quote-date-text {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-detail .ios-add-circle-outline {
  width: 16px;
  height: 16px;
  object-fit: contain;
  cursor: pointer;
}

.quote-detail .add-product-text {
  width: 146px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #0f62fe;
  cursor: pointer;
}

/* Phần tổng hợp bên phải */
.quote-detail .overview {
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.quote-detail .overview .button-group {
  width: 100% !important;
  height: 42px;
  border-radius: 4px;
  background: #ffffff;
  border-bottom: 1px solid #dde1e6;
  padding-top: 10px;
}

.quote-detail .overview .button-group .text-title {
  width: 152px;
  height: 17px;
  font-family: 'Inter UI';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.quote-detail .overview .button-group .ios-print {
  width: 17.5px;
  height: 17.5px;
  object-fit: contain;
  float: right;
  cursor: pointer;
}

.quote-detail .box-part-1 {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.quote-detail .overview .total-monney-label {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.quote-detail .overview .total-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #121619;
}

.quote-detail .result-monney-label {
  height: 14px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: black;
}

.quote-detail .result-monney-number {
  height: 13px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: black;
}

.quote-detail .result-monney-text {
  height: 14px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.quote-detail .btn-save-note {
  width: 158px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
  margin-left: 5px;
}

.quote-detail .save-note-lable {
  width: 110px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.quote-detail .save-cancel-lable {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.quote-detail .btn-cancel-note {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

/* CSS time line */
.quote-detail .timeline>li {
  margin-right: 0 !important;
}

.quote-detail .style-delete {
  color: #FE747A;
  cursor: pointer;
  font-size: 1.55em;
}

.quote-detail .style-edit {
  cursor: pointer;
  font-size: 1.55em;
}

.quote-detail .note-user {
  font-family: 'Inter UI';
  font-weight: bold;
}

.quote-detail .timeline>li>.timeline-item {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.quote-detail .timeline-content {
  margin-top: 20px;
}

.quote-detail .bg-blueX {
  background-color: #4E6BA5 !important;
}

.quote-detail .color-w {
  color: #fff !important;
}

.quote-detail .timeline-item .onHover {
  display: none;
}

.quote-detail .timeline-item:hover .onHover {
  display: block;
}

.quote-detail .material-icons {
  cursor: pointer;
}

.quote-detail .timeline-user-avatar {
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}

.quote-detail .note-title {
  font-size: 11px !important;
  color: #222 !important;
  font-weight: normal !important;
}

.quote-detail .time-note {
  font-size: 10px !important;
  color: #5d5a5a !important;
  font-weight: normal !important;
}

.quote-detail .timeline-body {
  padding: 10px 15px;
}

.quote-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
  padding-right: 5px !important;
}

.quote-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.quote-detail .file-upload-zone .col-md-4:nth-child(3n) {
  padding-left: 5px !important;
}

.quote-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
  padding-right: 5px !important;
}

.quote-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.quote-detail .file-upload-zone .col-md-4:nth-child(3n) {
  padding-left: 5px !important;
}

.quote-detail .file-item div:nth-child(1),
.quote-detail .file-item div:nth-child(3) {
  padding-left: 0 !important;
}

.quote-detail .file-item div:nth-child(2) {
  padding: 0 5px !important;
}

.quote-detail .item-name {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.quote-detail .preview-doc {
  cursor: pointer;
}

.quote-detail .box-search {
  text-align: right;
  margin-top: 15px;
}

.quote-detail .text-search {
  width: 364px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.quote-detail .btn-create {
  width: 116px;
  height: 32px;
  border: solid 1px #c1c7cd;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.quote-detail .btn-create-text {
  width: 68px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.import-file{
  width: 170px;
  height: 32px;
  border-radius: 4px;
  color: black;
  border: solid 1px #c1c7cd;
}
.background-color-import{
  background-color: #007ad9;
}
.text-import{
  color: white;
}

.mt-25{
  margin-top: 25px;
}
/* End */

.quote-detail ul.slds-path__nav{
  display: flex;
  align-items: flex-start;
  /* overflow: hidden; */
  list-style: none;
  border: 0;
  padding-bottom: 20px;
}
.quote-detail ul.slds-path__nav li a:hover, 
.quote-detail ul.slds-path__nav li.active a
{
  background: unset;
  background-color: unset;
  border: 0;
}
.quote-detail .slds-path__item {
  position: relative;
  flex: 1;
  margin-left: .375rem;
  margin-right: .4375rem;
  min-width: 5rem;
  text-align: center;
}
.quote-detail .slds-path__item:first-child {
  margin-left: 0;
  border-top-left-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-left-radius: var(--lwc-heightSalesPath,2rem);
  padding-left: .625rem;
}
.quote-detail .slds-path__item:last-child {
  margin-right: 0;
  border-top-right-radius: var(--lwc-heightSalesPath,2rem);
  border-bottom-right-radius: var(--lwc-heightSalesPath,2rem);
  padding-right: .625rem;
}
.quote-detail .slds-path__item:first-child:before, 
.quote-detail .slds-path__item:first-child:after 
{
  left: 1.525rem;
}
.quote-detail .slds-path__item:last-child:before, 
.quote-detail .slds-path__item:last-child:after {
  right: .625rem;
}

.quote-detail .slds-path__title, 
.quote-detail .slds-path__stage {
  display: block;
  transition: transform .2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.quote-detail .slds-path__stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-180deg);
}

.quote-detail .slds-path__nav .slds-is-complete,
.quote-detail .slds-path__nav .slds-is-complete:before,
.quote-detail .slds-path__nav .slds-is-complete:after
{
  background: var(--lwc-colorBackgroundPathComplete,rgb(75, 202, 129));
}
.quote-detail .slds-path__nav .slds-is-complete .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(0deg);
}
.quote-detail .slds-path__nav .slds-is-complete .slds-path__title {
  transform: rotateX(180deg);
}
.quote-detail .slds-path__nav .slds-is-complete .slds-path__link,
::ng-deep .quote-detail .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown,
::ng-deep .quote-detail .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep.quote-detail .slds-path__nav .slds-is-complete p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}
.quote-detail .slds-path__nav .slds-is-complete:hover .slds-path__stage {
  transform: translate(-50%, -50%) rotateX(-180deg);
}
.quote-detail .slds-path__nav .slds-is-complete:hover .slds-path__title {
  transform: rotateX(0deg);
}
.quote-detail .slds-path__nav .slds-is-complete:hover,
.quote-detail .slds-path__nav .slds-is-complete:hover:before,
.quote-detail .slds-path__nav .slds-is-complete:hover:after
{
  background: var(--lwc-colorBackgroundPathCompleteHover,rgb(4, 132, 75));
}

.quote-detail .slds-path__nav .slds-is-incomplete:before,
.quote-detail .slds-path__nav .slds-is-incomplete:after
{
  background: var(--lwc-colorBackgroundPathIncomplete,rgb(236, 235, 234));
}
.quote-detail .slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:before,
.quote-detail .slds-path__nav .slds-is-incomplete:not(.slds-is-current):hover:after
{
  background: var(--lwc-colorBackgroundPathIncompleteHover,rgb(221, 219, 218));
}


.quote-detail .slds-path__nav .slds-is-current {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
}
.quote-detail .slds-path__nav .slds-is-current:before, 
.quote-detail .slds-path__nav .slds-is-current:after {
  background-color: var(--lwc-colorBackgroundPathCurrent,rgb(255, 255, 255));
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  background-repeat: no-repeat;
  background-size: .125rem 100%,.125rem 100%,100% .125rem;
}
.quote-detail .slds-path__nav .slds-is-current:before {
  background-position: top right,top left,top left;
}
.quote-detail .slds-path__nav .slds-is-current:after {
  background-position: top right,top left,bottom left;
}
.quote-detail .slds-path__nav .slds-is-current:hover:before, 
.quote-detail .slds-path__nav .slds-is-current:hover:after {
  background-image: linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(90deg, var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem),linear-gradient(var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)), var(--lwc-colorBorderPathCurrentHover,rgb(0, 57, 107)) 0.125rem, transparent 0.125rem);
}
.quote-detail .slds-path__nav .slds-is-current:hover a, 
.quote-detail .slds-path__nav .slds-is-current:hover a{
  color: #00396b;
}
.quote-detail .slds-path__nav .slds-is-current:first-child {
  border: 2px solid var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178));
  border-right: 0;
}
.quote-detail .slds-path__nav .slds-is-current:first-child:before {
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  top: -.125rem;
  left: 1.125rem;
}
.quote-detail .slds-path__nav .slds-is-current:first-child:after {
  left: 1.125rem;
  background-color: transparent;
  background-image: linear-gradient( 90deg, var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)), var(--lwc-colorBorderPathCurrent,rgb(0, 95, 178)) 0.125rem, transparent 0.125rem);
  bottom: -.125rem;
}
.quote-detail .slds-path__nav .slds-is-current:first-child a {
  height: 2.35rem;
}

::ng-deep .quote-detail .slds-path__item p-dropdown .ui-dropdown,
::ng-deep .quote-detail .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .quote-detail .slds-path__item p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  background: unset;
  border: 0;
  color: #121619;
}
.quote-detail .slds-path__nav .slds-is-incomplete.slds-is-current:not(.active) .slds-path__title,
::ng-deep .quote-detail .slds-path__item.slds-is-current p-dropdown .ui-dropdown,
::ng-deep .quote-detail .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .quote-detail .slds-path__item.slds-is-current  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #005fb2;
}
::ng-deep .quote-detail .slds-is-current.active p-dropdown .ui-dropdown,
::ng-deep .quote-detail .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .quote-detail .slds-is-current.active  p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: #ffffff;
}
::ng-deep .quote-detail .slds-path__item p-dropdown .ui-dropdown.ui-state-focus {
  outline: 0;
  box-shadow: unset;
  border: 0;
}

.quote-detail .slds-path__nav .slds-is-current.active:first-child,
.quote-detail .slds-path__nav .slds-is-complete.active,
.quote-detail .slds-path__nav .slds-path__item.active:before,
.quote-detail .slds-path__nav .slds-path__item.active:after
{
  background: var(--lwc-colorBackgroundPathActive,rgb(0, 95, 178));
}
.quote-detail .slds-path__nav .slds-path__item.active .slds-path__link,
::ng-deep .quote-detail .slds-path__item.active p-dropdown .ui-dropdown,
::ng-deep .quote-detail .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-label,
::ng-deep .quote-detail .slds-path__item.active p-dropdown .ui-dropdown .ui-dropdown-trigger
{
  color: var(--lwc-colorTextInverse,rgb(255, 255, 255));
}
.quote-detail .slds-path__nav .slds-is-current.active:first-child:hover,
.quote-detail .slds-path__nav .slds-is-complete.active:hover,
.quote-detail .slds-path__nav .slds-path__item.active:hover:before,
.quote-detail .slds-path__nav .slds-path__item.active:hover:after
{
  background: var(--lwc-colorBackgroundPathActiveHover,rgb(0, 57, 107));
} 
.quote-detail .slds-is-complete.active .slds-path__stage {
  display: none;
}
.quote-detail .slds-path__nav .slds-is-complete.active .slds-path__title,
.quote-detail .slds-path__nav .slds-is-complete.active:hover .slds-path__title 
{
  transform: unset;
}

.quote-detail .slds-path__item:before {
  top: 0;
  height: 1.3rem;
  transform: skew(30deg) translate3d(0, 0, 0);
}
.quote-detail .slds-path__item:before, 
.quote-detail .slds-path__item:after 
{
  content: '';
  position: absolute;
  left: -.25rem;
  right: -.3125rem;
  cursor: pointer;
}
.quote-detail .slds-path__link, 
.quote-detail .slds-path__item p-dropdown 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  padding: var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXxSmall,0.25rem) var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingXSmall,0.5rem);
  text-decoration: none;
  z-index: 5;
  cursor: pointer;
  color: #121619;
}
.quote-detail .slds-path__item p-dropdown {
  z-index: 100 !important;
}
.quote-detail .slds-path__item:after {
  bottom: 0;
  height: 1.3rem;
  transform: skew(-30deg) translate3d(0, 0, 0);
}

/* iphone 6/7/8 */
@media only screen and (max-width:375px){
  .quote-detail .fixed4{
    position: relative;
  }
  .quote-detail .button-group .cancel {
    width: 129px;
  }
  .quote-detail .button-group .save-and-new{
    width: 129px;
  }
  .quote-detail .save{
    width: 128px;
  }
  ::ng-deep p-button.ng-star-inserted{
    width: 100%;
  }
  ::ng-deep .ui-dialog{
    width: 90% !important;
  }
  input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget{
    max-width: 100%;
  }

  .quote-detail .button-group .cancel {
    width: auto;
    min-width: auto
  }

  .quote-detail .button-group .cancel {
    min-width: auto;
    width: auto;
    margin-bottom: 5px;
  }

  .quote-detail .button-group .save-and-new {
    width: auto;
  }
  .quote-detail .add-new {
    padding-left: 15px;
    padding-right: 15px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
  }
  .quote-detail .add-new-text {
    /* width: 25px; */
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
    font-size: 12px;
    padding: 0.571em;
  }
}
/* iphone 6/7/8 plus*/
@media only screen and (min-width:376px) and (max-width: 415px){
  .quote-detail .fixed4{
    position: relative;
  }
  /* .quote-detail .button-group .cancel {
    width: 144px;
  } */
  .quote-detail .save{
    width: 144px;
  }
  .quote-detail .button-group .save-and-new{
    width: 144px;
  }
  ::ng-deep p-button.ng-star-inserted{
    width: 100%;
  }
  ::ng-deep .ui-dialog{
    width: 90% !important;
  }
  input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget{
    max-width: 100%;
  }

  .quote-detail .button-group .cancel {
    width: auto;
    min-width: auto
  }

  .quote-detail .button-group .cancel {
    min-width: auto;
    width: auto;
    margin-bottom: 5px;
  }

  .quote-detail .button-group .save-and-new {
    width: auto;
  }
}
/*ipad*/
@media only screen and (max-width:768px) and (min-width: 416px){
  .quote-detail .fixed4{
    position: relative;
  }

  .quote-detail .button-group .save-and-new {
    width: auto;
  }
}

@media only screen and (max-width:1024px) and (min-width: 769px){
  .quote-detail .button-group .save-and-new {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  ::ng-deep .add-edit-product-dialog .group-button-footer {
    display: inline-block !important;
    width: 100%;
  }
  ::ng-deep .add-edit-product-dialog .group-button-footer>div:not(.btn-group) {
    text-align: left;
    margin-bottom: 15px;
  }
}
