<!-- <div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div> -->
<p-toast position="bottom-right"></p-toast>

<div class="de-nghi-xuat-kho-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Danh sách đề nghị xuất kho</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-12">
            <div class="box-header-group-btn">
              <!-- <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách"
                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div> -->
              <button type="button" class="btn-save" style="width:120px!important;" *ngIf="actionAdd">
                <span class="btn-save-text" (click)="save(0, 0)">Thêm mới NVL</span>
              </button>
              <button type="button" class="btn-save" style="width:120px!important;" *ngIf="actionAdd">
                <span class="btn-save-text" (click)="save(2, 1)">Thêm mới CCDC</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <span>Năm</span>
                  </div>
                  <div class="col-md-12">
                    <p-dropdown [options]="listYear" [(ngModel)]="selectedYear" placeholder="Chọn năm"
                      optionLabel="value" [style]="{'width': '100%'}" (keydown.enter)="$event.preventDefault()"
                      (onChange)="changeYear($event.value)">
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <span>Kỳ</span>
                  </div>
                  <div class="col-md-12">
                    <p-dropdown [options]="listMonth" [(ngModel)]="selectedMonth" placeholder="Chọn kỳ"
                      optionLabel="value" [style]="{'width': '100%'}" (keydown.enter)="$event.preventDefault()"
                      (onChange)="changeMonth($event.value)">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Đến ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="selectedDay" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
              (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}" [baseZIndex]="999"></p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Sản phẩm</span>
          </div>
          <div class="col-md-12">
            <input class="w100" type="text" placeholder="Mã sản phẩm hoặc Tên sản phẩm" [(ngModel)]="productNameCode"
              (keydown.enter)="$event.preventDefault()" pInputText />
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Nhóm hàng</span>
          </div>
          <div class="col-md-12">
            <p-dropdown [options]="listProductCategory" [virtualScroll]="true" itemSize="15" [filter]="true"
              [showClear]="true" [resetFilterOnHide]="true" [(ngModel)]="selectedProductCategory"
              placeholder="Chọn nhóm hàng" optionLabel="productCategoryCodeName" [style]="{'width': '100%'}"
              (keydown.enter)="$event.preventDefault()">
            </p-dropdown>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Kho hàng</span>
          </div>
          <div class="col-md-12">
            <p-dropdown [options]="listWareHouse" [virtualScroll]="true" itemSize="15" [filter]="true"
              [resetFilterOnHide]="true" [(ngModel)]="selectedWareHouse" placeholder="Chọn kho hàng"
              optionLabel="warehouseCodeName" [style]="{'width': '100%'}" (keydown.enter)="$event.preventDefault()">
            </p-dropdown>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10" style="text-align: right;">
            <button type="button" class="btn-search" (click)="findInstock(false)">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p-table #myTable [columns]="cols" [value]="data" [paginator]="true" [rows]="rows"
        [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'text-align': 'center', 'width': col.width}"
              [pSortableColumn]="col.field">
              <span>
                {{col.header}}
              </span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign, 'width': col.width}"
              [ngSwitch]="col.field">
              <!-- <span class="ui-column-title">{{rowIndex + 1}}</span> -->

              <span *ngSwitchCase="'STT'">{{rowIndex + 1}}</span>

              <span *ngSwitchCase="'inventoryDeliveryVoucherCode'" class="link"
                (click)="masoDetail(rowData)">{{rowData[col.field]}}</span>

              <span *ngSwitchCase="'receiver'">{{rowData[col.field]}}</span>

              <span *ngSwitchCase="'employeeDepartment'" >{{rowData[col.field]}}</span>

              <span *ngSwitchCase="'createdDate'">{{rowData[col.field] | date:'dd/MM/yyyy'}}</span>

              <span *ngSwitchCase="'warehouseReceivingText'">{{rowData[col.field]}}</span>

              <span *ngSwitchCase="'inventoryDeliveryVoucherReasonText'">{{rowData[col.field]}}</span>

              <span *ngSwitchCase="'nameStatus'">
                {{rowData.nameStatus}}
              </span>
              <span *ngSwitchCase="'ThaoTac'">
                <button *ngIf="rowData.nameStatus == 'Mới' && actionDelete" style="width: 100%; color: red;" type="button" pButton
                  icon="pi pi-trash" class="ui-button-secondary" (click)="xoaData(rowData)"></button>
              </span>


              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
            </td>

            <!-- <td *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign, 'width': col.width}" [ngSwitch]="col.field">
              <span class="ui-column-title">{{col.header}}</span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
      <!-- <div>
        <div class="box-no-data">
          <img src="/assets/icons/components/box.svg" class="box-icon">
          <div>
            <span>Hiện tại không có dữ liệu</span>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <div class="col-md-12">
      <div>
        <input type="text" [(ngModel)]="message">
        <button (click)="send()">Send</button>
      </div>
      <div *ngFor="let item of notifications">{{item.content}}</div>
    </div> -->

    <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <span>Năm</span>
                  </div>
                  <div class="col-md-12">
                    <p-dropdown [options]="listYear" [(ngModel)]="selectedYear" placeholder="Chọn năm"
                      optionLabel="value" [style]="{'width': '100%'}" (keydown.enter)="$event.preventDefault()"
                      (onChange)="changeYear($event.value)">
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <span>Kỳ</span>
                  </div>
                  <div class="col-md-12">
                    <p-dropdown [options]="listMonth" [(ngModel)]="selectedMonth" placeholder="Chọn kỳ"
                      optionLabel="value" [style]="{'width': '100%'}" (keydown.enter)="$event.preventDefault()"
                      (onChange)="changeMonth($event.value)">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Đến ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="selectedDay" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
              (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}" [baseZIndex]="999"></p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Sản phẩm</span>
          </div>
          <div class="col-md-12">
            <input class="w100" type="text" placeholder="Mã sản phẩm hoặc Tên sản phẩm" [(ngModel)]="productNameCode"
              (keydown.enter)="$event.preventDefault()" pInputText />
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Nhóm hàng</span>
          </div>
          <div class="col-md-12">
            <p-dropdown [options]="listProductCategory" [virtualScroll]="true" itemSize="15" [filter]="true"
              [showClear]="true" [resetFilterOnHide]="true" [(ngModel)]="selectedProductCategory"
              placeholder="Chọn nhóm hàng" optionLabel="productCategoryCodeName" [style]="{'width': '100%'}"
              (keydown.enter)="$event.preventDefault()">
            </p-dropdown>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10">
            <span>Kho hàng</span>
          </div>
          <div class="col-md-12">
            <p-dropdown [options]="listWareHouse" [virtualScroll]="true" itemSize="15" [filter]="true"
              [resetFilterOnHide]="true" [(ngModel)]="selectedWareHouse" placeholder="Chọn kho hàng"
              optionLabel="warehouseCodeName" [style]="{'width': '100%'}" (keydown.enter)="$event.preventDefault()">
            </p-dropdown>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-10" style="text-align: right;">
            <button type="button" class="btn-search" (click)="findInstock(false)">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
