 .create-customer {
     font-family: "Inter UI";
 }

.create-customer .w100 {
  width: 100% !important;
}

::ng-deep .create-customer .ui-autocomplete {
  width: 100% !important;
}

 .create-customer .body-wrapper {
     background-color: #fff;
 }

 .create-customer .top-buffer {
     padding-top: 1.2rem;
 }

 .create-customer .bottom-buffer {
    padding-bottom: 0.2rem;
 }
 .create-customer .select-box{
    margin-top: -10px;
    margin-bottom: -10px;
 }
 .create-customer .link {
     cursor: pointer;
 }

 .create-customer .error-message-span {
     color: red !important;
 }

 .create-customer .buffer-bottom-label {
     margin-bottom: 4px;
 }

 ::ng-deep .create-customer .customer-dropdown>.ui-dropdown {
     width: 100%;
 }

 ::ng-deep .create-customer .ui-inputtext {
     width: 100%;
 }

 ::ng-deep .create-customer .ui-calendar {
     width: 100%;
 }

 ::ng-deep .create-customer .ui-dropdown-label {
     font-size: 13px;
     font-family: "Inter UI";
 }

 .create-customer .header-line {
     height: 1px;
     background-color: #dde1e6;
     margin-left: 5px;
     margin-right: 0px;
 }

 .create-customer .header {
     display: inline-block;
     width: 250px;
     height: 26px;
     font-family: "Inter UI";
     font-size: 22px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
     /* line-height: 0.91; */
     letter-spacing: normal;
     text-align: left;
     color: #121619;
     margin-left: 5px;
     padding-left: 10px;
     /* line-height: 50px; */
 }

 .create-customer .header-icon {
     font-size: 22px;
     color: #007AFF;
 }

 .create-customer .cancel-cus-btn {
     width: 72px;
     height: 30px;
     line-height: 30px;
     border-radius: 4px;
     border: solid 1px #c1c7cd;
     background-color: #ffffff;
 }

 .create-customer .cancel-cus-btn .cancel-cus-btn-text {
     width: 24px;
     height: 16px;
     font-family: "Inter UI";
     font-size: 13px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.15;
     letter-spacing: normal;
     text-align: center;
     color: #121619;
 }

 .create-customer .save-create-cus-btn {
     width: 140px;
     height: 30px;
     line-height: 30px;
     border-radius: 4px;
     border: solid 1px #0f62fe;
     background-color: #ffffff;
 }

 .create-customer .save-create-cus-btn .save-create-cus-btn-text {
     width: 92px;
     height: 16px;
     font-family: "Inter UI";
     font-size: 13px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.15;
     letter-spacing: normal;
     text-align: center;
     color: #0f62fe;
 }

 .create-customer .save-cus-btn {
     width: 70px;
     height: 30px;
     line-height: 30px;
     border-radius: 4px;
     box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
     background-color: #0f62fe;
 }

 .create-customer .save-cus-btn .save-cus-btn-text {
     width: 22px;
     height: 16px;
     font-family: "Inter UI";
     font-size: 13px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.46;
     letter-spacing: normal;
     text-align: center;
     color: #ffffff;
 }

 .create-customer .cus-infor-header-icon,
 .create-customer .cus-contact-header-icon {
     font-size: 16px;
 }

 .create-customer .cus-infor-header,
 .create-customer .cus-contact-header {
     width: 170px;
     height: 19px;
     font-family: "Inter UI";
     font-size: 16px;
     font-weight: bold;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.25;
     letter-spacing: normal;
     text-align: left;
     color: #121619;
 }

 .create-customer .required {
     color: red;
 }

 .create-customer .address-bottom-buffer {
     padding-bottom: 22px;
 }

 .create-customer .add-contact-text {
     color: #0f62fe;
 }
 /*Begin: Customize Accordion */

 ::ng-deep .create-customer .ui-accordion .ui-accordion-header a {
     border: 1px solid #ffffff !important;
     background-color: #ffffff !important;
     font-size: 16px;
 }

 ::ng-deep .create-customer .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
     background-color: #ffffff !important;
     border: 1px solid #ffffff !important;
     color: #121619 !important;
 }

 ::ng-deep .create-customer .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
     color: #121619 !important;
 }

 ::ng-deep .create-customer .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
     color: #121619 !important;
 }

 ::ng-deep .create-customer .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
     color: #121619 !important;
 }

 ::ng-deep .create-customer .ui-accordion .ui-accordion-content {
     border: 1px solid #ffffff !important;
     background-color: #ffffff !important;
 }
 /*End: Customize Accordion */

 .create-customer .fixed {
     position: fixed;
     top: 0px;
     z-index: 999;
     background: #eee;
     padding: 5px 0px;
     border: 1px solid #cccccc;
 }
 .no-marginleft{
     margin-left: -15px;
 }


 .create-customer .header-top{
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #cccccc;
    /* padding-top: 5px; */
    margin-left: -1px;
    padding: 15px;
    /* padding-left: 15px;
    padding-right: 15px;
    height: 60px; */
 }
 .content-wrapper{
     height: 1000px !important;
 }

 .ios-warning {
    position: relative;
    top: 5px;
    width: 16.2px;
    height: 15px;
    object-fit: contain;
    cursor: pointer;
  }
  .ios-warning-active {
    position: relative;
    top: 5px;
    width: 16.2px;
    height: 15px;
    object-fit: contain;
    cursor: pointer;
  }
 .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}
.notification {
    position: absolute;
    top: 38px;
    width: 307px;
    box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
    border: solid 1px #dde1e6;
    background-color: #ffffff;
    z-index: 1;
  }

  /*Begin: Tạo góc nhọn trên hộp thoại */
.notification::before {
    position: absolute;
    bottom: 100%;
    left: 16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid #ffffff;
    border-width: 8px;
    border-bottom-color: #d1d5da;
  }

.notification::after {
    position: absolute;
    bottom: 100%;
    left: 16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid transparent;
    margin-bottom: -1px;
    border-width: 8px;
    border-bottom-color: #ffffff;
  }
  /*End: Tạo góc nhọn trên hộp thoại */

.notification .notifi-row {
    width: 100%;
    border-bottom: 1px solid #dde1e6;
    padding: 10px 0px;
    cursor: pointer;
    text-align: left;
  }

.notification .notifi-row .ios-alert {
    position: absolute;
    left: 15px;
    width: 15.9px;
    height: 15.9px;
    object-fit: contain;
  }

.notification .notifi-row .notifi-text {
    position: relative;
    left: 50px;
    width: 100%;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ff3b30;
  }

.notification .notifi-row-footer {
    width: 100%;
    padding: 10px 10px;
    text-align: right;
  }

 .notification .notifi-row-footer .notifi-text-footer {
    width: 100%;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #121619;
  }

  @media only screen and (max-width: 375px) {
    .create-customer .header-icon {
        margin-bottom: 2px;
    }
    
    .create-customer .more-customers {
        margin-bottom: 10px;
    }

    .create-customer .save-create-cus-btn {
        width: 110px;
    }

    .create-customer .add-contact {
        float: left;
    }

    .create-customer .ui-button {
        margin-top: 10px;
    }

    .create-customer .buffer-bottom-label {
        margin: 7px 0px;
    }

    .create-customer .ios-warning {
        margin-top: 10px;
    }

    .create-customer .domestic {
        margin-top: 5px;
    }

    .create-customer .range {
        margin: 10px 0px;
    }

    .create-customer .box-waring {
        margin-left: 11px;
        margin-top: 11px;
    }

    .create-customer span.ui-column-title {
        width: 110px;
    }
  }
  
  @media only screen and (max-width: 414px) and (min-width: 376px) {
    .create-customer .header-icon {
        margin-bottom: 2px;
    }
    
    .create-customer .more-customers {
        margin-bottom: 10px;
    }

    .create-customer .save-create-cus-btn {
        width: 110px;
    }

    .create-customer .add-contact {
        float: left;
    }

    .create-customer .ui-button {
        margin-top: 10px;
    }

    .create-customer .buffer-bottom-label {
        margin: 7px 0px;
    }

    .create-customer .ios-warning {
        margin-top: 10px;
    }

    .create-customer .domestic {
        margin-top: 5px;
    }

    .create-customer .range {
        margin: 10px 0px;
    }

    .create-customer .box-waring {
        margin-left: 11px;
        margin-top: 11px;
    }

    .create-customer span.ui-column-title {
        width: 110px;
    }
  }
  
  @media only screen and (max-width: 767px){
    .create-customer #parent>div {
        margin: 0 -15px;
        padding: 0;
    }
    ::ng-deep .create-customer .ui-accordion .ui-accordion-header a,
    ::ng-deep .create-customer .ui-accordion .ui-accordion-content {
        padding: 0.571em 0;
    }
    ::ng-deep .create-customer .ui-accordion .ui-accordion-content>div>div.no-marginleft {
        margin-left: -15px !important;
    }
  }
  
  @media only screen and (max-width: 1423px) and (min-width: 768px) {

  }
  
