.procedure-request-list {
	width: 100%;
	box-shadow: 0 1px 2px 0 rgba(18, 22, 25, 0.08);
	border: solid 1px #c1c7cd;
	background-color: #ffffff;
  }

  .procedure-request-list .box-header {
	width: 100%;
	background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
  }

  .procedure-request-list .btn-export{
	float: right;
	width: 98px;
	height: 31px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
	background-color: white;
  }


.procedure-request-list .btn-export-excel {
  min-width: 122px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

.procedure-request-list .btn-export-pdf {
  min-width: 122px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

  .procedure-request-list .btn-create {
	float: right;
	width: 98px;
	height: 31px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
	background-color: #0f62fe;
  }

  .procedure-request-list .btn-export-text {
	width: 50px;
	height: 16px;
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: none;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: center;
	color: black;
  }

  .procedure-request-list .btn-create-text {
	width: 50px;
	height: 16px;
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
  }

  .procedure-request-list .box-header-group {
	margin-top: 10px;
  }

  .procedure-request-list .box-header-icon {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #0f62fe;
	text-align: center;
  }

  .procedure-request-list .Money-2 {
	width: 20.4px;
	height: 18.5px;
	object-fit: contain;
	margin-top: 10px;
  }

  .procedure-request-list .box-header-title {
	width: auto;
	height: 24px;
	font-family: 'Inter UI';
	font-size: 20px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #121619;
  }

  .procedure-request-list .noun-product {
	width: 20.4px;
	height: 18.5px;
	object-fit: contain;
	margin-top: 10px;
  }

  .procedure-request-list .box-header-subtitle {
	font-family: 'Inter UI';
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #4d5358;
  }

  .procedure-request-list .box-header-group-btn {
	text-align: right;
	padding-top: 5px;
  }

  .procedure-request-list .btn-refresh {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	border: solid 1px #c1c7cd;
	background-color: #ffffff;
  }

  .procedure-request-list .ios-refresh {
	width: 12px;
	height: 14px;
	object-fit: contain;
  }

  .procedure-request-list .btn-filter {
	min-width: 104px;
	height: 32px;
	border-radius: 4px;
	border: solid 1px #007aff;
	background-color: #007aff;
	margin-left: 5px;
  }

  .procedure-request-list .ios-funnel {
	width: 12.3px;
	height: 11.3px;
	object-fit: contain;
	margin-right: 5px;
  }

  .procedure-request-list .btn-filter-text {
	width: 36px;
	height: 13px;
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.46;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
  }

  .procedure-request-list .iput-text {
	width: 248px;
	height: 32px;
	border-radius: 4px;
	border: solid 1px #c1c7cd;
	background-color: #f2f4f8;
	padding-left: 5px;
	margin-left: 5px;
	
  }

  .procedure-request-list .box-filter {
	border: solid 1px #c1c7cd;
	background-color: #f2f4f8;
	padding: 10px 0px;
  }

  .procedure-request-list .bank-payments-code-text {
	width: 100%;
	height: 32px;
	font-family: 'Inter UI';
	border-radius: 4px;
	border: solid 1px #c1c7cd;
	background-color: #ffffff;
	padding-left: 5px;
  }

  .procedure-request-list .mt-5 {
	margin-top: 5px;
  }

  .procedure-request-list .btn-search {
	width: 72px;
	height: 32px;
	border: solid 1px #cccccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
	background-color: #0f62fe;
  }

  .procedure-request-list .btn-search:focus {
	border-color: #007ad9;
	outline: 0 none;
  }

  .procedure-request-list .btn-search-text {
	width: 36px;
	height: 13px;
	font-family: 'Inter UI';
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.46;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
  }

  /* Config rows Per Page Options */
  ::ng-deep .procedure-request-list .ui-inputtext {
	padding: 0.3em;
  }

  .procedure-request-list .link {
	font-family: 'Inter UI';
	color: #007ad9;
	cursor: pointer;
	font-size: 13px;
  }

  .procedure-request-list .no-data {
	height: 435px;
	border: solid 1px #d7dbe0;
	background-color: #f2f4f8;
	text-align: center;
  }

  .procedure-request-list .box-no-data {
	position: relative;
	top: 25%;
  }

  .procedure-request-list .box-icon {
	width: 57.1px;
	height: 58px;
	object-fit: contain;
  }

  ::ng-deep .procedure-request-list .ui-datepicker {
	top: 28px !important;
  }

  /* ::ng-deep .procedure-request-list .ui-multiselect .ui-multiselect-panel {
	display: contents;
  } */

  /* Máy để bàn */
  @media only screen and (min-width: 1025px) and (max-width: 1423px)  {

  }

  /* Ipad Pro */
  @media only screen and (min-width: 769px) and (max-width: 1024px)  {
	.procedure-request-list .box-header-icon {
	  width: 40px;
	  height: 40px;
	}

	.procedure-request-list .Money-2 {
	  width: 15.4px;
	  height: 11.5px;
	  margin-top: 7px;
	}

	.procedure-request-list .box-header-group-btn .iput-text {
	  margin-top: 5px;
	}

	.procedure-request-list .box-header-group .report{
		margin-left: 40px;
		margin-top: -25px;
	}

	.procedure-request-list .box-header-group .box-header-title {
		font-size: 16px;
		margin-left: 7px;
		margin-top: -13px;
	}

	.procedure-request-list .box-header-group .box-header-subtitle {
		margin-left: 7px;
	}
  }

  /* Ipad */
  @media only screen and (min-width: 375px) and (max-width: 768px) {
	.procedure-request-list .btn-create {
	  margin-top: 5px;
	}

	.procedure-request-list .box-header-group-btn .iput-text {
		margin-top: 5px;
	}

	.procedure-request-list .report {
		margin-left: -30px;
		margin-top: 2px;
		margin-bottom: 10px;
	}
  }

  /* Iphone 6/7/8 Plus */
  @media only screen and (min-width: 376px) and (max-width: 414px) {
	.procedure-request-list .iput-text {
	  margin-top: 5px;
	}
	.procedure-request-list[_ngcontent-ng-cli-universal-c7] .box-header-subtitle[_ngcontent-ng-cli-universal-c7]{
		height: auto;
	}

	.procedure-request-list .box-header-group .box-header-title {
		font-size: 15px;
		margin-left: 20px;
	}

	.procedure-request-list .box-header-group .box-header-subtitle {
		font-size: 13px;
		margin-left: 19px;
	}


	.procedure-request-list span.ui-column-title {
		width: 150px;
	}
  }

  /* Iphone 6/7/8/X */
  @media only screen and (max-width: 375px) {
	.procedure-request-list .iput-text {
	  margin-top: 5px;
	}
	.procedure-request-list[_ngcontent-ng-cli-universal-c7] .box-header-subtitle[_ngcontent-ng-cli-universal-c7]{
		height: auto;
	}

	.procedure-request-list .box-header-group .box-header-title {
		font-size: 16px;
		margin-left: 29px;
	}

	.procedure-request-list .box-header-group .box-header-subtitle {
		font-size: 13px;
		margin-top: 15px;
		margin-left: 29px;
	}

	.procedure-request-list span.ui-column-title {
		width: 135px;
	}
  }
