<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<p-toast position="bottom-right"></p-toast>

<div class="cost-create">
  <div class="row no-margin">
    <form [formGroup]="costForm" style="height: 100%;">
      <div class="col-md-12"  >
        <div class="row cost-create-content" >
          <div class="row no-margin button-group" [ngClass]="{'fixed': fixed}"[ngStyle]="{'width':withFiexd}"  >
            <div class="col-md-12">
              <span *ngIf="!isInvalidForm">
                <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
              </span>
              <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
              </div>
              <div class="notification" #notifi *ngIf="isOpenNotifiError">
                <div *ngIf="(costCodeControl.invalid && (costCodeControl.dirty || costCodeControl.touched))"
                  class="notifi-row" (click)="scroll(boxCostCode)">
                  <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                  <span *ngIf="costCodeControl.hasError('required')" class="notifi-text">Chưa điền mã phí</span>
                  <span *ngIf="costCodeControl?.errors?.forbiddenSpaceText" class="notifi-text">Mã phí không được để
                    trắng</span>
                </div>
                <div *ngIf="(costNameControl.invalid && (costNameControl.dirty || costNameControl.touched))"
                  class="notifi-row" (click)="scroll(boxCostName)">
                  <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                  <span *ngIf="costNameControl.hasError('required')" class="notifi-text">Chưa điền tên phí</span>
                  <span *ngIf="costNameControl?.errors?.forbiddenSpaceText" class="notifi-text">Tên phí không được để
                    trắng</span>
                </div>
              </div>
                <div  style="float: right;"  >
                  <button class="btn-cancel" type="button" (click)="cancel()"><span
                      class="text-cancel">Hủy</span></button>
                  <button #save class="btn-create" *ngIf="actionAdd && !isUpdate" type="button" (click)="createCost()"
                    [disabled]="awaitResult"><span class="text-save">Lưu</span></button>
                  <button #save class="btn-create" *ngIf="actionAdd && isUpdate" type="button" (click)="updateCost()"
                    [disabled]="awaitResult"><span class="text-save">Cập nhật</span></button>
                </div>
              
              <div style="clear: both;"></div>
            </div>
          </div>

          <div class="row no-margin" style="background-color: #ffffff; padding: 10px 0px"  id="parent">
            <div class="col-md-8" style="margin-top: 20px;">
              <p-table #dt [columns]="selectedColumns" [value]="listCost" [responsive]="true" [resizableColumns]="true"
                selectionMode="single" (onRowSelect)="reShowNote($event)" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,30,100]" class="table-border">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" class="search" pInputText size="50" placeholder="Nhập từ khóa tìm kiếm"
                      (input)="dt.filterGlobal($event.target.value.trim(), 'contains')">
                  </div>
                  <div style="text-align:left">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}"
                      optionLabel="header" selectedItemsLabel="{0} cột được chọn" [style]="{minWidth: '200px'}"
                      defaultLabel="Chọn cột"></p-multiSelect>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'text-align': col.textAlign}">
                      {{col.header}}
                    </th>
                    <th style="width:4em"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-resizable-column"
                      [ngStyle]="{'text-align': col.textAlign}">
                      <!-- <span *ngSwitchCase="'createdDate'">{{rowData[col.field] | date: 'dd/MM/yyyy'}}</span> -->
                      <span class="ui-column-title">{{col.header}}</span>
                      <span>{{rowData[col.field]}}</span>
                    </td>
                    <td>
                      <!-- <span class="ui-column-title">Thao tác</span> -->
                      <button *ngIf="actionDelete" pButton icon="pi pi-trash" class="ui-button-danger" (click)="delCostProduct(rowData)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col-md-4 no-padding">
              <div class="row no-margin">
                <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right"
                  collapseIcon="pi pi-fw pi-chevron-circle-down">
                  <p-accordionTab header="Thêm chi phí" [selected]="true">
                    <div class="col-md-12">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Mã phí<span class="require">*</span></label>
                        </div>
                        <div #boxCostCode class="col-md-12 no-padding">
                          <!-- <input type="text" pInputText pKeyFilter="alphanum" placeholder="Alphanumberic"> -->
                          <input class="w100" type="text" placeholder="Nhập mã phí" pKeyFilter="alphanum" pInputText 
                            formControlName="costCodeControl" maxlength="50" (keydown.enter)="$event.preventDefault()"
                            [ngClass]="(costCodeControl.invalid  && (costCodeControl.dirty ||  costCodeControl.touched)) ? 'error-border': ''">
                        </div>
                      </div>
                      <div class="col-md-12 no-padding" [hidden]="costCodeControl.valid || costCodeControl.untouched">
                        <span *ngIf="costCodeControl.hasError('required')" class="error-message-span">Chưa điền mã
                          phí</span>
                        <span *ngIf="costCodeControl?.errors?.forbiddenSpaceText" class="error-message-span">Mã phí
                          không được để trắng</span>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Tên phí<span class="require">*</span></label>
                        </div>
                        <div #boxCostName class="col-md-12 no-padding">
                          <input class="w100 input-text" placeholder="Nhập tên phí" type="text" pInputText
                            formControlName="costNameControl"
                            [ngClass]="(costNameControl.invalid  && (costNameControl.dirty ||  costNameControl.touched)) ? 'error-border': ''"
                            (keydown.enter)="$event.preventDefault()">
                        </div>
                      </div>
                      <div class="col-md-12 no-padding" [hidden]="costNameControl.valid || costNameControl.untouched">
                        <span *ngIf="costNameControl.hasError('required')" class="error-message-span">Chưa điền tên
                          phí</span>
                        <span *ngIf="costNameControl?.errors?.forbiddenSpaceText" class="error-message-span">Tên phí
                          không được để trắng</span>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Số lượng tối thiểu<span class="require">*</span></label>
                        </div>
                        <div #boxMinQuantity class="col-md-12 no-padding">
                          <input class="w100 input-text" placeholder="Nhập số lượng tối thiểu" type="text" pInputText
                            formControlName="MinimumQuantityControl"
                            [ngClass]="(MinimumQuantityControl.invalid  && (MinimumQuantityControl.dirty ||  MinimumQuantityControl.touched)) ? 'error-border': ''"
                            [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 0}" (blur)="changMin()"
                            (keydown.enter)="$event.preventDefault()">
                        </div>
                      </div>
                      <div class="col-md-12 no-padding"
                        [hidden]="MinimumQuantityControl.valid || MinimumQuantityControl.untouched">
                        <span *ngIf="MinimumQuantityControl.hasError('required')" class="error-message-span">Chưa điền
                          số lượng tối thiểu</span>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Đơn giá<span class="require">*</span></label>
                        </div>
                        <div #boxPriceVND class="col-md-12 no-padding">
                          <input class="w100 input-text" placeholder="Nhập đơn giá" type="text" pInputText
                            formControlName="DonGiaControl"
                            [ngClass]="(DonGiaControl.invalid  && (DonGiaControl.dirty ||  DonGiaControl.touched)) ? 'error-border': ''"
                            [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                            (keydown.enter)="$event.preventDefault()">
                        </div>
                      </div>
                      <div class="col-md-12 no-padding" [hidden]="DonGiaControl.valid || DonGiaControl.untouched">
                        <span *ngIf="DonGiaControl.hasError('required')" class="error-message-span">Chưa điền giá bán
                          VND</span>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Ngày hiệu lực<span class="require">*</span></label>
                        </div>
                        <div class="col-md-12 no-padding" #boxEffectiveDate>
                          <p-calendar formControlName="NgayHieuLucControl" [yearNavigator]="true"
                            yearRange="{{minYear}}:{{currentYear}}"
                            [maxDate]="ngayHetHanControl.value"
                            [inputStyleClass]="(NgayHieuLucControl.invalid && (NgayHieuLucControl.dirty || NgayHieuLucControl.touched)) ? 'error-border' : ''"
                            dateFormat="dd/mm/yy" [style]="{'width':'100%'}" showButtonBar="true"
                            [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"
                            (keydown.enter)="$event.preventDefault()"></p-calendar>
                        </div>
                        <div class="col-md-12 no-padding"
                          [hidden]="NgayHieuLucControl.valid || NgayHieuLucControl.untouched">
                          <span *ngIf="NgayHieuLucControl.hasError('required')" class="error-message-span">Chưa chọn
                            ngày hiệu lực</span>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Ngày hết hạn</label>
                        </div>
                        <div class="col-md-12 no-padding" #boxEffectiveDate>
                          <p-calendar formControlName="ngayHetHanControl" [yearNavigator]="true"
                          [minDate]="NgayHieuLucControl.value"
                            [inputStyleClass]="(ngayHetHanControl.invalid && (ngayHetHanControl.dirty || ngayHetHanControl.touched)) ? 'error-border' : ''"
                            dateFormat="dd/mm/yy" [style]="{'width':'100%'}" showButtonBar="true"
                            [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"
                            (keydown.enter)="$event.preventDefault()"></p-calendar>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>
                            Bộ phận <a href="javascript:(0)" (click)="openOrgPopup()"> <u>(Xem sơ đồ tổ chức)</u></a>
                          </label>
                        </div>
                        <div class="col-md-12 no-padding">
                          <input class="w100" type="text" placeholder="Chọn bộ phận"
                            formControlName="costOrganizationControl" pInputText readonly
                            (keydown.enter)="$event.preventDefault()">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mt-10">
                      <div class="row no-margin">
                        <div class="col-md-12 no-padding">
                          <label>Trạng thái</label>
                        </div>
                        <div class="col-md-12 no-padding">
                          <p-dropdown [options]="listStatus" placeholder="Chọn trạng thái"
                            formControlName="costStatusControl" optionLabel="categoryName" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>