<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="layout-project">
  <app-top-header-project></app-top-header-project>

  <div class="wrapper" style="height: auto;">
    <!-- <main-header></main-header> -->
    <app-project-header></app-project-header>
    <!-- Menu Left -->
    <app-menu-left-project></app-menu-left-project>

    <!-- Content -->
    <div class="content-wrapper" style="height: auto; min-height: 100vh;">
      <section class="row content" style="min-height: inherit;">
        <div class="detail-project">
          <div class="row no-margin" id="parent">
            <div class="col-md-12 header" style="padding: 6px;">
              <div class="row">
                <div class="col-md-6 no-padding">
                  <div class="row no-margin">
                    <div class="col-md-12 header-title">
                      <div style="margin-left: 10px;">
                        <span class="customer-name">Chi tiết dự án</span>
                        <p-dropdown [options]="listProject" optionLabel="projectName" placeholder="Chọn dự án"
                          [filter]="true" [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="10"
                          [(ngModel)]="selectedProject" (onChange)="onChangeProject($event.value.projectId)"
                          (keydown.enter)="$event.preventDefault()">
                        </p-dropdown>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12" style="display: flex; justify-content: flex-end; margin-top: 5px;">
                      <span *ngIf="!isInvalidForm" style="margin-top: 1px; margin-right: 10px;">
                        <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                      </span>
                      <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()"
                        style="margin-top: 1px; margin-right: 10px;">
                        <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                      </div>
                      <div class="notification" #notifi *ngIf="isOpenNotifiError">
                        <div
                          *ngIf="(projectCodeControl.invalid && (projectCodeControl.dirty || projectCodeControl.touched))"
                          class="notifi-row" (click)="scroll(code)">
                          <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                          <span *ngIf="projectCodeControl.hasError('required')" class="notifi-text">Mã dự án không được
                            trống</span>
                          <span *ngIf="projectCodeControl.hasError('pattern')" class="notifi-text">Mã dự án sai định
                            dạng</span>
                        </div>

                        <div
                          *ngIf="(projectNameControl.invalid && (projectNameControl.dirty || projectNameControl.touched))"
                          class="notifi-row" (click)="scroll(name)">
                          <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                          <span *ngIf="projectNameControl.hasError('required')" class="notifi-text">Tên dự án không được
                            trống</span>
                        </div>

                        <div
                          *ngIf="(projectPriorityControl.invalid && (projectPriorityControl.dirty || projectPriorityControl.touched))"
                          class="notifi-row" (click)="scroll(priority)">
                          <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                          <span *ngIf="projectPriorityControl.hasError('required')" class="notifi-text">Chọn mức độ ưu
                            tiên</span>
                        </div>

                        <div
                          *ngIf="(projectStartTimeControl.invalid && (projectStartTimeControl.dirty || projectStartTimeControl.touched))"
                          class="notifi-row">
                          <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                          <span *ngIf="projectStartTimeControl.hasError('required')" class="notifi-text">Ngày bắt đầu
                            không được để trống</span>
                        </div>

                        <div
                          *ngIf="(projectEndTimeControl.invalid && (projectEndTimeControl.dirty || projectEndTimeControl.touched))"
                          class="notifi-row">
                          <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                          <span *ngIf="projectEndTimeControl.hasError('required')" class="notifi-text">Ngày kết thúc
                            không được để trống</span>
                        </div>

                        <div *ngIf="budgetRequied" class="notifi-row">
                          <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                          <span
                            *ngIf="projectBudgetVNDControl.value == '' && projectBudgetUSDControl.value == '' && projectBudgetNgayCongControl.value == ''"
                            class="notifi-text">
                            Phải chọn ít nhất một trong ba loại ngân sách dưới</span>
                        </div>
                      </div>
                      <button type="button" class="btn-remove">
                        <span (click)="goBackToList()" class="btn-remove-text">Thoát</span>
                      </button>
                      <button #save (click)="saveProject()" *ngIf="actionAdd && (role != 'SUBPM' && role != 'RESOURCE')"
                        type="button" class="btn-save">
                        <span class="btn-save-text">Lưu</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form [formGroup]="detailProjectForm">
            <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
              <div class="col-md-12 customer-infor">
                <div class="row">
                  <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right"
                    collapseIcon="pi pi-fw pi-chevron-circle-down">
                    <p-accordionTab header="Thông tin dự án" [selected]="true">
                      <div class="col-md-4">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Mã dự án</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <input formControlName="projectCodeControl" type="text" maxlength="10"
                              [ngClass]="(detailProjectForm.get('projectCodeControl').invalid && (detailProjectForm.get('projectCodeControl').dirty || detailProjectForm.get('projectCodeControl').touched)) ? 'error-border' : ''"
                              class="w100" pInputText />
                          </div>
                          <div class="col-md-12"
                            [hidden]="detailProjectForm.get('projectCodeControl').valid || detailProjectForm.get('projectCodeControl').untouched">
                            <span
                              *ngIf="detailProjectForm.get('projectCodeControl').hasError('required') || detailProjectForm.get('projectCodeControl').hasError('blankString') "
                              class="error-message-span">
                              Không được
                              để trống
                            </span>
                            <span *ngIf="detailProjectForm.get('projectCodeControl').hasError('duplicateCode')"
                              class="error-message-span">Mã nhà cung cấp đã tồn tại trong hệ thống</span>
                            <span *ngIf="detailProjectForm.get('projectCodeControl').hasError('pattern')"
                              class="error-message-span">
                              Mã dự án không cho phép chứa khoảng trắng và ký tự đặc biệt
                            </span>
                          </div>
                        </div>

                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Tên dự án</span><span class="required">*</span>
                          </div>
                          <div class="col-md-12">
                            <input formControlName="projectNameControl" type="text" maxlength="500"
                              [ngClass]="(detailProjectForm.get('projectNameControl').invalid && (detailProjectForm.get('projectNameControl').dirty || detailProjectForm.get('projectNameControl').touched)) ? 'error-border' : ''"
                              class="w100" pInputText placeholder="" />
                          </div>
                          <div class="col-md-12"
                            [hidden]="detailProjectForm.get('projectNameControl').valid || detailProjectForm.get('projectNameControl').untouched">
                            <span
                              *ngIf="detailProjectForm.get('projectNameControl').hasError('required') || detailProjectForm.get('projectNameControl').hasError('blankString') "
                              class="error-message-span">
                              Nhập tên dự án
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Tên khách hàng</span>
                          </div>
                          <div class="col-md-12">
                            <p-dropdown formControlName="customerControl"
                              [styleClass]="(detailProjectForm.get('customerControl').invalid && (detailProjectForm.get('customerControl').dirty || detailProjectForm.get('customerControl').touched)) ? 'error-border' : ''"
                              [filter]="true" [showClear]="true" [resetFilterOnHide]="true" [options]="listCustomer"
                              optionLabel="customerCodeName" placeholder="Chọn khách hàng" [virtualScroll]="true"
                              [itemSize]="31" (onChange)="changeCustomer($event.value)" [style]="{'width': '100%'}">
                            </p-dropdown>
                          </div>
                          <div class="col-md-12">
                            <span
                              [hidden]="detailProjectForm.get('customerControl').valid || detailProjectForm.get('customerControl').untouched"
                              *ngIf="detailProjectForm.get('customerControl').hasError('required')"
                              class="error-message-span">
                              Chọn tên khách hàng
                            </span>
                          </div>
                        </div>

                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Hợp đồng liên quan</span>
                          </div>
                          <div class="col-md-12">
                            <p-dropdown [options]="listContract" optionLabel="contractCodeName" [filter]="true"
                              [autoDisplayFirst]="false" formControlName="projectContractControl" [showClear]="true"
                              [resetFilterOnHide]="true" placeholder="Chọn hợp đồng liên quan" [virtualScroll]="true"
                              [itemSize]="31" [style]="{'width': '100%'}" (onChange)="changeContract($event.value)">
                            </p-dropdown>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 area-right">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Người quản lý</span>
                          </div>
                          <div class="col-md-12">
                            <p-dropdown [options]="listEmployee" optionLabel="employeeCodeName" [filter]="true"
                              [autoDisplayFirst]="false" formControlName="projectEmployeeControl" [virtualScroll]="true"
                              [itemSize]="31" [resetFilterOnHide]="true" placeholder="Chọn người quản lý"
                              [style]="{'width': '100%'}" (onChange)="ChangeManager($event.value)">
                            </p-dropdown>
                          </div>
                        </div>

                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Quản lý cấp cao</span>
                          </div>
                          <div class="col-md-12">
                            <p-multiSelect [options]="listEmployeeManager" formControlName="projectSMControl"
                              defaultLabel="Chọn người quản lý cấp cao" [filter]="true" [virtualScroll]="true"
                              optionLabel="employeeCodeName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                              [virtualScroll]="true" [itemSize]="31" selectedItemsLabel="{0} người được chọn">
                            </p-multiSelect>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="row buffer-bottom">
                          <div class="col-md-12 buffer-bottom-label">
                            <span>Mô tả dự án</span>
                          </div>
                          <div class="col-md-12">
                            <ejs-richtexteditor #templateRTE [height]="300" [toolbarSettings]='tools'
                              formControlName="projectDescriptionControl" [readonly]="isReadonly">
                              <ng-template>
                              </ng-template>
                            </ejs-richtexteditor>
                          </div>
                        </div>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </div>
            </div>

            <!---------------------------------->

            <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
              <div class="col-md-12 customer-infor">
                <div class="row">
                  <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right"
                    collapseIcon="pi pi-fw pi-chevron-circle-down">
                    <p-accordionTab header="Cấu hình dự án" [selected]="true">
                      <div class="row bottom-buffer">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="col-md-4">
                                <div class="row buffer-bottom">
                                  <div class="col-md-12 buffer-bottom-label">
                                    <span>Loại dự án</span>
                                  </div>
                                  <div class="col-md-12">
                                    <p-dropdown [options]="listProjectType" optionLabel="categoryName"
                                      [autoDisplayFirst]="false" formControlName="projectTypeControl" [showClear]="true"
                                      [resetFilterOnHide]="true" placeholder="Chọn loại dự án" [virtualScroll]="true"
                                      [itemSize]="31" [style]="{'width': '100%'}">
                                    </p-dropdown>
                                  </div>
                                </div>

                                <div class="row buffer-bottom">
                                  <div class="col-md-12 buffer-bottom-label">
                                    <span>Quy mô dự án</span>
                                  </div>
                                  <div class="col-md-12">
                                    <p-dropdown [options]="listProjectScope" optionLabel="categoryName"
                                      [autoDisplayFirst]="false" formControlName="projectScopeControl"
                                      [showClear]="true" [resetFilterOnHide]="true" placeholder="Chọn quy mô dự án"
                                      [style]="{'width': '100%'}">
                                    </p-dropdown>
                                  </div>
                                </div>

                                <div class="row buffer-bottom">
                                  <div class="col-md-12 buffer-bottom-label">
                                    <span>Kế hoạch dự án</span>
                                  </div>
                                  <div class="col-md-12">
                                    <p-dropdown [options]="listProjectStatusPlan" optionLabel="name"
                                      [autoDisplayFirst]="false" formControlName="projectStatusPlanControl"
                                      [style]="{'width': '100%'}" placeholder="Chọn kế hoạch dự án">
                                    </p-dropdown>
                                  </div>
                                </div>

                                <div class="row buffer-bottom" style="margin: 0px;">
                                  <p-fieldset>
                                    <p-header>Thời gian dự kiến<span class="required">*</span></p-header>
                                    <div class="row buffer-bottom">
                                      <div class="col-md-12">
                                        <div class="row">
                                          <div class="col-md-6 in_country"
                                            style="padding-right: unset !important; padding-left: unset !important;">
                                            <div class="col-md-12 buffer-bottom-label">
                                              <span>Ngày bắt đầu</span>
                                            </div>
                                            <div class="col-md-12">
                                              <p-calendar formControlName="projectStartTimeControl"
                                                [ngClass]="(projectStartTimeControl.invalid && (projectStartTimeControl.dirty || projectStartTimeControl.touched)) ? 'error-border' : ''"
                                                dateFormat="dd/mm/yy" (keydown.enter)="$event.preventDefault()"
                                                [style]="{'width':'100%'}" [maxDate]="projectEndTimeControl.value"
                                                [inputStyle]="{'width':'100%'}" [baseZIndex]="999">
                                              </p-calendar>
                                            </div>
                                            <div class="col-md-12"
                                              [hidden]="projectStartTimeControl.valid || projectStartTimeControl.untouched">
                                              <span *ngIf="projectStartTimeControl.hasError('required')"
                                                class="error-message-span">
                                                Ngày bắt đầu không được để trống
                                              </span>
                                            </div>
                                          </div>
                                          <div class="col-md-6 in_country"
                                            style="padding-right: unset !important; padding-left: unset !important;">
                                            <div class="col-md-12 buffer-bottom-label">
                                              <span>Ngày kết thúc</span>
                                            </div>
                                            <div class="col-md-12">
                                              <p-calendar formControlName="projectEndTimeControl" dateFormat="dd/mm/yy"
                                                [ngClass]="(projectEndTimeControl.invalid && (projectEndTimeControl.dirty || projectEndTimeControl.touched)) ? 'error-border' : ''"
                                                [minDate]="projectStartTimeControl.value"
                                                (keydown.enter)="$event.preventDefault()" [style]="{'width':'100%'}"
                                                [inputStyle]="{'width':'100%'}" [baseZIndex]="999">
                                              </p-calendar>
                                            </div>
                                            <div class="col-md-12"
                                              [hidden]="projectEndTimeControl.valid || projectEndTimeControl.untouched">
                                              <span *ngIf="projectEndTimeControl.hasError('required')"
                                                class="error-message-span">
                                                Ngày kết thúc không được để trống
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row buffer-bottom">
                                      <div class="col-md-12">
                                        <p-checkbox label="Tính cuối tuần" formControlName="includeWeekendControl"
                                          binary="false">
                                        </p-checkbox>
                                      </div>
                                    </div>
                                  </p-fieldset>
                                </div>
                              </div>

                              <div class="col-md-4">
                                <div class="row buffer-bottom">
                                  <div class="col-md-12 buffer-bottom-label">
                                    <span>Trạng thái</span>
                                  </div>
                                  <div class="col-md-12">
                                    <p-dropdown [options]="listProjectStatus" optionLabel="categoryName"
                                      [autoDisplayFirst]="false" formControlName="projectStatusControl"
                                      [resetFilterOnHide]="true" placeholder="Chọn trạng thái"
                                      [style]="{'width': '100%'}">
                                    </p-dropdown>
                                  </div>
                                </div>

                                <div class="row buffer-bottom">
                                  <div class="col-md-12 buffer-bottom-label">
                                    <span>Mức độ ưu tiên</span><span class="required">*</span>
                                  </div>
                                  <div class="col-md-12" style="padding-top: 5px; padding-bottom: 5px;">
                                    <div class="row">
                                      <div class="col-md-4 in_country">
                                        <p-radioButton (onClick)="changePrioriry()" name="groupname" value="1"
                                          formControlName="projectPriorityControl" label="Thấp">
                                        </p-radioButton>
                                      </div>
                                      <div class="col-md-4 in_country">
                                        <p-radioButton (onClick)="changePrioriry()" name="groupname" value="2"
                                          formControlName="projectPriorityControl" label="Trung bình">
                                        </p-radioButton>
                                      </div>
                                      <div class="col-md-4 in_country">
                                        <p-radioButton (onClick)="changePrioriry()" name="groupname" value="3"
                                          formControlName="projectPriorityControl" label="Cao">
                                        </p-radioButton>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row buffer-bottom">
                                  <div class="col-md-12 buffer-bottom-label">
                                    <span>Đồng quản lý dự án</span>
                                  </div>
                                  <div class="col-md-12">
                                    <p-multiSelect [options]="listEmployeePM" formControlName="projectSubControl"
                                      defaultLabel="Chọn người quản lý" [filter]="true" [virtualScroll]="true"
                                      optionLabel="employeeCodeName" [style]="{'width': '100%'}" [virtualScroll]="true"
                                      [itemSize]="31" [resetFilterOnHide]="true"
                                      selectedItemsLabel="{0} người được chọn">
                                    </p-multiSelect>
                                  </div>
                                </div>

                                <div class="row buffer-bottom">
                                  <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-md-12 buffer-bottom-label">
                                        <span>Ngày ký biên bản nghiệm thu</span>
                                      </div>
                                      <div class="col-md-12">
                                        <p-calendar formControlName="projectNgayKyNghiemThuControl"
                                          dateFormat="dd/mm/yy"
                                          (keydown.enter)="$event.preventDefault()" [style]="{'width':'100%'}"
                                          [inputStyle]="{'width':'100%'}" [baseZIndex]="999">
                                        </p-calendar>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-4">
                                <div class="row buffer-bottom" style="margin: 0;">
                                  <div class="col-md-12">
                                    <div class="row">
                                      <p-fieldset>
                                        <p-header>Ngân sách<span class="required">*</span></p-header>
                                        <div class="row buffer-bottom">
                                          <div class="col-md-12">
                                            <div class="row">
                                              <div class="col-md-4"
                                                style="padding-right: unset !important; padding-left: unset !important;">
                                                <div class="col-md-12 buffer-bottom-label budget-lable">
                                                  <span>Ngày Công</span>
                                                </div>
                                                <div class="col-md-12">
                                                  <input formControlName="projectBudgetNgayCongControl"
                                                    class="number-input" type="text" (change)="ChangeBudget()"
                                                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}" />
                                                </div>
                                              </div>
                                              <div class="col-md-4"
                                                style="padding-right: unset !important; padding-left: unset !important;">
                                                <div class="col-md-12 buffer-bottom-label budget-lable">
                                                  <span>VND</span>
                                                </div>
                                                <div class="col-md-12">
                                                  <input formControlName="projectBudgetVNDControl" class="number-input"
                                                    type="text" (change)="ChangeBudget()"
                                                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}" />
                                                </div>
                                              </div>
                                              <div class="col-md-4"
                                                style="padding-right: unset !important; padding-left: unset !important;">
                                                <div class="col-md-12 buffer-bottom-label budget-lable">
                                                  <span>USD</span>
                                                </div>
                                                <div class="col-md-12">
                                                  <input formControlName="projectBudgetUSDControl" class="number-input"
                                                    type="text" (change)="ChangeBudget()"
                                                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}" />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-12"
                                            [hidden]="projectBudgetVNDControl.value != '' && projectBudgetUSDControl.value != '' && projectBudgetNgayCongControl.value != ''">
                                            <span
                                              *ngIf="projectBudgetVNDControl.value == '' && projectBudgetUSDControl.value == '' && projectBudgetNgayCongControl.value == ''"
                                              class="error-message-span">
                                              Phải chọn ít nhất một trong ba loại ngân sách
                                            </span>
                                          </div>
                                        </div>
                                        <div *ngIf="isShowGiaBanTheoGio" class="row buffer-bottom">
                                          <div class="col-md-12">
                                            <div class="row">
                                              <div class="col-md-12"
                                                style="padding-right: unset !important; padding-left: unset !important;">
                                                <div class="col-md-12 buffer-bottom-label budget-lable">
                                                  <span>Giá bán theo giờ</span>
                                                </div>
                                                <div class="col-md-12">
                                                  <input formControlName="giaBanTheoGioControl" class="number-input"
                                                    type="text"
                                                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}" />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </p-fieldset>
                                    </div>
                                  </div>
                                </div>

                                <div class="row buffer-bottom" style="margin: 0px;">
                                  <p-fieldset>
                                    <p-header>Thời gian thực tế</p-header>
                                    <div class="row buffer-bottom">
                                      <div class="col-md-12">
                                        <div class="row actual-time">
                                          <div class="col-md-6 in_country"
                                            style="padding-right: unset !important; padding-left: unset !important;">
                                            <div class="col-md-12 buffer-bottom-label">
                                              <span>Ngày bắt đầu</span>
                                            </div>
                                            <div class="col-md-12">
                                              <p-calendar formControlName="projectActualStartDateControl"
                                                dateFormat="dd/mm/yy" [maxDate]="projectActualEndDateControl.value"
                                                (keydown.enter)="$event.preventDefault()" [style]="{'width':'100%'}"
                                                [inputStyle]="{'width':'100%'}" [baseZIndex]="999">
                                              </p-calendar>
                                            </div>
                                          </div>
                                          <div class="col-md-6 in_country"
                                            style="padding-right: unset !important; padding-left: unset !important;">
                                            <div class="col-md-12 buffer-bottom-label">
                                              <span>Ngày kết thúc</span>
                                            </div>
                                            <div class="col-md-12">
                                              <p-calendar formControlName="projectActualEndDateControl"
                                                dateFormat="dd/mm/yy" [minDate]="projectActualStartDateControl.value"
                                                (keydown.enter)="$event.preventDefault()" [style]="{'width':'100%'}"
                                                [inputStyle]="{'width':'100%'}" [baseZIndex]="999">
                                              </p-calendar>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </p-fieldset>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </div>
            </div>

            <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
              <div class="col-md-12 customer-infor">
                <div class="row">
                  <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right"
                    collapseIcon="pi pi-fw pi-chevron-circle-down">
                    <p-accordionTab header="Mục tiêu dự án" [selected]="true">
                      <div class="row bottom-buffer">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <p-table #table [columns]="selectedColumns" [value]="listProjectTarget"
                                [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" [rows]="rows"
                                [rowsPerPageOptions]="[10, 20, 30]" [responsive]="true" selectionMode="single"
                                [(selection)]="selectedProjectTarget" (onRowSelect)="editProjectTarget($event.data)"
                                class="table-border">
                                <ng-template pTemplate="caption">
                                  <div class="row">
                                    <div class="col-md-6" style="display: flex;">
                                      <p-multiSelect [options]="columns" optionLabel="header"
                                        [(ngModel)]="selectedColumns" [ngModelOptions]="{ standalone: true }"
                                        selectedItemsLabel="{0} cột được chọn"
                                        [style]="{minWidth: '150px', display: 'flex' }" defaultLabel="Chọn cột">
                                      </p-multiSelect>
                                    </div>
                                    <div class="col-md-6"
                                      *ngIf="this.statusCode != 'TDU' && this.statusCode != 'HUY'"
                                      style="display: flex; justify-content: flex-end; padding-right: 15px; padding-top:5px">
                                      <span (click)="addProjectTarget()" class="link">
                                        <span>
                                          <img src="/assets/icons/components/ios-add-circle-outline.svg"
                                            class="ios-add-circle-outline">
                                        </span>
                                        <span class="add-contact-text">
                                          Thêm mục tiêu
                                        </span>
                                      </span>
                                    </div>
                                    <!-- <div class="col-md-6"
                                      *ngIf="this.statusCode != 'TDU' && this.statusCode != 'HUY' && !isApproveProject"
                                      style="display: flex; justify-content: flex-end; padding-right: 15px; padding-top:5px">
                                      <span (click)="addProjectTarget()" class="link">
                                        <span>
                                          <img src="/assets/icons/components/ios-add-circle-outline.svg"
                                            class="ios-add-circle-outline">
                                        </span>
                                        <span class="add-contact-text">
                                          Thêm mục tiêu
                                        </span>
                                      </span>
                                    </div> -->
                                  </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                  <tr>
                                    <th *ngFor="let col of columns" pResizableColumn
                                      [ngStyle]="{ 'text-align': col.textAlign, display: col.display }">
                                      <span>
                                        {{ col.header }}
                                      </span>
                                    </th>
                                    <th style="text-align: center;"
                                      *ngIf="this.statusCode != 'TDU' && this.statusCode != 'HUY'">
                                      <span>Thao tác</span>
                                    </th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                  <tr [pSelectableRow]="rowData">
                                    <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
                                      [ngStyle]="{ 'text-align': col.textAlign, display: col.display }">
                                      <span class="ui-column-title">{{ col.header }}</span>
                                      <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                    </td>
                                    <td style="text-align: center;"
                                      *ngIf="this.statusCode != 'TDU' && this.statusCode != 'HUY'">
                                      <button pButton icon="pi pi-trash" (click)="deleteProjectTarget(rowData)"
                                        *ngIf="actionAdd" class="ui-button-danger"></button>
                                    </td>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </div>
            </div>

            <div class="row no-margin" style="padding-top: 10px;padding-bottom: 10px;">
              <div class="col-md-12 customer-infor">
                <div class="row">
                  <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right"
                    collapseIcon="pi pi-fw pi-chevron-circle-down">
                    <p-accordionTab header="Ghi chú" [selected]="true">
                      <div class="col-md-12">
                        <p-editor [(ngModel)]="noteContent" [ngModelOptions]="{standalone: true}"
                          [style]="{'height':'180px', 'width': '100%'}" (onTextChange)="changeNoteContent($event)">
                        </p-editor>
                      </div>
                      <div *ngIf="actionImport" class="col-md-12" style="margin-top: 5px;">
                        <p-fileUpload #fileNoteUpload name="demo[]" [showUploadButton]="false" multiple="multiple"
                          accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                          maxFileSize="10000000" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                          invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                          invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                          invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                          chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file"
                          (onSelect)="handleNoteFile($event, fileUpload)" (onRemove)="removeNoteFile($event)"
                          (onClear)="clearAllNoteFile()"></p-fileUpload>
                      </div>

                      <div *ngIf="(listUpdateNoteDocument.length > 0)" class="col-md-12" style="margin-top: 5px;">
                        <p-table [columns]="colsFile" [value]="listUpdateNoteDocument" [responsive]="true"
                          [resizableColumns]="true">
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th *ngFor="let col of columns" pResizableColumn
                                [ngStyle]="{'text-align': col.textAlign}">
                                {{col.header}}
                              </th>
                              <th style="width:4em"></th>
                              <th style="width:4em"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                              <td *ngFor="let col of columns" class="ui-resizable-column"
                                [ngStyle]="{'text-align': col.textAlign}">
                                <span>{{rowData[col.field]}}</span>
                              </td>
                              <td>
                                <button *ngIf="actionDelete" pButton icon="pi pi-trash"
                                  (click)="deleteNoteFile(rowData)" class="ui-button-danger"></button>
                              </td>
                              <td>
                                <button pButton icon="pi pi-download" (click)="downloadNoteFile(rowData)"></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>

                      <div class="col-md-12" style="text-align: right; margin-top: 5px;">
                        <button type="button" class="btn-cancel-note" (click)="cancelNote()">
                          <span class="save-cancel-lable">Hủy</span>
                        </button>
                        <button type="button" class="btn-save-note" (click)="saveNote()">
                          <span class="save-note-lable">{{isEditNote == true ? 'Cập nhật ghi chú' : 'Thêm ghi
                            chú'}}</span>
                        </button>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </div>
            </div>

            <div class="row no-margin" style="padding-top: 10px; padding-bottom: 10px;">
              <div class="col-md-12 customer-infor">
                <div class="row">
                  <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right"
                    collapseIcon="pi pi-fw pi-chevron-circle-down">
                    <p-accordionTab header="Dòng thời gian" [selected]="true">
                      <div class="timeline col-md-12 timeline-content">
                        <ul class="timeline">
                          <li *ngFor="let note of noteHistory;let noteIndex = index;">
                            <i *ngIf="note.type == 'ADD'" class="fa fa-file-text-o bg-blueX color-w"></i>
                            <i *ngIf="note.type == 'NOT'" class="fa fa-commenting-o bg-blueX color-w"></i>
                            <i *ngIf="note.type == 'EDT'" class="fa fa-user bg-blueX color-w"></i>
                            <i *ngIf="note.type == 'NEW'" class="fa fa-user-plus bg-blueX color-w"></i>
                            <div class="timeline-item" id="{{note.noteId}}">
                              <span class="time onHover">
                                <i *ngIf="note.type !== 'SYS'  && ((note.description !== '' && note.description !== null) || note.noteDocList.length > 0) && actionEditNote"
                                  (click)="onClickEditNote(note.noteId, note.description)"
                                  class="pi pi-pencil style-edit" pTooltip="{{ 'lead.tooltip.edit_note' | translate }}"
                                  tooltipPosition="bottom"></i>
                                <i *ngIf="actionEditNote && note.type !== 'SYS'" pTooltip="Xóa ghi chú"
                                  tooltipPosition="bottom" (click)="onClickDeleteNote(note.noteId)"
                                  class="pi pi-trash style-delete"></i>
                              </span>
                              <h3 class="timeline-header">
                                <span>
                                  <i *ngIf="tooLong(note)"
                                    class="trigger_node collapse-content-icon pi pi-chevron-right"
                                    (click)="trigger_node(note.noteId,$event)" style="cursor: pointer;"
                                    pTooltip="{{ toggle_note_label }}" tooltipPosition="bottom"></i>
                                  <span class="alignment" style="padding: 0 12px;" *ngIf="!tooLong(note)"></span>
                                </span>
                                <div>
                                  <img *ngIf="note" [src]="defaultAvatar" height="30" width="30" alt=""
                                    class="timeline-user-avatar" />
                                </div>
                                <span class="note-user">{{note.responsibleName}}</span>
                                <p class="time-note">
                                  {{note.noteTitle}} Lúc {{note.createdDate | date:'HH:mm'}} {{ 'lead.note.day' |
                                  translate }}
                                  {{note.createdDate | date:'dd/MM/yyyy'}}
                                </p>
                              </h3>
                              <div class="timeline-body">
                                <div class="note-content">
                                  <span class="short-content" style="word-wrap: break-word;"></span>
                                  <span class="full-content" style="display: none;word-wrap: break-word;"></span>
                                </div>

                                <div *ngIf="note.noteDocList.length > 0" class="row no-margin file-upload-zone"
                                  style="padding: 0 12px; margin-bottom: 20px !important">
                                  <div *ngFor="let item of note.noteDocList.slice(0,3); let i=index"
                                    class="col-md-4 short-content-file" style="padding: 5px 0">
                                    <div class="row no-margin file-item"
                                      style="background-color: rgb(228, 228, 228); padding: 5px 10px">
                                      <div class="col-md-1">
                                        <i class="pi pi-file" style="font-size: 1.55em;"></i>
                                      </div>
                                      <div class="col-md-11">
                                        <div class="item-name" pTooltip="{{ item.documentName }}"
                                          tooltipPosition="bottom">
                                          <span>
                                            <a class="preview-doc"
                                              (click)="openItem(item.documentName, item.documentUrl)">
                                              {{ item.documentName }}
                                            </a>
                                          </span>
                                        </div>
                                        <div style="font-size: 10px; padding: 0 !important">
                                          {{ item.documentSize/1024/1024 | number:'.2' }} MB
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngFor="let item of note.noteDocList;let i=index"
                                    class="col-md-4 full-content-file" style="display: none;padding: 5px 0">
                                    <div class="row no-margin file-item"
                                      style="background-color: rgb(228, 228, 228); padding: 5px 10px">
                                      <div class="col-md-1">
                                        <i class="pi pi-file" style="font-size: 1.55em;"></i>
                                      </div>
                                      <div class="col-md-11">
                                        <div class="item-name" pTooltip="{{ item.documentName }}"
                                          tooltipPosition="bottom">
                                          <span>
                                            <a class="preview-doc" (click)="openItem(item.base64Url)">
                                              {{ item.documentName }}
                                            </a>
                                          </span>
                                        </div>
                                        <div style="font-size: 10px; padding: 0 !important">
                                          {{ item.documentSize/1024/1024 | number:'.2' }} MB
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <p *ngIf="note.noteDocList.length > 3" class="col-md-12 continue"><b>...</b></p>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <p-paginator #paginator [rows]="10" [totalRecords]="totalRecordsNote"
                          (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,20,30]">
                        </p-paginator>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <main-footer></main-footer>
  </div>
</div>