.promotion-detail .promotion-detail-content {
  margin: 0 !important;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.promotion-detail .button-group {
  width: 100%;
  height: 'auto';
  border-radius: 4px;
  background: #f2f4f8;
  border-bottom: 1px solid #dde1e6;
  padding: 5px 0px;
  display: inline-flex;
  align-items: center;
}

.promotion-detail .header-icon {
  font-size: 22px;
  color: #007AFF;
}

.promotion-detail .header-text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
}

.promotion-detail .w100 {
  width: 100% !important;
}

.promotion-detail .input-text {
  min-height: 2.55em !important;
}

.promotion-detail .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #f2f4f8;
  border: 1px solid #cccccc;
}

.promotion-detail .ios-warning {
  position: relative;
  top: 0;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.promotion-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-left: -30px;
  transform: translate(-50%, -50%);
}

.promotion-detail .ios-warning-active {
  position: relative;
  top: 5px;
  width: 16.2px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.promotion-detail .notification {
  position: absolute;
  top: 38px;
  right: 90px;
  width: 307px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 999;
}

/*Begin: Tạo góc nhọn trên hộp thoại */
.promotion-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
  z-index: 999;
}

.promotion-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
  z-index: 999;
}
/*End: Tạo góc nhọn trên hộp thoại */

.promotion-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
  z-index: 999;
}

.promotion-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
  z-index: 999;
}

.promotion-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
  z-index: 999;
}

.promotion-detail .button-group .cancel {
  min-width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-left: 5px;
  position: relative;
}

.promotion-detail .button-group .cancel .text-cancel {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.promotion-detail .button-group .delete {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #D9001B;
  margin-left: 5px;
  position: relative;
}

.promotion-detail .button-group .delete .text-delete {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.promotion-detail .save {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
  position: relative;
}

.promotion-detail .button-group .save .text-save {
  width: 25px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/*Begin: Customize Accordion */

::ng-deep .promotion-detail .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .promotion-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .promotion-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .promotion-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .promotion-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .promotion-detail .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.promotion-detail .mt-10 {
  margin-top: 10px;
}

.promotion-detail .mb-10 {
  margin-bottom: 10px;
}

.promotion-detail .area-2 {
  margin: 10px 0px;
  border-radius: 4px;
  border: 1px solid #dde1e6;
}

.promotion-detail .form-control {
  border-radius: 0.25rem;
}

.promotion-detail .form-control,
.promotion-detail select.form-control {
  height: auto;
  max-height: 34px;
}

/*format input select*/
::ng-deep .promotion-detail .mat-form-field-underline {
  opacity: 0;
}

::ng-deep .promotion-detail .mat-form-field-wrapper {
  bottom: 6px;
}

::ng-deep .promotion-detail .mat-select-trigger {
  bottom: 1px;
}

::ng-deep .promotion-detail .mat-option-text {
  font-size: 14px !important;
}

::ng-deep .promotion-detail .mat-form-field-infix {
  padding: 0;
}
/*end*/

.promotion-detail .btn-plus {
  width: 30px;
  height: 27px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #34A835;
}

.promotion-detail .icon-plus {
  color: #ffffff;
}

.promotion-detail .row-filter {
  margin-bottom: 10px;
}

.promotion-detail .btn-active {
  background-color: #007AFF !important;
  color: #ffffff !important;
}

.promotion-detail .btn-default {
  width: 53px;
  background-color: #D7D7D7;
  color: #000000;
}

::ng-deep .promotion-detail .ui-chips {
  width: 100% !important;
}

::ng-deep .promotion-detail .ui-chips > ul.ui-inputtext {
  width: 100% !important;
  text-align: left !important;
}

::ng-deep .promotion-detail .ui-chips > ul.ui-inputtext .ui-chips-token {
  margin-top: 5px !important;
}

.promotion-detail .link {
  cursor: pointer;
  color: #0f62fe;
}

.promotion-detail .btn-save-note {
  width: 158px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
  margin-left: 5px;
}

.promotion-detail .save-note-lable {
  width: 110px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* CSS time line */

.promotion-detail .timeline>li {
	margin-right: 0 !important;
}

.promotion-detail .style-delete {
	color: #FE747A;
	cursor: pointer;
	font-size: 1.55em;
}

.promotion-detail .style-edit {
	cursor: pointer;
	font-size: 1.55em;
}

.promotion-detail .note-user {
	font-family: 'Inter UI';
	font-weight: bold;
}

.promotion-detail .timeline>li>.timeline-item {
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.promotion-detail .timeline-content {
	margin-top: 20px;
}

.promotion-detail .bg-blueX {
	background-color: #4E6BA5 !important;
}

.promotion-detail .color-w {
	color: #fff !important;
}

.promotion-detail .timeline-item .onHover {
	display: none;
}

.promotion-detail .timeline-item:hover .onHover {
	display: block;
}

.promotion-detail .material-icons {
	cursor: pointer;
}

.promotion-detail .timeline-user-avatar {
	border-radius: 50%;
	margin-right: 5px;
	float: left;
}

.promotion-detail .note-title {
	font-size: 11px !important;
	color: #222 !important;
	font-weight: normal !important;
}

.promotion-detail .time-note {
	font-size: 10px !important;
	color: #5d5a5a !important;
	font-weight: normal !important;
}

.promotion-detail .timeline-body {
	padding: 10px 15px;
}

.promotion-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
	padding-right: 5px !important;
}

.promotion-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.promotion-detail .file-upload-zone .col-md-4:nth-child(3n) {
	padding-left: 5px !important;
}

.promotion-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
	padding-right: 5px !important;
}

.promotion-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.promotion-detail .file-upload-zone .col-md-4:nth-child(3n) {
	padding-left: 5px !important;
}

.promotion-detail .file-item div:nth-child(1), 
.promotion-detail .file-item div:nth-child(3) {
	padding-left: 0 !important;
}

.promotion-detail .file-item div:nth-child(2) {
	padding: 0 5px !important;
}

.promotion-detail .item-name {
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden !important;
}

.promotion-detail .preview-doc {
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .promotion-detail .button-group {
    display: inline-block;
    border: 0;
  }
  .promotion-detail .button-group .center{
    padding-bottom: 10px;
  }
}
/* End */