.bill-sale-list {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(18, 22, 25, 0.08);
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
  }
  
  .bill-sale-list .box-header {
    width: 100%;
    background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
  }
  
  .bill-sale-list .btn-create {
    float: right;
    width: 98px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
  }
  
  .bill-sale-list .btn-create-text {
    width: 50px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  .bill-sale-list .box-header-group {
    margin-top: 10px;
  }
  
  .bill-sale-list .box-header-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #0f62fe;
    text-align: center;
  }
  
  .bill-sale-list .Money-2 {
    width: 20.4px;
    height: 18.5px;
    object-fit: contain;
    margin-top: 10px;
  }
  
  .bill-sale-list .box-header-title {
    width: auto;
    /* height: 24px; */
    font-family: 'Inter UI';
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
  }
  
  .bill-sale-list .box-header-subtitle {
    font-family: 'Inter UI';
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #4d5358;
  }
  
  .bill-sale-list .box-header-group-btn {
    text-align: right;
  }
  
  .bill-sale-list .btn-refresh {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
  }
  
  .bill-sale-list .ios-refresh {
    width: 12px;
    height: 14px;
    object-fit: contain;
  }
  
  .bill-sale-list .btn-filter {
    width: 104px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #007aff;
    background-color: #007aff;
    margin-left: 5px;
  }
  
  .bill-sale-list .ios-funnel {
    width: 12.3px;
    height: 11.3px;
    object-fit: contain;
    margin-right: 5px;
  }
  
  .bill-sale-list .btn-filter-text {
    width: 36px;
    height: 13px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  
  .bill-sale-list .iput-text {
    width: 248px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding-left: 5px;
    margin-left: 5px;
  }
  
  .bill-sale-list .box-filter {
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding: 10px 0px;
  }
  
  .bill-sale-list .quote-code-text {
    width: 100%;
    height: 32px;
    font-family: 'Inter UI';
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
    padding-left: 5px;
  }
  
  .bill-sale-list .quote-code-text:focus {
    border-color: #007ad9;
    outline: 0 none;
  }
  
  .bill-sale-list .mt-5 {
    margin-top: 5px;
  }
  
  .bill-sale-list .btn-search {
    width: 72px;
    height: 32px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
  }
  
  .bill-sale-list .btn-search:focus {
    border-color: #007ad9;
    outline: 0 none;
  }
  
  .bill-sale-list .btn-search-text {
    width: 36px;
    height: 13px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  
  /* Config rows Per Page Options */
  ::ng-deep .bill-sale-list .ui-inputtext {
    padding: 0.3em;
  }
  
  .bill-sale-list .link {
    font-family: 'Inter UI';
    color: #007ad9;
    cursor: pointer;
    font-size: 13px;
  }
  
  .bill-sale-list .no-data {
    height: 330px;
    border: solid 1px #d7dbe0;
    background-color: #f2f4f8;
    text-align: center;
  }
  
  .bill-sale-list .box-no-data {
    position: relative; 
    top: 25%;
  }
  
  .bill-sale-list .box-icon {
    width: 57.1px;
    height: 58px;
    object-fit: contain;
  }
  .bill-sale-list span.ui-column-title{
    width: 100px;
  }
  ::ng-deep .bill-sale-list .ui-datepicker {
    top: 28px !important;
  }

  ::ng-deep .bill-sale-list .ui-button-text-only{
    display: none;
  }
  
  ::ng-deep .bill-sale-list .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default{
    border-radius: 50% !important;
    height: 35px !important;
    width: 35px !important;
    background-color: #d7dbe0;
  }
  
  
  /* Máy để bàn */
  @media only screen and (min-width: 1025px) and (max-width: 1423px)  {
    
  }
  
  /* Ipad Pro */
  @media only screen and (min-width: 769px) and (max-width: 1024px)  {
    .bill-sale-list .box-header-icon {
      width: 27px;
      height: 27px;
    }
  
    .bill-sale-list .Money-2 {
      width: 15.4px;
      height: 11.5px;
      margin-top: 7px;
    }
  
    .bill-sale-list .iput-text {
      margin-top: 5px;
    }
  }
  
  /* Ipad */
  @media only screen and (min-width: 375px) and (max-width: 768px) {
    .bill-sale-list .box-header-title {
      font-size: 22px;
    }

    .bill-sale-list .box-header-subtitle {
      font-size: 13px;
      margin: 5px 0px;
    }
    
    .bill-sale-list .btn-filter {
      width: 90px;
    }

    .bill-sale-list .iput-text {
      width: 230px;
    }
  }
  
  /* Iphone 6/7/8 Plus */
  @media only screen and (min-width: 375px) and (max-width: 414px) {
    .bill-sale-list .iput-text {
      margin-top: 5px;
    }
  }
  
  /* Iphone 6/7/8/X */
  @media only screen and (max-width: 375px) {
    .bill-sale-list .box-header-title {
      font-size: 22px;
    }

    .bill-sale-list .box-header-subtitle {
      font-size: 13px;
      margin: 5px 0px;
    }
    
    .bill-sale-list .btn-filter {
      width: auto;
    }

    .bill-sale-list .iput-text {
      width: 210px;
    }
  }