.sale-bidding-detail .btn-move {
  width: 20px !important;
  height: 20px !important;
}

.sale-bidding-detail .mr-5 {
  margin-right: 5px;
}

.sale-bidding-detail .icons-move {
  font-size: 10px !important;
}

.sale-bidding-detail {
  font-family: 'Inter UI';
}

.sale-bidding-detail .header {
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #cccccc;
  padding: 15px;
}

/* .sale-bidding-detail .header-box-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.sale-bidding-detail .header-icon {
  width: 18px;
  height: 18px;
}

.sale-bidding-detail .customer-name {
  font-family: 'Inter UI';
  font-size: 22px;
  font-weight: bold;
  color: #121619;
}

.sale-bidding-detail .customer-type {
  width: 106px;
  height: 14px;
  font-family: 'Inter UI';
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.sale-bidding-detail .btn-remove {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.sale-bidding-detail .btn-remove-text {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.sale-bidding-detail .save-and-new {
  width: 142px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #0f62fe;
  background-color: #ffffff;
  margin-left: 5px;
}

.sale-bidding-detail .save-and-new .text-save-and-new {
  width: 102px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #0f62fe;
}

.sale-bidding-detail .btn-save {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
  margin-left: 5px;
}

.sale-bidding-detail .btn-save-text {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sale-bidding-detail .customer-infor {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  border: solid 1px #cccccc;
  padding-bottom: 10px;
}

/*Begin: Customize Accordion */

::ng-deep .sale-bidding-detail .ui-accordion .ui-accordion-header a {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  font-size: 16px;
}

::ng-deep .sale-bidding-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #121619 !important;
}

::ng-deep .sale-bidding-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .sale-bidding-detail .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #121619 !important;
}

::ng-deep .sale-bidding-detail .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  color: #121619 !important;
}

::ng-deep .sale-bidding-detail .ui-accordion .ui-accordion-content {
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
}

/*End: Customize Accordion */

.sale-bidding-detail .w100 {
  width: 100%;
}

.sale-bidding-detail .mb-10 {
  margin-bottom: 10px;
}

.sale-bidding-detail .mt-20 {
  margin-top: 20px;
}

.sale-bidding-detail .mt-10 {
  margin-top: 10px;
}

.sale-bidding-detail .tabmenu-content {
  width: 100%;
}

.sale-bidding-detail .ml-10 {
  margin-left: 10px;
}

.sale-bidding-detail .bg-007ad9 {
  background-color: #007ad9;
}

.sale-bidding-detail .py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sale-bidding-detail .text-center {
  text-align: center;
}

.sale-bidding-detail .require {
  color: #F94E4E;
}

.sale-bidding-detail .error-message-span {
  color: red !important;
}

::ng-deep .sale-bidding-detail .ui-multiselect-panel {
  top: 32px !important;
}

::ng-deep .sale-bidding-detail .ui-dropdown-panel {
  top: 32px !important;
}

::ng-deep .sale-bidding-detail :focus {
  outline: none !important;
}

::ng-deep .sale-bidding-detail .ui-datepicker {
  top: 32px !important;
}

.sale-bidding-detail .float-right {
  float: right;
}

.sale-bidding-detail .d-inline {
  display: inline;
}

.sale-bidding-detail .clear-time {
  position: absolute;
  right: 25px;
  display: flex;
  top: 0px;
  align-items: center;
  bottom: 0px;
  z-index: 9999999;
}

.sale-bidding-detail .d-none {
  display: none;
}

.sale-bidding-detail .clear-time i:hover {
  cursor: pointer;
}

.sale-bidding-detail .cursor i:hover {
  cursor: pointer;
}

.sale-bidding-detail .fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #ffffff;
  width: 960px;
  border: 1px solid #cccccc;
}

::ng-deep .sale-bidding-detail .ui-datepicker-title select {
  margin-top: 0px !important;
  margin-left: 5px !important;
}

::ng-deep .sale-bidding-detail .ui-tabmenu {
  border-bottom: 10px solid #cccccc;
}

/* Máy để bàn */

@media only screen and (min-width: 1025px) and (max-width: 1423px) {}

/* Ipad Pro */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .sale-bidding-list .diplay-center {
    display: block !important;
  }
}

/* Ipad */

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .sale-bidding-list .diplay-center {
    display: block !important;
  }
}

/* Iphone 6/7/8 Plus */

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .sale-bidding-list .diplay-center {
    display: block !important;
  }
}

/* Iphone 6/7/8/X */

@media only screen and (max-width: 375px) {
  .sale-bidding-list .diplay-center {
    display: block !important;
  }
}

.sale-bidding-detail .border-tabmenu {
  border: solid 1px #cccccc;
  border-top: none;
  padding: 20px;
}

.sale-bidding-detail .no-margin {
  margin: 0;
}

.sale-bidding-detail .cskh-header-timeline {
  border-bottom: solid 1px #cccccc;
  padding: 5px 5px;
  width: 144px;
}

.sale-bidding-detail .mr-5 {
  margin-right: 5px;
}

.sale-bidding-detail .cskh-header-week {
  border-left: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  padding: 5px 5px;
  text-align: center;
  width: 170.5px;
}

.sale-bidding-detail .cskh-body-emp {
  border-bottom: solid 1px #cccccc;
  padding: 5px 0px;
}

.sale-bidding-detail .cskh-body-emp-name {
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.sale-bidding-detail .cskh-body-emp-position {
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #878d96;
}

.sale-bidding-detail .cskh-body-week {
  vertical-align: top;
  border-left: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}

.sale-bidding-detail .cskh-body-week-block {
  width: 148px;
  border-radius: 12px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
.sale-bidding-detail .cskh-body-week-block i{
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.sale-bidding-detail .cskh-body-week-title {
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
  /* padding-right: 10px; */
}

.sale-bidding-detail .cskh-body-week-sub-title {
font-family: 'Inter UI';
font-size: 10px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.9;
letter-spacing: normal;
text-align: left;
color: #878d96;
cursor: pointer;
}

.sale-bidding-detail .cskh-body-week-sub-title {
  font-family: 'Inter UI';
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  text-align: left;
  color: #878d96;
  cursor: pointer;
}

.sale-bidding-detail .btn-choose-time {
  width: 150px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding-top: 6px;
}

.sale-bidding-detail .icon-choose-left {
  position: relative;
  cursor: pointer;
  left: 5px;
}

.sale-bidding-detail .choose-label {
  position: relative;
  left: 16px;
}

.sale-bidding-detail .icon-choose-right {
  position: relative;
  cursor: pointer;
  right: -28px;
}

.sale-bidding-detail .btn-send-email {
  width: 132px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #af52de;
  border: solid 1px #cccccc;
}

.sale-bidding-detail .btn-send-email-icon {
  width: 16px;
  height: 10.2px;
  object-fit: contain;
}

.sale-bidding-detail .btn-send-email-text {
  width: 60px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sale-bidding-detail .btn-send-sms {
  width: 132px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #ffcc00;
  border: solid 1px #cccccc;
}

.sale-bidding-detail .btn-send-sms-icon {
  width: 22px;
  height: 15px;
  object-fit: contain;
}

.sale-bidding-detail .btn-send-sms-text {
  width: 54px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.sale-bidding-detail .btn-send-gift {
  width: 132px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #cccccc;
}

.sale-bidding-detail .btn-send-gift-icon {
  width: 13px;
  height: 14.9px;
  object-fit: contain;
}

.sale-bidding-detail .btn-send-gift-text {
  width: 58px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sale-bidding-detail .mt-25 {
  margin-top: 25px;
}

::ng-deep .sale-bidding-detail .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
  font-size: 17px;
  color: #121619;
}

.sale-bidding-detail .btn-save-note {
  width: 158px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  border: solid 1px #2c2a2a;
  margin-left: 5px;
}

.sale-bidding-detail .save-note-lable {
  width: 110px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sale-bidding-detail .save-cancel-lable {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.sale-bidding-detail .btn-cancel-note {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

::ng-deep .sale-bidding-detail .ui-steps .ui-steps-item {
  width: 14%;
}

::ng-deep .sale-bidding-detail .ui-steps.steps-custom {
  margin-bottom: 30px;
}

::ng-deep .sale-bidding-detail .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

::ng-deep .sale-bidding-detail .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

::ng-deep .sale-bidding-detail .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.sale-bidding-detail .timeline>li {
  margin-right: 0 !important;
}

.sale-bidding-detail .style-delete {
  color: #FE747A;
  cursor: pointer;
  font-size: 1.55em;
}

.sale-bidding-detail .style-edit {
  cursor: pointer;
  font-size: 1.55em;
}

.sale-bidding-detail .note-user {
  font-family: 'Inter UI';
  font-weight: bold;
}

.sale-bidding-detail .timeline>li>.timeline-item {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sale-bidding-detail .timeline-content {
  margin-top: 20px;
}

.sale-bidding-detail .bg-blueX {
  background-color: #4E6BA5 !important;
}

.sale-bidding-detail .color-w {
  color: #fff !important;
}

.sale-bidding-detail .timeline-item .onHover {
  display: none;
}

.sale-bidding-detail .timeline-item:hover .onHover {
  display: block;
}

.sale-bidding-detail .material-icons {
  cursor: pointer;
}

.sale-bidding-detail .timeline-user-avatar {
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}

.sale-bidding-detail .note-title {
  font-size: 11px !important;
  color: #222 !important;
  font-weight: normal !important;
}

.sale-bidding-detail .time-note {
  font-size: 10px !important;
  color: #5d5a5a !important;
  font-weight: normal !important;
}

.sale-bidding-detail .timeline-body {
  padding: 10px 15px;
}

.sale-bidding-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
  padding-right: 5px !important;
}

.sale-bidding-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.sale-bidding-detail .file-upload-zone .col-md-4:nth-child(3n) {
  padding-left: 5px !important;
}

.sale-bidding-detail .file-upload-zone .col-md-4:nth-child(3n+1) {
  padding-right: 5px !important;
}

.sale-bidding-detail .file-upload-zone .col-md-4:nth-child(3n+2) {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.sale-bidding-detail .file-upload-zone .col-md-4:nth-child(3n) {
  padding-left: 5px !important;
}

.sale-bidding-detail .file-item div:nth-child(1), .sale-bidding-detail .file-item div:nth-child(3) {
  padding-left: 0 !important;
}

.sale-bidding-detail .file-item div:nth-child(2) {
  padding: 0 5px !important;
}

.sale-bidding-detail .item-name {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.sale-bidding-detail .preview-doc {
  cursor: pointer;
}

.sale-bidding-detail .box-search {
  text-align: right;
  margin-top: 15px;
}

.sale-bidding-detail .text-search {
  width: 364px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.sale-bidding-detail .btn-create {
  width: 116px;
  height: 32px;
  border: solid 1px #c1c7cd;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
  margin-left: 5px;
}

.sale-bidding-detail .btn-create-text {
  width: 68px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sale-bidding-detail .import-file {
  width: 170px;
  height: 32px;
  border-radius: 4px;
  color: black;
  border: solid 1px #c1c7cd;
}

.sale-bidding-detail .background-color-import {
  background-color: #007ad9;
}

.sale-bidding-detail .text-import {
  color: white;
}

.sale-bidding-detail .notification {
  position: absolute;
  top: 38px;
  width: 307px;
  box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
  border: solid 1px #dde1e6;
  background-color: #ffffff;
  z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */

.sale-bidding-detail .notification::before {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #ffffff;
  border-width: 8px;
  border-bottom-color: #d1d5da;
}

.sale-bidding-detail .notification::after {
  position: absolute;
  bottom: 100%;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid transparent;
  margin-bottom: -1px;
  border-width: 8px;
  border-bottom-color: #ffffff;
}

/*End: Tạo góc nhọn trên hộp thoại */

.sale-bidding-detail .notification .notifi-row {
  width: 100%;
  border-bottom: 1px solid #dde1e6;
  padding: 10px 0px;
  cursor: pointer;
  text-align: left;
}

.sale-bidding-detail .notification .notifi-row .ios-alert {
  position: absolute;
  left: 15px;
  width: 15.9px;
  height: 15.9px;
  object-fit: contain;
}

.sale-bidding-detail .notification .notifi-row .notifi-text {
  position: relative;
  left: 50px;
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ff3b30;
}

.sale-bidding-detail .notification .notifi-row-footer {
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.sale-bidding-detail .notification .notifi-row-footer .notifi-text-footer {
  width: 100%;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #121619;
}

.sale-bidding-detail .box-waring {
  display: inline-block;
  width: 49px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffcc00;
  text-align: center;
  cursor: pointer;
}
