<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
    <p-progressSpinner  [style]="{width: '50px', height: '50px'}"
                        strokeWidth="8"
                        fill="#EEEEEE"
                        animationDuration=".5s"></p-progressSpinner>
  </div>
  <!-- Message Response... -->
  <p-toast position="bottom-right"></p-toast>
  <!-- Confirm... -->
  <p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không"></p-confirmDialog>

<p-dialog header="{{ 'order.messages_title.title_info_reject' | translate }}" [(visible)]="display" [modal]="true" [style]="{width: '400px', minWidth: '200px'}">
  <div class="col-md-3">
    <span> {{ 'order.create.description' | translate }} </span>
  </div>
  <div class="col-md-9">
    <!-- <input class="w100 input-text"  type="text" (keydown.enter)="$event.preventDefault()" pInputText  [(ngModel)]="descriptionReject"/> -->
    <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="descriptionReject"
    class="w100 input-text"></textarea>
  </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="rejectOrder()" label="{{ 'order.create.save' | translate }}"></button>
        </p-footer>
</p-dialog>

<!-- <p-dialog [(visible)]="displayRejectQuote" [modal]="true"
  [style]="{width: '400px', minWidth: '200px', overflow: 'hidden'}">
  <p-header>
    Xác nhận
  </p-header>
  <div class="col-md-12">
    Lý do từ chối phê duyệt?
  </div>
  <div class="col-md-12 mt-10">
    <div class="col-md-12 mt-10">
      <p-radioButton name="group1" value="EMP" label="Từ chối do quản lý" [(ngModel)]="rejectReason" inputId="preopt1">
      </p-radioButton>
    </div>
    <div class="col-md-12 mt-10">
      <p-radioButton name="group1" value="CUS" label="Từ chối do khách hàng" [(ngModel)]="rejectReason"
        inputId="preopt2"></p-radioButton>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="confirmRejectOrder(true)" label="Chấp nhận"></button>
    <button type="button" pButton (click)="confirmRejectOrder(false)" label="Hủy"></button>
  </p-footer>
</p-dialog> -->

  <div class="quote-list">
    <div class="row no-margin">
      <div class="box-header">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="box-header-group">
                <div class="row">
                  <div class="col-md-1 col-xs-2">
                    <div class="box-header-icon">
                      <img src="/assets/icons/components/money-2.svg" class="Money-2">
                    </div>
                  </div>
                  <div class="col-md-11 col-xs-10">
                    <div class="box-header-title">Danh sách báo giá phê duyệt</div>
                    <div class="box-header-subtitle">
                      {{listQuote.length}} bản ghi - {{ isCompleteInWeek == true ? 'Báo giá phải hoàn thành trong tuần' : ('Từ ngày: ' + (startDate ? (startDate | date:'dd/MM/yyyy') : '') + ' Đến ngày: ' + (endDate ? (endDate | date:'dd/MM/yyyy') : '')) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <!-- <div class="col-md-12">
              <button type="button" class="btn-create" *ngIf="actionAdd" (click)="goToCreateQuote()"><span class="btn-create-text">Tạo mới</span></button>
              <div style="clear: both;"></div>
            </div> -->
            <div class="col-md-12">
              <div class="box-header-group-btn">
                <button type="button" class="btn-refresh" (click)="refreshFilter()">
                  <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
                </button>
                <button type="button" class="btn-filter" (click)="showFilter()">
                  <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                  <span class="btn-filter-text">Bộ lọc</span>
                </button>
                <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách"
                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
                <div style="clear: both;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-margin" style="background-color: #f2f4f8;">
      <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
        <div class="box-filter">
          <div class="row no-margin">
            <div class="col-md-12">
              <span>Mã báo giá</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="Nhập mã báo giá" [(ngModel)]="quoteCode">
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Từ ngày</span>
            </div>
            <div class="col-md-12">
              <p-calendar [(ngModel)]="startDate"
                          [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                          dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                          [maxDate]="endDate"
                          placeholder="dd/mm/yy"
                          showButtonBar="true"
                          [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Đến ngày</span>
            </div>
            <div class="col-md-12">
              <p-calendar [(ngModel)]="endDate"
                          [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                          dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                          [minDate]="startDate"
                          [maxDate]="maxEndDate"
                          placeholder="dd/mm/yy"
                          showButtonBar="true"
                          [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
            </div>
          </div>

          <!-- <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Trạng thái</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect  [options]="listStatus" [(ngModel)]="selectedStatus" defaultLabel="Chọn trạng thái"
                              optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                              selectedItemsLabel="{0} trạng thái được chọn"></p-multiSelect>
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <p-checkbox binary="true"
                          label="Báo giá hết hiệu lực" [(ngModel)]="isOutOfDate" (onChange)="changeOutOfDate()"></p-checkbox>
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <p-checkbox binary="true"
                          label="Báo giá phải hoàn thành trong tuần" [(ngModel)]="isCompleteInWeek" (onChange)="changeCompleteInWeek()"></p-checkbox>
            </div>
          </div> -->

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <button type="button" class="btn-search" (click)="searchQuote()">
                <span class="btn-search-text">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-12 action-wrapper buttons-header">
        <div class="row no-padding no-margin">
          <div class="col-md-12 no-padding" style="text-align: right;">
            <button (click)="approveOrReject(false, null)" type="button" class="btn-reject">
              <span class="btn-reject-text">Từ chối</span>
            </button>
            <button (click)="approveOrReject(true, null)" type="button" class="btn-approval">
              <span class="btn-approval-text">Phê duyệt</span>
            </button>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div> -->

      <div *ngIf="listQuote.length > 0" class="col-md-{{leftColNumber}} no-padding">
        <p-table #myTable [columns]="selectedColumns" [value]="listQuote" [resizableColumns]="true"
                  (sortFunction)="customSort($event)" [customSort]="true"
                  columnResizeMode="expand" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[10,20,30]"
                  [responsive]="true" (onPage)="pageChange($event)">
          <ng-template pTemplate="caption">
            <div style="text-align:left">
              <p-multiSelect  [options]="colsListQuote"
                              [(ngModel)]="selectedColumns"
                              [ngModelOptions]="{standalone: true}"
                              optionLabel="header"
                              selectedItemsLabel="{0} cột được chọn"
                              [style]="{minWidth: '200px'}" defaultLabel="Chọn cột"></p-multiSelect>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn
                  [pSortableColumn]="col.field"
                  [ngStyle]="{'text-align': col.textAlign, 'display': col.display}"
              >
                <span>
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column"
                  [ngSwitch]="col.field" [ngStyle]="{'text-align': col.textAlign, 'display': col.display}">
                <span class="ui-column-title">{{col.header}}</span>
                <span *ngSwitchCase="'quoteCode'" (click)="goToDetail(rowData['quoteId'])" class="link">
                  {{rowData[col.field]}}
                </span>
                <span *ngSwitchCase="'quoteDate'">
                  {{rowData[col.field]}}
                </span>
                <span *ngSwitchCase="'quoteStatusName'" class="status"
                      [ngStyle]="{'background-color': rowData['backgroundColorForStatus']}"
                      style="display: inline-block;
                      padding: 3px 3px;
                      color: white;
                      width: 100%;
                      text-align: center;">
                  {{rowData[col.field]}}
                </span>
                <span *ngSwitchCase="'totalAmount'">
                  {{rowData[col.field] | number}}
                </span>
                <span *ngSwitchCase="'totalAmountAfterVat'">
                  {{rowData[col.field] | number}}
                </span>
                <span *ngSwitchCase="''">
                    <button (click)="approveOrReject(false, rowData)" type="button" class="btn-reject">
                        <span class="btn-reject-text">Từ chối</span>
                      </button>
                      <button (click)="approveOrReject(true, rowData)" type="button" class="btn-approval">
                        <span class="btn-approval-text">Phê duyệt</span>
                      </button>
                  </span>
                <span *ngSwitchDefault>
                  {{rowData[col.field]}}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!(listQuote.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
        <div class="box-no-data">
          <img src="/assets/icons/components/box.svg" class="box-icon">
          <div>
            <span>Hiện tại không có dữ liệu</span>
          </div>
        </div>
      </div>
      <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
        <div class="box-filter">
          <div class="row no-margin">
            <div class="col-md-12">
              <span>Mã báo giá</span>
            </div>
            <div class="col-md-12">
              <input type="text" class="quote-code-text" placeholder="Nhập mã báo giá" [(ngModel)]="quoteCode">
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Từ ngày</span>
            </div>
            <div class="col-md-12">
              <p-calendar [(ngModel)]="startDate"
                          [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                          dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                          [maxDate]="endDate"
                          placeholder="dd/mm/yy"
                          showButtonBar="true"
                          [inputStyle]="{'width':'100%'}" [baseZIndex]="999"></p-calendar>
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Đến ngày</span>
            </div>
            <div class="col-md-12">
              <p-calendar [(ngModel)]="endDate"
                          [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
                          dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                          [minDate]="startDate"
                          [maxDate]="maxEndDate"
                          placeholder="dd/mm/yy"
                          showButtonBar="true"
                          [inputStyle]="{'width':'100%'}" [baseZIndex]="999"></p-calendar>
            </div>
          </div>
<!--
          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <span>Trạng thái</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect  [options]="listStatus" [(ngModel)]="selectedStatus" defaultLabel="Chọn trạng thái"
                              optionLabel="categoryName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
                              selectedItemsLabel="{0} trạng thái được chọn"></p-multiSelect>
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <p-checkbox binary="true"
                          label="Báo giá hết hiệu lực" [(ngModel)]="isOutOfDate" (onChange)="changeOutOfDate()"></p-checkbox>
            </div>
          </div>

          <div class="row no-margin">
            <div class="col-md-12 mt-5">
              <p-checkbox binary="true"
                          label="Báo giá phải hoàn thành trong tuần" [(ngModel)]="isCompleteInWeek" (onChange)="changeCompleteInWeek()"></p-checkbox>
            </div>
          </div>
   -->
          <div class="row no-margin">
            <div class="col-md-12 mt-5" style="text-align: right;">
              <button type="button" class="btn-search" (click)="searchQuote()">
                <span class="btn-search-text">Tìm kiếm</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
