<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="cash-book-list">
  <div class="row no-margin">
    <div class="box-header">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="/assets/icons/components/cash-book.svg" class="Money-2">
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Sổ quỹ tiền mặt</div>
                  <div class="box-header-subtitle">
                    {{listCashBook.length}} bản ghi - Sắp xếp theo ngày gần nhất - Cập nhật
                    {{nowDay | date : 'dd/MM/yyyy'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn-create"><span class="btn-create-text">Xuất excel</span></button>
            <div style="clear: both;"></div>
          </div>
          <div class="col-md-12">
            <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter" (click)="showFilter()">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách" [(ngModel)]="filterGlobal"
                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div *ngIf="isShowFilterTop" class="col-md-12 no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12">
            <span>Đơn vị tài chính</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [(ngModel)]="organizationIds" [options]="listOrganization" defaultLabel="Chọn đơn vị"
              optionLabel="organizationName" [style]="{'width': '100%'}" [resetFilterOnHide]="true" itemSize="30"
              [virtualScroll]="true" selectedItemsLabel="{0} đơn vị được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Người tạo</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [(ngModel)]="createdByIds" [options]="listEmployee" defaultLabel="Chọn người tạo" itemSize="30"
              optionLabel="employeeName" [style]="{'width': '100%'}" [resetFilterOnHide]="true" [virtualScroll]="true"
              selectedItemsLabel="{0} đơn vị được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Từ ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="fromDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" placeholder="dd/mm/yy" showButtonBar="true"
              [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Đến ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="toDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" placeholder="dd/mm/yy" showButtonBar="true"
              [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-md-12 mt-5" style="text-align: right;">
            <button type="button" class="btn-search" (click)="getData()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="listCashBook.length > 0" class="col-md-{{leftColNumber}} no-padding" style="border: 1px solid #ccc;">
      <div class="row" style="margin-left: 20px !important;margin-right: 17px;    margin-top: 12px;
      margin-bottom: 12px;">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-{{colSumarySection}} no-padding">
              <div class="number-header-wrapper">
                <div class="row">
                  <div class="col-md-12 select-month">
                    <div class="total-product-label">Số tiền thu (VNĐ)</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 total-product-number-wrapper">
                    <span class="total-product-number">{{this.totalCashReceipt | number}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-{{colSumarySection}} no-padding">
              <div class="number-header-wrapper">
                <div class="row">
                  <div class="col-md-12 select-month">
                    <div class="total-product-label">Số tiền chi (VNĐ)</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 total-product-number-wrapper">
                    <span class="total-product-number">{{this.totalCashPayments | number}}</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-{{colSumarySection}} no-padding"
              [style.margin-top]="colSumarySection == 6 ? '10px': '0px'">
              <div class="number-header-wrapper">
                <div class="row">
                  <div class="col-md-12 select-month">
                    <div class="total-product-label">Số dư đầu kỳ (VNĐ)</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 total-product-number-wrapper">
                    <span class="total-product-number">{{this.openingSurplus | number}}</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-{{colSumarySection}} no-padding"
              [style.margin-top]="colSumarySection == 3 ? '0px': '10px'">
              <div class="number-header-wrapper">
                <div class="row">
                  <div class="col-md-12 select-month">
                    <div class="total-product-label">Số dư hiện tại (VNĐ)</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 total-product-number-wrapper">
                    <span class="total-product-number">{{this.closingSurplus | number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
        <p-accordionTab header="Danh sách sổ quỹ" [selected]="true">
          <p-table #myTable [columns]="selectedColumns" [value]="listCashBook" (sortFunction)="customSort($event)"
            [customSort]="true" [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,20,30]" [responsive]="true" class="table-border">
            <ng-template pTemplate="caption">
              <div style="text-align:left">
                <p-multiSelect [options]="colsListProduct" [(ngModel)]="selectedColumns"
                  [ngModelOptions]="{standalone: true}" optionLabel="header" selectedItemsLabel="{0} cột được chọn"
                  [style]="{minWidth: '200px'}" defaultLabel="Chọn cột"></p-multiSelect>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                  [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width' : col.width}">
                  <span>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field"
                  [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width' : col.width}">
                  <span class="ui-column-title">{{col.header}}</span>
                  <span *ngSwitchCase="'code'" class="link" (click)="gotoView(rowData)">
                    {{rowData[col.field]}}
                  </span>

                  <span *ngSwitchCase="'createdDate'">
                    {{rowData[col.field] | date: 'dd/MM/yyyy'}}
                  </span>
                  <span *ngSwitchCase="'cashDate'">
                    {{rowData[col.field] | date: 'dd/MM/yyyy'}}
                  </span>

                  <span *ngSwitchCase="'receiptMoney'">
                    {{rowData[col.field] | number}}
                  </span>
                  <span *ngSwitchCase="'payableMoney'">
                    {{rowData[col.field] | number}}
                  </span>

                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div style="clear: both;"></div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div *ngIf="!(listCashBook.length > 0)" class="col-md-{{leftColNumber}} no-padding no-data">
      <div class="box-no-data">
        <img src="/assets/icons/components/box.svg" class="box-icon">
        <div>
          <span>Hiện tại không có dữ liệu</span>
        </div>
      </div>
    </div>

    <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
      <div class="box-filter">
        <div class="row no-margin">
          <div class="col-md-12">
            <span>Đơn vị tài chính</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [(ngModel)]="organizationIds" [options]="listOrganization" defaultLabel="Chọn đơn vị" 
              optionLabel="organizationName" [style]="{'width': '100%'}" [resetFilterOnHide]="true" itemSize="30"
              [virtualScroll]="true" selectedItemsLabel="{0} đơn vị được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Người tạo</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [options]="listEmployee" [(ngModel)]="createdByIds" defaultLabel="Người tạo" itemSize="30"
              [virtualScroll]="true" optionLabel="employeeName" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
              selectedItemsLabel="{0} người tạo được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Từ ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="fromDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" placeholder="dd/mm/yy" showButtonBar="true" 
              [maxDate]="toDate ? toDate : maxEndDate" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Đến ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="toDate" [yearNavigator]="true" yearRange="{{minYear}}:{{currentYear}}"
              dateFormat="dd/mm/yy" [style]="{'width':'100%'}" placeholder="dd/mm/yy" showButtonBar="true"
              [minDate]="fromDate" [maxDate]="maxEndDate" [inputStyle]="{'width':'100%'}" [baseZIndex]="9999"></p-calendar>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-md-12 mt-5" style="text-align: right;">
            <button type="button" class="btn-search" (click)="getData()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>