.add-task-scope-dialog .header {
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #cccccc;
}

.add-task-scope-dialog .header-box-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.add-task-scope-dialog .header-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-top: 16px;
    margin-left: 10px;
}

.add-task-scope-dialog .buffer-top {
    margin-top: 1.2rem;
}

.add-task-scope-dialog .buffer-bottom {
    margin-bottom: 15px;
}

.add-task-scope-dialog .buffer-bottom-label {
    margin-bottom: 3px;
}

.add-task-scope-dialog .btn-move {
    width: 20px !important;
    height: 20px !important;
}

.add-task-scope-dialog .mr-5 {
    margin-right: 5px;
}

.add-task-scope-dialog .icons-move {
    font-size: 10px !important;
}

.add-task-scope-dialog .required {
    color: red;
}

.add-task-scope-dialog .error-message-span {
    color: red;
}

.add-task-scope-dialog .title {
    font-size: 15px;
    font-weight: bold !important;
    color: black;
}

.add-task-scope-dialog .title-2 {
    font-size: 16px;
    font-weight: bold !important;
    color: black;
}

.add-task-scope-dialog .customer-name {
    width: 119px;
    height: 20px;
    font-family: 'Inter UI';
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.add-task-scope-dialog .add-product-text {
    width: 146px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #0f62fe;
    cursor: pointer;
}

.add-task-scope-dialog .customer-type {
    width: 106px;
    height: 14px;
    font-family: 'Inter UI';
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #4d5358;
}

.add-task-scope-dialog .btn-remove {
    width: 72px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
}

.add-task-scope-dialog .btn-remove-text {
    width: 24px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #121619;
}

.add-task-scope-dialog .save-and-new {
    width: 142px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #0f62fe;
    background-color: #ffffff;
    margin-left: 5px;
}

::ng-deep .add-task-scope-dialog .ui-dropdown {
    min-width: 0px !important;
}

::ng-deep .add-task-scope-dialog .ui-menu ul {
    text-align: left;
}

.add-task-scope-dialog .btn-save {
    width: 72px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border: solid 1px #cccccc;
    margin-left: 5px;
}

.add-task-scope-dialog .btn-save-text {
    width: 24px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


.add-task-scope-dialog .customer-infor {
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    border: solid 1px #cccccc;
    padding-bottom: 10px;
}

/*Begin: Customize Accordion */

::ng-deep .add-task-scope-dialog .ui-accordion .ui-accordion-header a {
    border: 1px solid #ffffff !important;
    background-color: #ffffff !important;
    font-size: 16px;
}

::ng-deep .add-task-scope-dialog .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
    color: #121619 !important;
}

::ng-deep .add-task-scope-dialog .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
    color: #121619 !important;
}

::ng-deep .add-task-scope-dialog .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: #121619 !important;
}

::ng-deep .add-task-scope-dialog .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    color: #121619 !important;
}

::ng-deep .add-task-scope-dialog .ui-accordion .ui-accordion-content {
    border: 1px solid #ffffff !important;
    background-color: #ffffff !important;
}

/*End: Customize Accordion */

.add-task-scope-dialog .box-handle-infor {
    border-right: 1px dashed;
}

.add-task-scope-dialog .cus-avatar {
    width: 50%;
    border-radius: 50%;
}

.add-task-scope-dialog .error-message-span {
    color: red !important;
}

.add-task-scope-dialog .infor-label {
    width: 97px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #4d5358;
}

.add-task-scope-dialog .infor-value {
    width: 67px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.add-task-scope-dialog .box-level {
    width: 125px;
    height: 32px;
    border-radius: 20px;
    background-color: rgba(255, 59, 48, 0.1);
    margin-left: 25px;
    padding-top: 5px;
}

.add-task-scope-dialog .level-text {
    width: 93px;
    height: 14px;
    font-family: 'Inter UI';
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ff3b30;
}

.add-task-scope-dialog .point-text {
    width: 98px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #4d5358;
}

.add-task-scope-dialog .point-number {
    width: 37px;
    height: 34px;
    font-family: 'Inter UI';
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #0f62fe;
}

.add-task-scope-dialog .box-money {
    height: 158px;
    border-radius: 4px;
    border: solid 1px #dde1e6;
    background-color: #ffffff;
    padding: 5px 5px;
}

.add-task-scope-dialog .money-label {
    width: 81px;
    height: 20px;
    font-family: 'Inter UI';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.add-task-scope-dialog .box-money-number {
    margin-top: 20%;
    text-align: center;
}

.add-task-scope-dialog .money-number {
    width: 170px;
    height: 34px;
    font-family: 'Inter UI';
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #121619;
}

.add-task-scope-dialog .btn-cancel-note {
    width: 72px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #ffffff;
}

.add-task-scope-dialog .save-cancel-lable {
    width: 24px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #121619;
}

.add-task-scope-dialog .btn-save-note {
    width: 158px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border: solid 1px #cccccc;
    margin-left: 5px;
}

.add-task-scope-dialog .save-note-lable {
    width: 110px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.add-task-scope-dialog .w100 {
    width: 100%;
    height: 34px;
}

.add-task-scope-dialog .link {
    font-family: 'Inter UI';
    color: #007ad9;
    cursor: pointer;
    font-size: 13px;
}

.add-task-scope-dialog .btn-choose-time {
    width: 150px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding-top: 6px;
}

.add-task-scope-dialog .icon-choose-left {
    position: relative;
    cursor: pointer;
    left: 5px;
}

.add-task-scope-dialog .choose-label {
    position: relative;
    left: 16px;
}

.add-task-scope-dialog .icon-choose-right {
    position: relative;
    cursor: pointer;
    right: -28px;
}


.add-task-scope-dialog .btn-send-gift {
    width: 132px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border: solid 1px #cccccc;
}

.add-task-scope-dialog .btn-send-gift-icon {
    width: 13px;
    height: 14.9px;
    object-fit: contain;
}

.add-task-scope-dialog .btn-send-gift-text {
    width: 58px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.add-task-scope-dialog .no-data {
    height: 330px;
    width: 100%;
    border: solid 1px #d7dbe0;
    background-color: #f2f4f8;
    text-align: center;
}

.add-task-scope-dialog .box-no-data {
    position: relative;
    top: 25%;
}

.add-task-scope-dialog .box-icon {
    width: 57.1px;
    height: 58px;
    object-fit: contain;
}

/* CSS time line */

.add-task-scope-dialog .timeline>li {
    margin-right: 0 !important;
}

.add-task-scope-dialog .style-delete {
    color: #FE747A;
    cursor: pointer;
    font-size: 1.55em;
}

.add-task-scope-dialog .style-edit {
    cursor: pointer;
    font-size: 1.55em;
}

.add-task-scope-dialog .note-user {
    font-family: 'Inter UI';
    font-weight: bold;
}

.add-task-scope-dialog .timeline>li>.timeline-item {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.add-task-scope-dialog .timeline-content {
    margin-top: 20px;
}

.add-task-scope-dialog .bg-blueX {
    background-color: #4E6BA5 !important;
}

.add-task-scope-dialog .color-w {
    color: #fff !important;
}

.add-task-scope-dialog .timeline-item .onHover {
    display: none;
}

.add-task-scope-dialog .timeline-item:hover .onHover {
    display: block;
}

.add-task-scope-dialog .material-icons {
    cursor: pointer;
}

.add-task-scope-dialog .timeline-user-avatar {
    border-radius: 50%;
    margin-right: 5px;
    float: left;
}

.add-task-scope-dialog .note-title {
    font-size: 11px !important;
    color: #222 !important;
    font-weight: normal !important;
}

.add-task-scope-dialog .time-note {
    font-size: 10px !important;
    color: #5d5a5a !important;
    font-weight: normal !important;
}

.add-task-scope-dialog .timeline-body {
    padding: 10px 15px;
}

.add-task-scope-dialog .file-upload-zone .col-md-4:nth-child(3n+1) {
    padding-right: 5px !important;
}

.add-task-scope-dialog .file-upload-zone .col-md-4:nth-child(3n+2) {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.add-task-scope-dialog .file-upload-zone .col-md-4:nth-child(3n) {
    padding-left: 5px !important;
}

.add-task-scope-dialog .file-upload-zone .col-md-4:nth-child(3n+1) {
    padding-right: 5px !important;
}

.add-task-scope-dialog .file-upload-zone .col-md-4:nth-child(3n+2) {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.add-task-scope-dialog .file-upload-zone .col-md-4:nth-child(3n) {
    padding-left: 5px !important;
}

.add-task-scope-dialog .file-item div:nth-child(1), .add-task-scope-dialog .file-item div:nth-child(3) {
    padding-left: 0 !important;
}

.add-task-scope-dialog .file-item div:nth-child(2) {
    padding: 0 5px !important;
}

.add-task-scope-dialog .item-name {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.add-task-scope-dialog .preview-doc {
    cursor: pointer;
}

.add-task-scope-dialog .box-search {
    text-align: right;
    margin-top: 15px;
}

.add-task-scope-dialog .text-search {
    width: 364px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #dde1e6;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.add-task-scope-dialog .btn-create {
    width: 116px;
    height: 32px;
    border: solid 1px #c1c7cd;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    margin-left: 5px;
}

.add-task-scope-dialog .btn-create-text {
    width: 68px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

/* End */

.add-task-scope-dialog .btn-choose-time {
    width: 150px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #c1c7cd;
    background-color: #f2f4f8;
    padding-top: 6px;
}

.add-task-scope-dialog .icon-choose-left {
    position: relative;
    cursor: pointer;
    left: 5px;
}

.add-task-scope-dialog .choose-label {
    position: relative;
    left: 16px;
}

.add-task-scope-dialog .icon-choose-right {
    position: relative;
    cursor: pointer;
    right: -28px;
}

.add-task-scope-dialog .btn-send-gift {
    width: 132px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
    background-color: #0f62fe;
    border: solid 1px #cccccc;
}

.add-task-scope-dialog .btn-send-gift-icon {
    width: 13px;
    height: 14.9px;
    object-fit: contain;
}

.add-task-scope-dialog .btn-send-gift-text {
    width: 58px;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


.add-task-scope-dialog .fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    background: #eee;
}

.add-task-scope-dialog .mt-5 {
    margin-top: 5px;
}

.add-task-scope-dialog .mt-15 {
    margin-top: 15px;
}

.add-task-scope-dialog .box-icon {
    width: 57.1px;
    height: 58px;
    object-fit: contain;
}

.add-task-scope-dialog .table-row-checkbox {
    width: 150px;
    text-align: center;
}

.add-task-scope-dialog .box-title {
    border: 1px solid lightgray;
    margin-top: 15px;
}

/* ::ng-deep .add-task-scope-dialog .ui-inputtext{
    height: 36px;
  } */

::ng-deep .add-task-scope-dialog .ui-multiselect {
    height: 34px;
}

::ng-deep .add-task-scope-dialog .number-input {
    height: 34px;
}

::ng-deep .add-task-scope-dialog .ui-dropdown {
    height: 34px;
}

::ng-deep .add-task-scope-dialog .ui-fileupload-content {
    text-align: center;
}

.ios-warning {
    position: relative;
    top: 5px;
    width: 16.2px;
    height: 15px;
    object-fit: contain;
    cursor: pointer;
}

.ios-warning-active {
    position: relative;
    top: 5px;
    width: 16.2px;
    height: 15px;
    object-fit: contain;
    cursor: pointer;
}

.box-waring {
    display: inline-block;
    width: 49px;
    height: 30px;
    border-radius: 4px;
    background-color: #ffcc00;
    text-align: center;
    cursor: pointer;
}

.notification {
    position: absolute;
    top: 38px;
    width: 307px;
    box-shadow: 0 6px 12px 0 rgba(18, 22, 25, 0.16);
    border: solid 1px #dde1e6;
    background-color: #ffffff;
    z-index: 1;
}

/*Begin: Tạo góc nhọn trên hộp thoại */

.notification::before {
    position: absolute;
    bottom: 100%;
    left: 16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid #ffffff;
    border-width: 8px;
    border-bottom-color: #d1d5da;
}

.notification::after {
    position: absolute;
    bottom: 100%;
    left: 16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid transparent;
    margin-bottom: -1px;
    border-width: 8px;
    border-bottom-color: #ffffff;
}

/*End: Tạo góc nhọn trên hộp thoại */

.notification .notifi-row {
    width: 100%;
    border-bottom: 1px solid #dde1e6;
    padding: 10px 0px;
    cursor: pointer;
    text-align: left;
}

.notification .notifi-row .ios-alert {
    position: absolute;
    left: 15px;
    width: 15.9px;
    height: 15.9px;
    object-fit: contain;
}

.notification .notifi-row .notifi-text {
    position: relative;
    left: 50px;
    width: 100%;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ff3b30;
}

.notification .notifi-row-footer {
    width: 100%;
    padding: 10px 10px;
    text-align: right;
}

.notification .notifi-row-footer .notifi-text-footer {
    width: 100%;
    height: 16px;
    font-family: 'Inter UI';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #121619;
}

@media only screen and (max-width: 375px) {
    .add-task-scope-dialog .box-handle-infor {
        border-right: none;
    }
    .add-task-scope-dialog .box-level {
        margin-left: 80px;
    }
    .add-task-scope-dialog .text-search {
        width: 264px;
    }
    .add-task-scope-dialog .btn-create {
        margin-top: 5px;
    }
    .add-task-scope-dialog span.ui-column-title {
        width: 150px;
    }
}

@media only screen and (max-width: 414px) and (min-width: 376px) {
    .add-task-scope-dialog .box-handle-infor {
        border-right: none;
    }
    .add-task-scope-dialog .box-level {
        margin-left: 105px;
    }
    .add-task-scope-dialog .text-search {
        width: 303px;
    }
    .add-task-scope-dialog .btn-create {
        margin-top: 5px;
    }
    .add-task-scope-dialog span.ui-column-title {
        width: 170px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .add-task-scope-dialog .box-handle-infor {
        border-right: none;
    }
    .add-task-scope-dialog .box-level {
        margin-left: 160px;
    }
    .add-task-scope-dialog .text-search {
        width: 427px;
    }
    .add-task-scope-dialog .btn-create {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 1423px) and (min-width: 769px) {
    .add-task-scope-dialog .box-handle-infor {
        border-right: none;
    }
    .add-task-scope-dialog .box-level {
        margin-left: 18px;
    }
    .add-task-scope-dialog .money-number {
        font-size: 14px;
    }
}