/* .bg-white {
	background: #fff;
}
.shadow {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: rgba(45,47,107, 0.5) !important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
::ng-deep .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
	background-color: rgba(45,47,107, 0.5) !important;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element,
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: rgb(45,47,107) !important;
}

.add-content-customerlist {
	width: 100%;
	padding: 0 15px;
}
.add-content-customerlist .button-action {
	padding: 0.75rem 1rem;
	margin-bottom: 1.25rem;
	float: left;
	width: 100%;
}
.add-content-customerlist .button-action button {
	float: right;
	margin-left: .5rem;
}
.add-content-customerlist .button-action h4 {
	margin-top: .5rem;
	margin-bottom: 0;
	display: inline-block;
}
.add-content-customerlist .btn-bordered {
	border: 1px solid #ddd;
}
.add-content-customerlist .form-content {
	float: left;
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 15px;
}
  .add-content-customerlist .form-content h4 {
		margin-top: 0.5rem;
		display: inline-block;
  }
  .w100 {
    width: 100% !important;
  }
.add-step{
	position: fixed;
    bottom: 52px;
    right: 40px;
}
.v-radio.mr-2{
	margin-right: 15px;
}
.step-process {
  padding-left: 0;
  list-style: none;
}
.form-step {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}
.mat-elevation-z8{
	box-shadow: none !important;
}
.edit-icon, .delete-icon{
	cursor: pointer;
	font-size: 20px;
}
.delete-icon {
  color: rgb(248, 84, 109);
}
.remove-file{
	vertical-align: middle;
	cursor: pointer;
}
.item-name{
	display: inline;
}
.add-content-customerlist .search-button{
	float: right;
  min-width: 30px;
	height: 30px;
	margin-top: 4px;
  background-color: #6D98E7;
	color: #fff;
	border: 0;
	margin-left: 0.5rem;
	border-radius: 2px
}
.pr0{
	padding-right: 0px;
}
.img-icon{
  height: 25px;
	border-radius: 50%;
	margin-right: 0.25rem;
}
::ng-deep.add-content-customerlist .mat-checkbox-inner-container-no-side-margin {
	width: 12px !important;
	height: 12px !important;
}
mat-cell, mat-header-cell{
	overflow: visible;
	display: flex;
}
mat-cell {
	font-size: 13px;
	color: black;
}
mat-header-cell {
	font-size: 14px;
	color: black;
}
.table-header {
  background-color: #D7D7D7 !important;
  color: #333333 !important;
}
#customer-table .mat-header-cell .fa-sort{
	padding-left: 5px;
  padding-top: 2px;
}
#customer-table .mat-header-cell:first-child, #customer-table .mat-cell:first-child{
	max-width: 40px;
}
.switch-view {
	font-size: 40px;
	position: relative;
	margin-top: 5px;
	right: 5px;
	color: rgb(100, 100, 100);
}
.table-buttons {
	float: right;
	position: relative;
	top: 20px;
}
.search-header{
	background: #f5f5f5;
	margin: -10px 0 20px;
	padding: 0.5rem 15px;
	border-bottom: 1px solid #ddd;
}

.mat-raised-button {
	font-family: 'Open Sans', sans-serif;
	min-width: 130px;
}

.mat-table {
	font-family: 'Open Sans', sans-serif;
}

.mat-checkbox {
	font-family: 'Open Sans', sans-serif;
}

.mat-paginator {
	font-family: 'Open Sans', sans-serif;
}

.mt-1e {
	margin-top: 1.3em;
}

.mat-column-select {
  flex: 0 0 5%;
}

.mat-column-customerName {
  flex: 0 0 25%;
}

.mat-column-customerEmail {
  flex: 0 0 25%;
}

.mat-column-customerPhone {
  flex: 0 0 10%;
}

.mat-column-PIC {
  flex: 0 0 25%;
}

.mat-column-action {
  flex: 0 0 10%;
}

.config_icon {
  position: relative;
  top: 5px;
}

::ng-deep .customer-list #customer-table .mat-select-value {
	opacity: 0 !important;
	width: 50%;
}
.mat-row:nth-child(even) {
  background-color: #ffffff;
}

.mat-row:nth-child(odd) {
  background-color: #F2F2F2;
}
.mat-header-row {
  background-color: #D7D7D7;
  font-weight: bold;
  color: #333333;
  min-height: 50px;
}

.mat-header-cell {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  overflow: visible;
}

.clear {
  position: relative;
  float: right;
  bottom: 10px;
  left: -10px;
  font-size: 15px !important;
}

.cursor {
  cursor: pointer;
}
 */

.customer-list {
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(18, 22, 25, 0.08);
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.customer-list .pb-1 {
  padding-bottom: 0.75rem;
}

.customer-list .box-header {
  width: 100%;
  background-image: linear-gradient(to top, #f2f4f8, #dde1e6);
}

.customer-list .btn-create {
  float: right;
  width: 98px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #007aff;
}

.customer-list .export-exel {
  width: 112px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  margin-right: 5px;
}

.customer-list .header-button {
  margin-top: 5px;
}

.customer-list .buttons-header {
  padding-top: 13px;
  padding-right: 10px;
  border-top: 1px solid #cccccc;
  background-color: #fff;
  padding-bottom: 13px;
}

.customer-list .export-exel .export-exel-text {
  width: 64px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.customer-list .import-exel {
  width: 134px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #0f62fe;
  background-color: #ffffff;
  margin-right: 5px;
}

.customer-list .import-exel-text {
  width: 86px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: nomal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #0f62fe;
}

.customer-list .btn-create-text {
  width: 50px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.customer-list .pic-button {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  margin-right: 5px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
}

.customer-list .pic-button-text {
  width: 126px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.customer-list .global-filter {
  width: 237px !important;
}

.customer-list .download-template {
  width: 109px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  margin-right: 5px;
}

.customer-list .download-templete-text {
  width: 90px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.customer-list .add-order {
  width: 136px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  margin-right: 5px;
}

.customer-list .add-order-text {
  width: 96px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.customer-list .add-quote {
  width: 95px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
}

.customer-list .add-quote-text {
  width: 72px;
  height: 16px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}

.customer-list .box-header-group {
  margin-top: 10px;
}

.customer-list .box-header-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0f62fe;
  text-align: center;
}

.customer-list .Money-2 {
  width: 20.4px;
  height: 18.5px;
  object-fit: contain;
  margin-top: 10px;
}

.customer-list .box-header-title {
  /* width: 177px; */
  height: 24px;
  font-family: "Inter UI";
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.customer-list .box-header-subtitle {
  font-family: "Inter UI";
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #4d5358;
}

.customer-list .box-header-group-btn {
  text-align: right;
  padding-top: 5px;
}

.customer-list .btn-refresh {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
}

.customer-list .ios-refresh {
  width: 12px;
  height: 14px;
  object-fit: contain;
}

.customer-list .btn-filter {
  width: 110px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #007aff;
  background-color: #007aff;
  margin-left: 5px;
}

.customer-list .ios-funnel {
  width: 12.3px;
  height: 11.3px;
  object-fit: contain;
  margin-right: 5px;
}

.customer-list .btn-filter-text {
  width: 36px;
  height: 13px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.customer-list .iput-text {
  width: 248px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding-left: 5px;
  margin-left: 5px;
}

.customer-list .box-filter {
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
  padding: 10px 0px;
}

.customer-list .quote-code-text {
  width: 100%;
  height: 32px;
  font-family: "Inter UI";
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #ffffff;
  padding-left: 5px;
}

.customer-list .quote-code-text:focus {
  border-color: #007ad9;
  outline: 0 none;
}

.customer-list .mt-5 {
  margin-top: 5px;
}

.customer-list .btn-search {
  width: 72px;
  height: 32px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #0f62fe;
}

.customer-list .btn-search:focus {
  border-color: #007ad9;
  outline: 0 none;
}

.customer-list .btn-search-text {
  width: 36px;
  height: 13px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.customer-list .import-file {
  width: 170px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px 0 rgba(18, 22, 25, 0.08);
  background-color: #007aff;
}

.customer-list .vendor-product-price-list .text-import-file {
  width: 24px;
  height: 16px;
  font-family: 'Inter UI';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #121619;
}

.customer-list .import-file {
  width: 170px;
  height: 32px;
  border-radius: 4px;
  color: black;
  border: solid 1px #c1c7cd;
}

.customer-list .text-import {
  color: white;
}

.customer-list .mt-25 {
  margin-top: 25px;
}

.customer-list .choose-file {
  width: 170px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #c1c7cd;
  background-color: #f2f4f8;
}

.customer-list .text-choose-file {
  /* width: 170px; */
  height: 32px;
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #121619;
}


::ng-deep .customer-list .ui-dropdown-label {
  font-family: "Inter UI";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
}

/* Config rows Per Page Options */

::ng-deep .customer-list .ui-inputtext {
  padding: 0.3em;
}

.customer-list .link {
  font-family: "Inter UI";
  color: #007ad9;
  cursor: pointer;
  font-size: 13px;
}

.ui-button-text-empty {
  display: none;
}

:ng-deep .customer-list .ui-widget-header {
  background-color: #fff !important;
}

:ng-deep .customer-list .ui-table.ui-table-tbody>tr {
  background-color: #fff !important;
}

::ng-deep .customer-list .customer-dropdown>.ui-dropdown {
  width: 100%;
}

::ng-deep .customer-list .ui-button-text-only {
  display: none;
}

::ng-deep .customer-list .ui-buttonset.ui-button-secondary>.ui-button.ui-state-default {
  border-radius: 50% !important;
  height: 35px !important;
  width: 35px !important;
  background-color: #d7dbe0;
}

::ng-deep .customer-list .ui-inputswitch:not(.ui-inputswitch-checked) .ui-inputswitch-slider {
  background-color: #4ad2a6 !important;
}

.customer-list .mode-section {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

::ng-deep .customer-list .ui-dialog-content {
  overflow: hidden !important;
}

/* Máy để bàn */

@media only screen and (min-width: 1025px) and (max-width: 1423px) {
  /* .customer-list .action-wrapper{
		padding-right: 10px !important;
	} */
}

/* Ipad Pro */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .customer-list .box-header-icon {
    width: 27px;
    height: 27px;
  }
  .customer-list .Money-2 {
    width: 15.4px;
    height: 11.5px;
    margin-top: 7px;
  }
  .customer-list .iput-text {
    margin-top: 5px;
  }
  .customer-list .download-template {
    margin-right: 0px !important;
  }
  .customer-list .add-quote {
    margin-right: 0px !important;
  }
}

/* Ipad */

@media only screen and (min-width: 375px) and (max-width: 768px) {
  /* .customer-list .btn-create {
    margin-top: 5px;
  } */
  .customer-list .add-order {
    margin-right: 0px !important;
  }
  .customer-list .add-quote {
    margin-right: 0px !important;
  }
  .customer-list .download-template {
    margin-bottom: 5px;
  }
}

/* Iphone 6/7/8 Plus */

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .customer-list .iput-text {
    margin-top: 5px;
  }
  .customer-list .download-template {
    margin-right: 0px !important;
    margin-bottom: 5px;
  }
  .customer-list .add-quote {
    margin-right: 0px !important;
  }

  .customer-list .import-exel {
    width: auto;
  }

  .customer-list .btn-filter {
    width: auto;
  }

  .customer-list .add-order {
    margin-right: 10px;
  }

  .customer-list span.ui-column-title {
    width: 160px;
  }
}

/* Iphone 6/7/8/X */

@media only screen and (max-width: 375px) {
  .customer-list .iput-text {
    margin-top: 5px;
  }
  .customer-list .btn-create {
    margin-top: 5px;
  }
  .customer-list .download-template {
    margin-right: 0px !important;
    margin-bottom: 5px;
  }
  .customer-list .add-quote {
    margin-right: 0px !important;
  }

  .customer-list .import-exel {
    margin-top: 5px;
  }

  .customer-list .btn-filter {
    width: auto;
  }

  .customer-list .add-order {
    margin-right: 10px;
  }

  .customer-list span.ui-column-title {
    width: 150px;
  }
}
