<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<div class="sales-dashboard-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <span class="title">{{ 'sales.title' | translate }}</span>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn-create" (click)="goToCreateOrder()"><span class="btn-create-text">Tạo đơn
              hàng</span></button>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <span style="font-size: 15px;">{{currentTimeString}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-content">
      <div class="row box-table-1 m-0">
        <div class="col-md-12 pb-15">
          <div class="col-md-12 select-time-sales">
            <div class="col-md-3">
              <label>{{ 'sales.start_date' | translate }}</label>
              <p-calendar styleClass="d-block" inputStyleClass="w100" [(ngModel)]="model.OrderStartDate"
                showButtonBar="true" dateFormat="dd/mm/yy">
              </p-calendar>
            </div>
            <div class="col-md-3">
              <label>{{ 'sales.end_date' | translate }}</label>
              <p-calendar styleClass="d-block" inputStyleClass="w100" [(ngModel)]="model.OrderEndDate"
                showButtonBar="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="col-md-3" *ngIf="isManager">
                <a role="button" (click)="openOrgDialog()" class="p-9">Chọn đơn vị <span class="required">*</span></a>
                <input class="w100" type="text" id="formOrganizationId" pInputText [(ngModel)]="orgNameDisplay" readonly
                  name="formOrganizationId" style="margin-top:5px;"/>
            </div>
            <div class="col-md-3 button-search" style="margin-top:18px;">
              <button style="margin-top:5px;" (click)="search_admin()" matTooltip="{{ 'order.tooltip.search' | translate }}"
                  class="btn-search">
                  <i class="fa fa-search"></i>
                  </button>
            </div>
          </div>
        </div>
        <div class="row pt-10 d-flex">
          <div class="col-md-12" style="margin-left:15px;">
            <span class="box-table-1-title ">Tổng doanh số bán hàng theo kỳ đã chọn: {{total_money_search |
              number}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <!--  *ngIf="isManager" -->
    <div class="form-content">
      <div class="row mb-20">
        <div class="col-md-6 mb-mb-15" >
          <div class="box-table-1 m-0 pt-0 min-height-520" style="display: flow-root;">
            <div class="row m-0 item-center">
              <div class="col-md-6">
                <span class="box-table-1-title"> Tỉ lệ doanh số theo nhóm sản phẩm</span>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-select name="LevelGroupProduct" [(ngModel)]="LevelGroupProduct"
                    placeholder="{{ 'sales.level' | translate }}"
                    (selectionChange)="changeDoughnutManager($event.value)">
                    <mat-option *ngFor="let item of listLevelGroupProduct" [value]="item.LevelGroupProduct">
                      {{
                      item.LevelGroupProductName
                      }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <ng-container *ngIf="chartShowByProductCategoryGorup">
              <div class="row">
                <canvas #canvas id="canvas">{{ chart }}</canvas>
              </div>
              <div class="row mt-40 legend">
                <div class="col-md-6 legend-chart" *ngFor="let data of doughnutData.labels; let i = index">
                  <span class="color-icon" [style.background]="doughnutData.datasets[0].backgroundColor[i]"></span>
                  <span class="legend-text">{{doughnutData.labels[i]}}: {{doughnutData.datasets[0].data[i]}}%</span>
                </div>
              </div>
            </ng-container>
            <div *ngIf="!chartShowByProductCategoryGorup" class="col-md-12 no-data">
              <div class="col-md-12 item-center min-height-440">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>{{ 'sales.no_data.chart' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box-table-1 m-0 pt-0 min-height-520" style="display: flow-root;">
            <div class="row m-0">
              <div class="col-md-12" style="padding: 1.34375em;">
                <span class="box-table-1-title">
                  Biểu đồ top doanh số theo nhân viên
                </span>
              </div>
              <div class="col-md-12">
                <ng-container *ngIf="chartBarShow">
                  <h6 style="color: #6d98e7;
                    font-weight: 600;padding: 10px 0;">
                    Doanh số(VND)
                  </h6>
                  <div class="row m-0">
                    <canvas #canvas_2 id="canvas_2">{{ chart_2 }}</canvas>
                  </div>
                </ng-container>
              </div>
            </div>
            <div *ngIf="!chartBarShow" class="col-md-12 no-data">
              <div class="col-md-12 item-center min-height-440">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>{{ 'sales.no_data.chart' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 mb-mb-15">
          <div class="box-table-1 m-0 pt-0 min-height-520" style="display: flow-root;">
            <div class="row m-0">
              <div class="col-md-12" style="padding: 1.34375em;">
                <span class="box-table-1-title">
                  Giá trị đơn hàng theo trạng thái
                </span>
              </div>
              <div class="col-md-12">
                <ng-container *ngIf="chartBarShowStatus">
                  <h6 style="color: #6d98e7;
                    font-weight: 600;padding: 10px 0;">
                    Doanh số(VND)
                  </h6>
                  <div class="row m-0">
                    <canvas #canvas_status id="canvas_status">{{ chart_status }}</canvas>
                  </div>
                </ng-container>
              </div>
            </div>
            <div *ngIf="!chartBarShowStatus" class="col-md-12 no-data">
              <div class="col-md-12 item-center min-height-440">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>{{ 'sales.no_data.chart' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="box-table-1 m-0 pt-0 min-height-520" style="display: flow-root;">
            <div class="row m-0">
              <div class="col-md-12" style="padding: 1.34375em;">
                <span class="box-table-1-title">
                  Giá trị đơn hàng giữa các tháng
                </span>
              </div>
              <div class="col-md-10" style="float: right;">
                <!-- <div class="col-md-3">
                  <div class="col-md-12">
                    <button (click)="search_admin()" matTooltip="{{ 'order.tooltip.search' | translate }}"
                      class="btn-search">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div> -->

                <div class="col-md-6 col-xs-6 timer">
                  <div class="col-md-12 " >
                    <label>Đến ngày</label>
                  </div>
                  <div class="col-md-12 " >
                    <p-calendar styleClass="d-block" inputStyleClass="w100" [(ngModel)]="orderStartDate"
                      (onSelect)="getMonthsOrder()" (onBlur)="getMonthsOrder()" showButtonBar="true"
                      dateFormat="dd/mm/yy">
                    </p-calendar>
                  </div>
                </div>
                <div class="col-md-6 col-xs-6 timer">
                  <div class="col-md-12 pl4">
                    <label>Khoảng thời gian</label>
                  </div>
                  <div class="col-md-12 pl4" >
                    <p-dropdown [options]="listMonthOption" [(ngModel)]="months" [autoDisplayFirst]="true"
                      [resetFilterOnHide]="true" optionLabel="name" (onChange)="getMonthsOrder()"
                      [style]="{'width': '100%'}"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <ng-container *ngIf="chartBarShowMonth">
                  <h6 style="color: #6d98e7;
                    font-weight: 600;padding: 20px 0 10px 0;margin-top:40px;">
                    Doanh số(VND)
                  </h6>
                  <div class="row m-0">
                    <canvas #canvas_month id="canvas_month">{{ chart_month }}</canvas>
                  </div>
                </ng-container>
              </div>
            </div>
            <div *ngIf="!chartBarShowMonth" class="col-md-12 no-data">
              <div class="col-md-12 item-center min-height-440">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>{{ 'sales.no_data.chart' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;"> 
        <!-- <div class="col-md-6">
          <div class="row box-table-1 m-0">
            <div class="row m-0 pb-10">
              <div class="col-md-8">
                <span class="box-table-1-title"> Top nhân viên có doanh số cao nhất</span>
              </div>
              <div class="col-md-4">
                <div class="view-all box-table-1-handle" style="text-align: right;" (click)="goToTopRevenue();"
                  *ngIf="chartShow">
                  <img src="/assets/icons/components/Double-Arrow-Left-3.svg" class="mr-3">
                  <a role="button">{{ 'sales.view_all' | translate }}</a>
                </div>
              </div>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="chartShow">
              <p-table [columns]="colsEmp" [value]="employeeList">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                      <span *ngSwitchCase="'total'"
                        style="display: block; text-align: right;">{{rowData[col.field] | number:0 }}</span>
                      <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div *ngIf="!chartShow" class="col-md-12 no-data">
              <div class="col-md-12 item-center">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>Hiện tại không có dữ liệu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-md-6 ">
          <div class="row box-table-1 m-0">
            <div class="row m-0 pb-10">
              <div class="col-md-8">
                <span class="box-table-1-title"> Đơn hàng mới nhất</span>
              </div>
              <div class="col-md-4">
                <div class="view-all box-table-1-handle" style="text-align: right;" (click)="goToTopOrderList();"
                  *ngIf="chartShow">
                  <img src="/assets/icons/components/Double-Arrow-Left-3.svg" class="mr-3">
                  <a role="button">{{ 'sales.view_all' | translate }}</a>
                </div>
              </div>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="chartShow">
              <p-table [columns]="colsOrderNew" [value]="orderTop5List">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                      <a *ngSwitchCase="'orderCode'" class="link-name" role="button"
                        matTooltip="{{rowData[col.field]}}"
                        (click)="goToDetail(rowData['orderId'])">{{rowData[col.field]}}</a>
                      <span style="text-align: right; display: block;" *ngSwitchCase="'amount'"
                        class="color-link">{{rowData[col.field]| number:0}}</span>
                      <a *ngSwitchCase="'customerName'" class="link-name" role="button"
                        matTooltip="{{rowData[col.field]}}"
                        (click)="onViewOrderDetail(rowData['customerId'])">{{rowData[col.field].trim().length > 33 ? rowData[col.field].trim().slice(0,30)+'...' : rowData[col.field].trim()}}</a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div *ngIf="!chartShow" class="col-md-12 no-data">
              <div class="col-md-12 item-center">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>Hiện tại không có dữ liệu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-md-6 " style="margin-bottom:15px;">
          <div class="row box-table-1 m-0">
            <div class="row m-0 pb-10">
              <div class="col-md-8">
                <span class="box-table-1-title"> Danh sách đơn hàng chờ xuất kho</span>
              </div>
              <div class="col-md-4">
                <div class="view-all box-table-1-handle" style="text-align: right;" (click)="goToTopOrderList();"
                  *ngIf="chartShow">
                  <img src="/assets/icons/components/Double-Arrow-Left-3.svg" class="mr-3">
                  <a role="button">{{ 'sales.view_all' | translate }}</a>
                </div>
              </div>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="chartShow">
              <p-table [columns]="colsOrderInventory" [value]="lstOrderInventory" [rows]="5" [paginator]="true"
                [rowsPerPageOptions]="[5,15,30]" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width':col.width}">
                      <span>
                        {{col.header}}
                      </span>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                      <span class="ui-column-title">{{col.header}}</span>
                      <a *ngSwitchCase="'orderCode'" class="link-name" role="button" matTooltip="{{rowData[col.field]}}"
                        (click)="goToDetail(rowData['orderId'])">{{rowData[col.field]}}</a>
                        
                      <span style=" display: inline-block;" *ngSwitchCase="'amount'"
                        class="color-link color-link-text">{{rowData[col.field]| number:0}}</span>
                      <a *ngSwitchCase="'customerName'" class="link-name" role="button"
                        matTooltip="{{rowData[col.field]}}"
                        (click)="onViewOrderDetail(rowData['customerId'])">{{rowData[col.field]?.trim().length > 33 ?
                        rowData[col.field]?.trim().slice(0,30)+'...' : rowData[col.field]?.trim()}}</a>
                      <span style="display: inline-block;" *ngSwitchCase="'orderDate'" class="color-link color-link-text">{{
                        rowData[col.field] | date:'dd/MM/yyyy' }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div *ngIf="!chartShow" class="col-md-12 no-data">
              <div class="col-md-12 item-center">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>Hiện tại không có dữ liệu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="row box-table-1 m-0">
            <div class="row m-0 pb-10">
              <div class="col-md-8">
                <span class="box-table-1-title"> Danh sách đơn hàng chờ xuất hóa đơn</span>
              </div>
              <div class="col-md-4">
                <div class="view-all box-table-1-handle" style="text-align: right;" (click)="goToTopOrderList();"
                  *ngIf="chartShow">
                  <img src="/assets/icons/components/Double-Arrow-Left-3.svg" class="mr-3">
                  <a role="button">{{ 'sales.view_all' | translate }}</a>
                </div>
              </div>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="chartShow">
              <p-table [columns]="colsOrderBill" [value]="lstOrderBill" [rows]="5" [paginator]="true"
                [rowsPerPageOptions]="[5,15,30]" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                      [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width':col.width}">
                      <span>
                        {{col.header}}
                      </span>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                      <span class="ui-column-title">{{col.header}}</span>
                      <a *ngSwitchCase="'orderCode'" class="link-name" role="button"
                        (click)="goToDetail(rowData['orderId'])">{{rowData[col.field]}}</a>
                        
                      <span style=" display: inline-block;" *ngSwitchCase="'amount'"
                        class="color-link color-link-text">{{rowData[col.field]| number:0}}</span>
                      <a *ngSwitchCase="'customerName'" class="link-name" role="button"
                        matTooltip="{{rowData[col.field]}}"
                        (click)="onViewOrderDetail(rowData['customerId'])">{{(rowData[col.field]==null||rowData[col.field]==undefined)?
                        "": (rowData[col.field].trim().length > 33 ? rowData[col.field].trim().slice(0,30)+'...' :
                        rowData[col.field].trim())}}</a>
                      <span style=" display: inline-block;" *ngSwitchCase="'orderDate'" class="color-link-text color-link">{{
                        rowData[col.field]| date:'dd/MM/yyyy' }}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div *ngIf="!chartShow" class="col-md-12 no-data">
              <div class="col-md-12 item-center">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>Hiện tại không có dữ liệu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" *ngIf="!isManager">
    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="box-table-1 m-0 " style="display: flow-root; min-height: 475px;">
            <div class="row m-0" style="padding: 1.34375em 0px;">
              <div class="col-md-8">
                <span class="box-table-1-title"> Đơn hàng mới nhất</span>
              </div>
              <div class="col-md-4">
                <div class="view-all box-table-1-handle" style="text-align: right;" (click)="goToOrderList()"
                  *ngIf="chartShow">
                  <img src="/assets/icons/components/Double-Arrow-Left-3.svg" class="mr-3">
                  <a role="button">
                    {{
                    'sales.view_all' | translate
                    }}
                  </a>
                </div>
              </div>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="chartShow">
              <p-table [columns]="colsOrderNew" [value]="orderList">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                      <a *ngSwitchCase="'orderCode'" class="link-name" role="button"
                        matTooltip="{{rowData[col.field]}}"
                        (click)="goToDetail(rowData['orderId'])">{{rowData[col.field]}}</a>
                      <span style="text-align: right; display: block;" *ngSwitchCase="'amount'"
                        class="color-link">{{rowData[col.field]| number:0}}</span>
                      <a *ngSwitchCase="'customerName'" class="link-name" role="button"
                        matTooltip="{{rowData[col.field]}}"
                        (click)="onViewOrderDetail(rowData['customerId'])">{{rowData[col.field].trim().length > 33 ? rowData[col.field].trim().slice(0,30)+'...' : rowData[col.field].trim()}}</a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div *ngIf="!chartShow" class="col-md-12 no-data">
              <div class="col-md-12 item-center" style="min-height: 390px;">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>Hiện tại không có dữ liệu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-table-1 m-0" style="display: flow-root; min-height: 475px;">
            <div class="row m-0 item-center">
              <div class="col-md-6">
                <span class="box-table-1-title pl-10"> Tỉ lệ doanh số theo nhóm sản phẩm</span>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-select name="LevelGroupProduct" placeholder="{{ 'sales.level' | translate }}"
                    [(ngModel)]="LevelGroupProduct" (selectionChange)="changeDoughnutEmployee($event.value)">
                    <mat-option *ngFor="let item of listLevelGroupProduct" [value]="item.LevelGroupProduct">
                      {{
                    item.LevelGroupProductName
                    }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <ng-container *ngIf="chartShowByProductCategoryGorup">
              <div class="row">
                <canvas #canvas id="canvas">{{ chart }}</canvas>
              </div>
              <div class="row mt-40 legend">
                <div class="col-md-6 legend-chart" *ngFor="let data of doughnutData.labels; let i = index">
                  <span class="color-icon" [style.background]="doughnutData.datasets[0].backgroundColor[i]"></span>
                  <span class="legend-text">{{doughnutData.labels[i]}}: {{doughnutData.datasets[0].data[i]}}%</span>
                </div>
              </div>
            </ng-container>
            <div *ngIf="!chartShowByProductCategoryGorup" class="col-md-12 no-data">
              <div class="col-md-12 item-center" style="min-height: 390px;">
                <div class="box-no-data col-md-12">
                  <img src="/assets/icons/components/box.svg" class="box-icon">
                  <div>
                    <span>{{ 'sales.no_data.chart' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>